@import '../../styles/_mixins.scss';

.root {
  background: #ddd;
  color: #666;
  display: inline-block;
  font-size: .75em;
  line-height: 1;
  margin-right: .5em;
  padding: .25em;
}

.button {
  @include plain-button;
  margin-left: .5em;
}
