@import '../../styles/_mixins.scss';

.root {
  background: #ddd;
  color: #666;
  font-size: .75em;
  line-height: 1;
  padding: .25em;
}

.button {
  @include plain-button;
  margin-left: .5em;
}

.exclude {
  background: #666;
  color: #ddd;
}
