.error-page
  %h1= t('errors.maintenance.headline')
  %p= t('errors.maintenance.summary')
  %p= t('errors.assistance_html', email: web_support_email, phone_number: web_support_phone_number)
  .logo-container
    .logo= t('welcome.logo')