.error-page
  %h1= t('errors.maintenance.headline')
  %p= t('errors.maintenance.summary')
  %p= t('errors.assistance', phone_number: fhlb_formatted_phone_number('4156162610'))
  .logo-container
    .logo= t('welcome.logo')