.root,
.forms,
.restaurantList {
  background: pink url('../../../styles/ham.jpg');
  background-attachment: fixed;
}

.root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.listContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.forms {
  margin-bottom: -10px;
  padding: 0 20px;
}

.restaurantList {
  flex-grow: 1;
  padding-top: 1em;
}

@media (min-width: 1000px) {
  .root {
    flex-direction: row-reverse;
    overflow: hidden;
  }

  .mapContainer {
    flex-grow: 1;
  }

  .listContainer {
    flex-grow: 0;
    overflow: auto;
    overflow-anchor: none; // prevent browsers from scrolling to top after vote
    -webkit-overflow-scrolling: touch;
    width: 500px;
  }
}
