@import '../../styles/_variables.scss';

.root {
  padding: .5em;
}

.error,
.success {
  color: $white-color;
}

.error {
  background: red;
}

.notice {
  background: yellow;
}

.success {
  background: green;
}
