- table_data ||= {}
- table_class ||= nil
- deferred = table_data[:deferred] || false
- if deferred
  - table_class << 'table-loading'
%table.table-dashboard-previous-activity{class: ('table-loading' if table_data[:deferred])}
  %tbody
    - @previous_activity.each do |row|
      %tr
        %td
          = row[0]
          %div.dashboard-module-content-light= fhlb_date_standard_numeric(row[2])
        %td= fhlb_formated_currency_unit(row[1])