- no_display ||= false
- close ||= false
.quick-advance-preview.quick-advance-error{style: no_display ? 'display: none' : nil}
  .quick-advance-body
    .quick-advance-icon-section.icon-error-before
      = yield
  - if close
    %button.primary-button.quick-advance-error-button{data: { :'flyout-action' => :close }}= t('global.close')
  - else
    %button.primary-button.quick-advance-back-button.icon-arrow-left-before.quick-advance-error-button= t('dashboard.quick_advance.buttons.rates')
