.quick-advance-preview
  .quick-advance-body.icon-alert-before
    %p= t('dashboard.quick_advance.preview.intro')
    %p.quick-advance-loading-message= t('dashboard.quick_advance.preview.initiate')
    = render 'quick_advance_summary', advance_amount: @advance_amount, advance_type: @advance_type, interest_day_count: @interest_day_count, payment_on: @payment_on, advance_term: @advance_term, funding_date: @funding_date, maturity_date: @maturity_date
  %button.secondary-button.quick-advance-back-button.icon-arrow-left-before= t('dashboard.quick_advance.buttons.back')
  %button.primary-button.confirm-quick-advance{data: {'advance-type' => @advance_type, 'advance-term' => @advance_term, 'advance-rate' => @advance_rate}}= t('dashboard.quick_advance.buttons.initiate')