@import '../styles/_mixins.scss';

.root {
  background: #ddd;
  color: #666;
  font-size: .75em;
  line-height: 1;
  margin-right: .5em;
  padding: .25em;
}

.delete {
  @include plain-button;
  margin-left: .5em;
}
