@import '../../../styles/_mixins';

.root {
  @include page-root;
}

.remove {
  @include plain-button;

  span {
    line-height: 1.5em;
  }
}

.deleteCell {
  text-align: right;
}

.buttonToolbar {
  margin-bottom: 10px;
}
