/.bundle
/db/*.sqlite3
/db/*.sqlite3-journal
/tmp
.idea
.DS_Store
/screens
.env
brakeman.tabs
brakeman.html
.vagrant
coverage
/log/*
cucumber.*json
cucumber.junit
cucumber.*html
cucumber-primary-ready
dump.rdb
ldap/openldap-data/*.ldif
ldap/openldap-data/*dc=com
ldap/openldap-data/run/slapd.pid
ldap/openldap-data/run/slapd.args
config/schedule-override.yml
