@import '../../../styles/mixins';
@import '../../../styles/variables';

.root {
  @include page-root;

  font-size: 1.25em;

  h3 {
    font-size: 1.5em;
  }

  h4 {
    font-size: 1.25em;
  }
}

.grid {
  max-width: 40em;
}

.slackSnippet {
  background: #eee;
  padding: .5em;
  white-space: normal;
}
