=t('emails.quick_report_status.reports_generated', completed: @completed, total: @total)
=t('emails.quick_report_status.start_time', time: fhlb_formatted_time(@start_time))
=t('emails.quick_report_status.end_time', time: fhlb_formatted_time(@end_time))
=t('emails.quick_report_status.elapsed_time', time: fhlb_formatted_duration(@end_time - @start_time))