@import '../../styles/_variables.scss';

.root {
  background: #fcb3f2;
  border: solid black;
  border-width: 0 0 $default-border-width;
  height: 500px;
  overflow: hidden;
  position: relative;
}

@media only screen and (max-height: 600px) {
  .root {
    height: 300px;
  }
}

@media only screen and (max-height: 500px) {
  .root {
    height: 250px;
  }
}

@media only screen and (max-height: 400px) {
  .root {
    height: 200px;
  }
}

.mapSettingsContainer {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 1;
}
