.root {
  background: #e5e3df;
  border: solid black;
  border-width: 2px 0;
  height: 500px;
  overflow: hidden;
  position: relative;
}

@media only screen and (max-height: 600px) {
  .root {
    height: 300px;
  }
}

@media only screen and (max-height: 500px) {
  .root {
    height: 250px;
  }
}

@media only screen and (max-height: 400px) {
  .root {
    height: 200px;
  }
}

.center {
  position: relative;

  &::before,
  &::after {
    background: red;
    content: '';
    height: 3px;
    margin: -6px;
    position: absolute;
    width: 16px;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(135deg);
  }
}

.mapSettingsContainer {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 1;
}
