%button.text-only-button{data: {select_checkboxes_parent_class: parent_class, select_checkboxes_status: 'checked'}}= t('admin.advance_availability.availability_by_term.actions.select_all')
%button.text-only-button{data: {select_checkboxes_parent_class: parent_class, select_checkboxes_status: 'unchecked'}}= t('admin.advance_availability.availability_by_term.actions.deselect_all')