=render layout: 'advance_availability', locals: {active_nav: :advance_availability_member, classes: 'advance-availability-member'} do
  %section.form-fields-section-column-2
    .input-field-container-horizontal
    = render 'reports/reports_table', table_data: @advance_availability_table, sortable: true, disable_auto_width: true, no_wrapping: true, table_class: 'report-table-vertical-headers', default_sort: [1, 'asc']