=render layout: 'advance_availability', locals: {active_nav: :advance_availability_member, classes: 'advance-availability-member'} do
  %a#top
  =form_tag(rules_update_advance_availability_by_member_path, {class: 'rules-availability-by-member-form', method: :put}) do
    =render 'availability_by_member_form_actions'
    %section
      = render 'reports/reports_table', table_data: @advance_availability[:table], sortable: false, disable_auto_width: true, no_wrapping: true, table_class: 'report-table-vertical-headers'
    %section.availability-by-member-form-actions
      = submit_tag(t('admin.term_rules.save'), class: 'primary-button', disabled: true) if @can_edit_trade_rules
    =link_to(t('admin.advance_availability.nav.top_anchor'), {anchor: 'top'}, {class: 'top-anchor'})