- current_status_string = @etransact_enabled ? t('global.on_status') : t('global.off_status')
- switch_status_string = @etransact_enabled ? t('global.off_status') : t('global.on_status')
=render layout: 'advance_availability', locals: {active_nav: :advance_availability_status, classes: 'advance-availability-status'} do
  %section
    %p{class: "add-advance-#{current_status_string.downcase}"}= t('admin.advance_availability.availability_status.status', status: current_status_string)
    - if @can_edit_trade_rules
      %button.primary-button= t('admin.advance_availability.availability_status.button', status: switch_status_string)
  - if @disabled_terms
    %section
      %h2= t('admin.advance_availability.availability_status.disabled_terms')
      =link_to(@can_edit_trade_rules ? t('admin.advance_availability.availability_status.manage_availability') : t('admin.advance_availability.availability_status.view_availability'), rules_advance_availability_by_term_path)
      .rules-availability-by-term-headings
        =render 'reports/reports_table', table_data: @availability_headings
      .rules-availability-by-term-body
        =render 'reports/reports_table', table_data: @disabled_terms
  %section
    %h2= t('admin.advance_availability.availability_status.todays_shutoff')
    =link_to(@can_edit_trade_rules ? t('admin.advance_availability.availability_status.schedule_shutoff') : t('admin.advance_availability.availability_status.view_shutoff'), '#')
    =render 'reports/reports_table', table_data: @shutoff_times