=render layout: 'shutoff_times', locals: {active_nav: :advance_typical_shutoff, classes: 'advance-shutoff-times-typical'} do
  %section
    =render 'reports/reports_table', table_data: @typical_shutoff_times