@import '../../styles/_mixins.scss';
@import '../../styles/_variables.scss';

.root,
.toggle {
  line-height: 1;
}

.root {
  display: inline-block;
  vertical-align: bottom;
}

.toggle {
  @include plain-button;

  padding: 0 .5em;

  &,
  &:hover,
  &:active {
    color: inherit;
  }

  &:hover {
    background: none;
  }
}

.menu {
  border: $default-border;
}

.stat {
  line-height: 1.42857143;
  padding: 3px 20px;
}
