@import '../../styles/_mixins.scss';
@import '../../styles/_variables.scss';

.toggle {
  @include plain-button;
  line-height: 1;
  padding: 0 .5em;
  vertical-align: bottom;

  &:hover {
    background: none;
  }
}

.menu {
  border: $default-border;
}
