@import '../../styles/_mixins.scss';

.root {
  @include plain-button;
  color: rgba(0, 0, 0, .15);
  outline: none;

  &:hover {
    color: rgba(0, 0, 0, .5);
  }
}

.loggedOut {
  cursor: default;
}

.decided {
  color: yellow;
  text-shadow: 1px 1px 1px #000,
               1px -1px 1px #000,
               -1px -1px 1px #000,
               -1px 1px 1px #000;
}
