@import '../styles/_variables.scss';
@import '../styles/_mixins.scss';

.root {
  clear: fix-legacy;
  font-family: $font-family-base;
}

.header {
  clear: fix-legacy;
}

.heading {
  cursor: pointer;
  float: left;
  font-size: 24px;
  margin: 0;
}

.voteButtonContainer {
  float: right;
  margin-left: 1em;
}

.footer {
  clear: fix-legacy;
}

.tagsArea {
  float: left;
}

.tagList {
  @include plain-list;
  display: inline-block;
}

.tagsListEmpty {
  display: block;
}

.tagItem {
  display: inline-block;
}

.deleteButtonContainer {
  float: right;
  margin-left: 1em;
}
