@import '../../styles/_variables.scss';
@import '../../styles/_mixins.scss';

.root {
  background: rgba(255, 255, 255, .9);
  border: $default-border;
  border-radius: 10px;
  box-shadow: inset -3px -3px 5px rgba(128, 0, 0, .2);
  clear: fix-legacy;
  font-family: $font-family-base;
  margin-bottom: 10px;
  padding: 10px;
}

.heading {
  cursor: pointer;
  float: left;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: -.5px;
  margin: 0;
  min-height: 30px;

  span {
    display: inline-block;
    margin-right: .25em;
  }
}

.restaurantNameFormContainer {
  display: inline-block;
}

.voteContainer {
  float: right;
  margin-left: 1em;
}

.voteButtonContainer {
  padding-left: .5em;
}

.addressContainer {
  clear: left;
  margin-bottom: .25em;
}

.footer {
  clear: fix-legacy;
}

.tagsArea {
  float: left;
}

.tagList {
  @include plain-list;
  display: inline-block;
  font-size: 16px;
}

.tagsListEmpty {
  display: block;
}

.tagItem {
  display: inline-block;
  margin-right: .5em;
}

.dropdownContainer {
  float: right;
  height: 30px;
  line-height: 30px;
  margin-left: 1em;
}
