@import '../styles/_mixins.scss';

.root {
  clear: fix-legacy;
}

.header {
  clear: fix-legacy;
}

.heading {
  float: left;
  margin: 0;
}

.voteButtonContainer {
  float: right;
  margin-left: 1em;
}

.footer {
  clear: fix-legacy;
}

.tagsArea {
  float: left;
}

.tagList {
  @include plain-list;
  display: inline-block;
}

.tagItem {
  display: inline-block;
}

.deleteButtonContainer {
  float: right;
  margin-left: 1em;
}