@import '../../styles/_variables.scss';
@import '../../styles/_mixins.scss';

.root {
  background: #fff;
  border: $default-border;
  border-radius: 10px;
  box-shadow: inset -5px -5px 0 rgba(128, 0, 0, .1);
  clear: fix-legacy;
  font-family: $font-family-base;
  margin-bottom: 10px;
  padding: 10px;
}

.heading {
  cursor: pointer;
  float: left;
  font-size: 28px;
  font-weight: bold;
  margin: 0;
  min-height: 30px;

  button {
    letter-spacing: -.5px;
    margin-right: .25em;
  }
}

.headingButton {
  @include plain-button;
}

.restaurantNameFormContainer {
  display: inline-block;
}

.voteContainer {
  float: right;
  margin-left: 1em;
}

.voteButtonContainer {
  padding-left: .5em;
}

.addressContainer {
  clear: left;
  margin-bottom: .25em;
}

.footer {
  clear: fix-legacy;
}

.tagsArea {
  float: left;
}

.dropdownContainer {
  float: right;
  height: 30px;
  line-height: 30px;
  margin-left: 1em;
}
