@mixin plain-button {
  background: none;
  border: 0;
  outline: none;
  padding: 0;
}

@mixin plain-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin autosuggest-container {
  display: inline-block;
  position: relative;

  input {
    display: inline;
    vertical-align: middle;
  }
}

@mixin autosuggest-suggestions-container {
  position: absolute;
  width: 100%;
  z-index: 1;

  ul {
    @include plain-list;
    background: #fff;
    border: 1px solid black;
  }
}

@mixin autosuggest-suggestion {
  cursor: pointer;
  padding: 0 .25em;
}

@mixin autosuggest-suggestion-focused {
  background: pink;
}

@mixin image-replace {
  text-indent: 102%;
  white-space: nowrap;
  overflow: hidden;
  padding: 0;
}
