@mixin plain-button {
  background: none;
  border: 0;
  padding: 0;
}

@mixin plain-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin autosuggest-container {
  display: inline-block;
  position: relative;

  input {
    display: inline;
    vertical-align: middle;
  }
}

@mixin autosuggest-suggestions-container {
  @include plain-list;
  background: #fff;
  border: 1px solid black;
  position: absolute;
  width: 100%;
  z-index: 1;
}

@mixin autosuggest-suggestion {
  cursor: pointer;
  padding: 0 .25em;
}
