/*
 * Colors
 * ========================================================================== */

$background-color: #333;
$border-color: #000;
$link-color: #66e;
$link-hover-color: #44e;
$link-active-color: #22e;
$danger-color: #ff75e3;
$danger-hover-color: #e258c6;
$danger-active-color: #c43bab;

/*
 * Typography
 * ========================================================================== */

$font-family-base: Nunito, sans-serif;

/*
 * Layout
 * ========================================================================== */

$max-content-width: 1000px;

/*
 * Media queries breakpoints
 * ========================================================================== */

$screen-xs-min: 480px;  /* Extra small screen / phone */
$screen-sm-min: 768px;  /* Small screen / tablet */
$screen-md-min: 992px;  /* Medium screen / desktop */
$screen-lg-min: 1200px; /* Large screen / wide desktop */

/*
 * Etc.
 * ========================================================================== */
$default-border-width: 3px;
$default-border: $default-border-width solid $border-color;
