/*
 * Colors
 * ========================================================================== */
$white-color: #fff;
$black-color: #000;
$background-color: #333;
$border-color: $black-color;
$text-color: $black-color;

// Bootstrap overrides
$gray-base: $black-color;
$gray-darker: $black-color;
$gray-dark: $black-color;
$gray: $black-color;
$btn-default-color: $black-color;
$list-group-border: #ddd;
$list-group-link-color: $black-color;
$link-color: #66e;
$brand-danger: #ff75e3;
$brand-primary: $link-color;

/*
 * Typography
 * ========================================================================== */
$font-family-base: Nunito, sans-serif;
$normal-weight: 400;
$bold-weight: 900;

/*
 * Layout
 * ========================================================================== */
$max-content-width: 1000px;

/*
 * Media queries breakpoints
 * ========================================================================== */
$screen-xs-min: 480px;  /* Extra small screen / phone */
$screen-sm-min: 768px;  /* Small screen / tablet */
$screen-md-min: 992px;  /* Medium screen / desktop */
$screen-lg-min: 1200px; /* Large screen / wide desktop */

/*
 * Etc.
 * ========================================================================== */
$default-border-width: 3px;
$default-border: $default-border-width solid $border-color;
$button-border-radius: 4px;
