@import '../../node_modules/react-geosuggest/module/geosuggest.css';
@import './_variables.scss';
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables';
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins';
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/normalize';
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/glyphicons';
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/scaffolding';
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/type';
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/buttons';
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/component-animations';
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/dropdowns';
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/button-groups';
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/forms';
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/input-groups';
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/grid';
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/jumbotron';
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/list-group';
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/tables';
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/navs';
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/close';
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/modals';
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/tooltip';
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/popovers';

html,
body,
#app {
  height: 100%;
}

html {
  background: $background-color;
  font-size: 16px;
  overflow-anchor: none; // prevent browsers from scrolling to top after vote
}

body {
  background: transparent;
  font-family: Nunito, sans-serif;
}

a {
  color: $link-color;
}

.notification {
  &-enter {
    opacity: 0;
    transition: opacity .25s;

    &-active {
      opacity: 1;
    }
  }

  &-leave {
    opacity: 1;
    transition: opacity 1s;

    &-active {
      opacity: 0;
    }
  }
}

.btn-primary {
  background: $link-color;

  &:hover,
  &:focus {
    border-color: $border-color;
  }

  &:active,
  &:hover:active,
  &:focus:active {
    border-color: $border-color;
  }
}

.btn-danger {
  &:hover,
  &:focus {
    border-color: $border-color;
  }

  &:active,
  &:hover:active,
  &:focus:active {
    border-color: $border-color;
  }
}

// causes google maps touch warning to appear above markers
.gm-style-pbc {
  z-index: 5 !important;
  pointer-events: none;
}
