/* stylelint-disable selector-class-pattern */

@import "~@ubilabs/react-geosuggest/module/geosuggest.css";
@import "./variables";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/variables-dark";
@import "~bootstrap/scss/maps";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/containers";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/tables";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/dropdown";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/list-group";
@import "~bootstrap/scss/modal";
@import "~bootstrap/scss/popover";
@import "~bootstrap/scss/helpers/visually-hidden";
@import "~bootstrap/scss/utilities/api";

html,
body,
#app {
  height: 100%;
}

html {
  background: $background-color;
  font-size: 16px;
  overflow-anchor: none; // prevent browsers from scrolling to top after vote
}

body {
  background: transparent;
  font-family: Nunito, sans-serif;
}

a {
  color: $link-color;
  text-decoration: none;
}

label {
  font-weight: bold;
}

button,
input {
  color: inherit;
}

.geosuggest__input {
  box-shadow: none;
}

.notification {
  &-enter {
    opacity: 0;
    transition: opacity .25s;

    &-active {
      opacity: 1;
    }
  }

  &-leave {
    opacity: 1;
    transition: opacity 1s;

    &-active {
      opacity: 0;
    }
  }
}

/* stylelint-disable no-descending-specificity */
.btn-primary {
  background: $link-color;
  border-color: #4f4feb;

  &,
  &:first-child {
    &:active,
    &:hover:active,
    &:focus:active {
      background-color: #3838e9;
    }
  }
}

.btn-danger {
  &,
  &:first-child {
    &:active,
    &:hover:active,
    &:focus:active {
      background-color: #ff42d9;
    }
  }
}

.btn-primary,
.btn-danger {
  &,
  &:first-child {
    &,
    &:disabled,
    &:hover,
    &:active {
      color: $white-color;
    }

    &:hover,
    &:focus {
      border-color: $border-color;
    }

    &:active,
    &:hover:active,
    &:focus:active {
      border-color: $border-color;
    }
  }
}
/* stylelint-enable no-descending-specificity */

.form-text {
  display: block;
}

// causes google maps touch warning to appear above markers
.gm-style-pbc {
  z-index: 5 !important;
  pointer-events: none;
}

.btn-light {
  border-color: $black-color;
}

.btn-xs,
.btn-group-xs > .btn {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

.btn-link {
  text-decoration: none;
}

.tab-content {
  padding-top: 1.5em;
}

.popover-body p:last-child {
  margin: 0;
}
