@import '../../node_modules/react-geosuggest/module/geosuggest.css';
@import './_variables.scss';
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables';
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins';
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/normalize';
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/glyphicons';
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/scaffolding';
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/type';
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/buttons';
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/component-animations';
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/dropdowns';
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/button-groups';
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/forms';
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/grid';
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/list-group';
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/tables';
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/close';
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/modals';
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/tooltip';

html {
  font-size: 16px;
}

body {
  font-family: Nunito;
}

a {
  color: $link-color;
}

.geosuggest__item {
  &:hover {
    background: transparentize(pink, .75);
  }

  &--active {
    &,
    &:hover {
      background: pink;
      color: #000;
    }
  }
}

.geosuggest__input {
  border: $default-border;
  border-radius: 100px;
  box-shadow: inset 5px 5px 0 rgba(128, 0, 0, .1);
  outline: none;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

  &:focus {
    // copied from bootstrap
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
  }
}

.geosuggest__suggests {
  border-color: $border-color;
  margin: 0 20px;
}

@media (max-width: 640px) {
  .geosuggest {
    width: 100%;
  }
}

.notification {
  &-enter {
    opacity: 0;
    transition: opacity .25s;

    &-active {
      opacity: 1;
    }
  }

  &-leave {
    opacity: 1;
    transition: opacity 1s;

    &-active {
      opacity: 0;
    }
  }
}

.btn-primary {
  background: $link-color;

  &:hover,
  &:focus {
    border-color: $border-color;
  }

  &:active,
  &:hover:active,
  &:focus:active {
    border-color: $border-color;
  }
}

.btn-danger {
  &:hover,
  &:focus {
    border-color: $border-color;
  }

  &:active,
  &:hover:active,
  &:focus:active {
    border-color: $border-color;
  }
}
