= render layout: 'devise/sessions/welcome' do
  %form
    %fieldset
      %legend= t('forgot_password.confirmation.title')
      %p= t('forgot_password.confirmation.description')
      = link_to(t('forgot_password.confirmation.no_email'), new_user_password_path)