@import '../../styles/_mixins.scss';
@import '../../styles/_variables.scss';

.root {
  @include filter-form-root;
}

.form {
  @include filter-form-form;
}

.container {
  @include autosuggest-container;

  margin-right: .5em;
}

.input {
  border: $default-border;
  box-shadow: inset 5px 5px 0 rgba(128, 0, 0, .1);
}
