- future_funding_date ||= nil
- active_term_type ||= :vrc
.advance-funding-date-wrapper{style: active_term_type == :vrc ? 'display: none;' : nil}
  %span= t('advances.funding.funding_date')
  -if future_funding_date
    %span= t('advances.funding.funding_on', date: fhlb_date_standard_numeric(@future_funding_date))
  -else
    %span= t('advances.funding.funding_today', date: fhlb_date_standard_numeric(@today))
  %button.advance-alternate-funding-date-edit.text-only-button{disabled: true}= t('advances.funding.edit')