- @html_class = 'white-background'
- @page_title = t('global.page_meta_title', title: t('advances.manage_advances.title'))
.advances.row.report{data: {deferred: @job_status_url, 'deferred-load' => @load_url}}
  .advances-header
    %h1= t('advances.manage_advances.title')
  .advances-main-body
    = render 'reports/reports_table', table_class: 'manage-advances-table', table_data: @advances_data_table, sortable: false
