= render layout: 'add_advance', locals: { title: t('advances.add_advance.titles.complete') } do
  .add-advance-confirmation.add-advance-confirmation
    .add-advance-body
      .add-advance-icon-section.icon-success-before
        %p= t('dashboard.quick_advance.confirmation.intro', date_time: fhlb_datetime_standard_numeric(@initiated_at))
      = render 'add_advance_summary', preview: false, advance_amount: @total_amount, advance_description: @advance_description, advance_program: @advance_program, advance_type: @advance_type, advance_rate: @advance_rate, human_interest_day_count: @human_interest_day_count, human_payment_on: @human_payment_on, advance_term: @advance_term, advance_raw_term: @advance_raw_term, trade_date: @trade_date, funding_date: @funding_date, maturity_date: @maturity_date, stock: @stock, advance_number: @advance_number
    .advances-actions
      =link_to(t('advances.manage_advances.title'), advances_manage_path, class: 'secondary-button')
      =link_to(t('advances.actions.another_advance'), advances_select_rate_path, class: 'primary-button')