@import '../../styles/_variables.scss';

.root {
  background: $white-color;
  border: $default-border;
  border-radius: 10px;
  padding: 10px;

  label {
    display: block;
    font-weight: bold;
  }
}
