@import '../../styles/variables';

.root {
  background: $white-color;
  border: $default-border;
  border-radius: 10px;
  padding: 10px;

  label {
    display: block;
    font-weight: bold;
  }
}

.checkbox {
  &,
  & + .checkbox {
    margin: 0;
  }
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
