// Primary Colors
$brand-blue: #3c5db3;
$light-blue: #d9e3ed;
$lightest-blue: #e5eff9;

$darkest-gray: #2e313e;
$dark-gray: #4f535a;
$medium-gray: #8f99a0;
$secondary-gray: #dbdbdb;
$light-gray: #eef1f0;

$white: #fff;

// Accent Colors
$actionable-blue: #5ea2e3;
$accent-green: #38a76f;
$dark-green: #187e62;
$light-green: #6cc196;

// Issue/Warning Colors
$alert-red: #d6443f;
$alert-yellow: #ffd823;
$text-yellow: #d5aa2a;

// Additional Colors
$approval-green: #38a76f;

// Typography Colors
$text-color: $dark-gray;

