.dropdown {
  @extend %typography-dropdown-selector;
  position: relative;
  overflow: visible;
  select {
    display: none;
  }
  &.single-choice-dropdown {
    &:after {
      @extend %very-small-icon-font;
      padding: 8px 11px;
    }
    input {
      @extend %typography-dropdown-selector;
    }
  }
  &.open {
    ul {
      display: block;
    }
    .dropdown-selection {
      background-color: $light-gray;
    }
  }
  ul {
    display: none;
    position: absolute;
    margin: -1px 0 0;
    padding: 0;
    width: 100%;
    top: 30px;
    right: 0;
    list-style: none;
    border: 1px solid #5ea2e3;
    border-radius: 3px;
    box-sizing: border-box;
    background: $white;
    z-index: 1;
    overflow-y: scroll;
  }
  li {
    @extend %truncate-text;
    padding: 0px 0 3px 10px;
    &:first-child {
      padding-top: 5px;
    }
    &:hover, &.selected {
      color: $actionable-blue;
      font-weight: $semibold-weight;
    }
  }
}

.dropdown-selection {
  @extend %input-field-styling;
  @extend %truncate-text;
  color: $dark-gray;
  display: table-cell;
  vertical-align: middle;
  width: (3 * $grid-column-width) + (2 * $gutter-width);
  padding-right: 35px;
}

