$light-weight: 200;
$normal-weight: 400;
$bold-weight: 700;

// From Cooper Style Guide
$default-font-family: 'SourceSansPro', 'Segoe UI', 'Myriad Pro', sans-serif;
$light-font-family: 'SourceSansPro-Light', 'Segoe UI', 'Myriad Pro', sans-serif;;
$default-font-size: 15px; // sets rem in _base.scss

$largest-font-size: 5rem;
$large-font-size: 1.2rem;
$normal-font-size: 1rem;
$small-font-size: 0.867rem;
$smallest-font-size: 0.8rem;

@mixin default-font {
  font-family: $default-font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}