$extralight-weight: 200 !default;
$light-weight: 300 !default;
$normal-weight: 400 !default;
$semibold-weight: 600 !default;
$bold-weight: 700 !default;
$tight-line-height: 1.2;
$loose-line-height: 1.538;

@font-face {
  font-family: 'SourceSansPro';
  src: font-url('SourceSansPro-Regular.eot');
  src:font-url('SourceSansPro-Regular') format('embedded-opentype'),
  font-url('SourceSansPro-Regular.woff') format('woff'),
  font-url('SourceSansPro-Regular.ttf') format('truetype'),
  font-url('SourceSansPro-Regular.svg') format('svg');
  font-weight: $normal-weight;
  font-style: normal;
}

@font-face {
  font-family: 'SourceSansPro';
  src: font-url('SourceSansPro-ExtraLight.eot');
  src:font-url('SourceSansPro-ExtraLight') format('embedded-opentype'),
  font-url('SourceSansPro-ExtraLight.woff') format('woff'),
  font-url('SourceSansPro-ExtraLight.ttf') format('truetype'),
  font-url('SourceSansPro-ExtraLight.svg') format('svg');
  font-weight: $extralight-weight;
  font-style: normal;
}

@font-face {
  font-family: 'SourceSansPro';
  src: font-url('SourceSansPro-Light.eot');
  src:font-url('SourceSansPro-Light') format('embedded-opentype'),
  font-url('SourceSansPro-Light.woff') format('woff'),
  font-url('SourceSansPro-Light.ttf') format('truetype'),
  font-url('SourceSansPro-Light.svg') format('svg');
  font-weight: $light-weight;
  font-style: normal;
}

@font-face {
  font-family: 'SourceSansPro';
  src: font-url('SourceSansPro-Semibold.eot');
  src:font-url('SourceSansPro-Semibold') format('embedded-opentype'),
  font-url('SourceSansPro-Semibold.woff') format('woff'),
  font-url('SourceSansPro-Semibold.ttf') format('truetype'),
  font-url('SourceSansPro-Semibold.svg') format('svg');
  font-weight: $semibold-weight;
  font-style: normal;
}

@font-face {
  font-family: 'SourceSansPro';
  src: font-url('SourceSansPro-Bold.eot');
  src:font-url('SourceSansPro-Bold') format('embedded-opentype'),
    font-url('SourceSansPro-Bold.woff') format('woff'),
    font-url('SourceSansPro-Bold.ttf') format('truetype'),
    font-url('SourceSansPro-Bold.svg') format('svg');
  font-weight: $bold-weight;
  font-style: normal;
}

// From Cooper Style Guide
$default-font-family: 'SourceSansPro', 'Segoe UI', 'Myriad Pro', sans-serif;
$default-font-size: 15px; // sets rem in _base.scss

// Reports Font Style
$print-font-family: 'SourceSansPro';

@mixin default-font {
  font-family: $default-font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin print-font {
  font-family: $print-font-family;
}