%input-field-styling {
  border: 1px solid $actionable-blue;
  border-radius: $default-border-radius;
  color: $text-color;
  padding: 5px 0 3px 10px;
  box-sizing: border-box;
  width: 100%;
  display: inline-block;
  height: 30px;
  line-height: normal;
  @include input-placeholder {
    color: $dark-gray;
    @include typography-field-placeholder;
  }
  &:focus {
    background-color: $light-gray;
  }
}

.input-field-container {
  position: relative;
  display: inline-block;
  line-height: $input-field-height;
  height: $input-field-height; // fixes a phantom 1px whitespace occurring under input-field-containers
  overflow: hidden;
  width: 100%;
  @extend %typography-field-value;
  &:before {
    position: absolute;
    top: 10px;
    left: 8px;
    z-index: 1;
    color: $actionable-blue;
    font-size: 0.75rem;
  }
  &:after {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 5px 8px;
    z-index: 0;
    background: $actionable-blue;
    color: white;
    font-size: 1.35rem;
    border-bottom-right-radius: $default-border-radius;
    border-top-right-radius: $default-border-radius;
  }
  input {
    @extend %input-field-styling;
    &.input-field-error {
      border-color: $alert-red;
    }
  }

  &[class*=" icon-"], &[class^="icon-"] {
    &[class$="-before"], &[class*="-before "] {
      input {
        padding-left: 30px;
      }
    }
  }
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

label {
  @extend %typography-field-label;
  color: $medium-gray;
}

.form-error {
  color: $alert-red;
  @extend %typography-error-message;
  margin-bottom: 30px;
}

.input-field-container-horizontal {
  float: left;
  margin-right: 10px;
  .input-field-container {
    width: auto;
  }
}

.securid-form  {
  .input-field-container {
    display: block;
    margin-bottom: 10px;
    input {
      padding-left: 10px;
      padding-right: 10px;
      &.securid-field-pin {
        width: 55px;
      }
      &.securid-field-token {
        width: 85px;
      }
    }
  }
  .form-error {
    margin-bottom: 10px;
    display: none;
    clear: both;
  }
}

.form-flash-message {
  position: relative;
  display: none;
  &:before {
    display: block;
    position: absolute;
    top: 5px;
    left: 0;
    width: 30px;
    height: 30px;
    @extend %icon-font;
    font-size: 30px;
  }
  &[data-type="success"] {
    color: $approval-green;
    padding-top: 10px;
    padding-left: 50px;
    min-height: 40px;
    &:before {
      content: $icon-success;
    }
  }
  &[data-type="error"] {
    padding-bottom: 20px;
    color: $alert-red;
  }
}
