%nav-toc {
  text-transform: uppercase;
  @include typography-dropdown-selector;
  a {
    display: block;
    margin-bottom: 5px;
  }
}

.nav-toc {
  @extend %nav-toc;
}

%link-style {
  text-decoration: none;
  color: $actionable-blue;
  &:hover {
    text-decoration: underline;
  }
  &:active {
    color: $brand-blue;
  }
}