%table-striped {
  width: 100%;
  margin-bottom: 25px;
  @extend %typography-paragraph-tight;
  tbody {
    tr:nth-child(odd) td,
    tr:nth-child(odd) th {
      background: $lightest-blue;
    }
  }
  thead + tbody {
    tr:nth-child(odd) td,
    tr:nth-child(odd) th {
      background: transparent;
    }
    tr:nth-child(even) td,
    tr:nth-child(even) th {
      background: $lightest-blue;
    }
  }
}

%table-report {
  @extend %empty_table;
  margin-bottom: 50px;

  td, th {
    border: solid $light-blue;
    border-width: 0 1px 1px 0;
    padding: 10px 15px 10px 15px;
    font-weight: inherit;
    width: 1px; // Causes the table cell to shrink to fit
    white-space: nowrap;
  }

  th {
    text-align: left;
  }

  thead {
    @extend %typography-table-heading;
    background-color: $light-gray;
  }

  tbody {
    @extend %typography-table-cell;
    tr:nth-child(odd) {
      background-color: $lightest-blue;
    }
  }

  thead + tbody {
    tr:nth-child(odd) {
      background-color: transparent;
    }
    tr:nth-child(even) {
      background-color: $lightest-blue;
    }
  }

  tfoot {
    @extend %table-footer-cell;
  }
}

%table-nested-rows {
  .nested-row td:first-child {
    padding-left: 40px;
  }
}

%table-footer-cell {
  @extend %typography-table-total;
  background-color: $medium-gray;
  border-left: 1px solid $medium-gray;
  border-right: 1px solid $medium-gray;
  color: $white;
}

@mixin table-cell-treatment {
  width: auto;
  box-sizing: border-box;
  padding: 10px;
}

td {
  .number-negative {
    display: inline-block;
    margin-right: -3px;
  }
}

table.table-loading, table.table-error {
  td.table-loading-cell, td.table-error-cell {
    @extend %typography-paragraph;
    background: $white;
    text-align: center;
    padding: 40px 0px;
    vertical-align: baseline;
    &:before {
      display: inline-block;
      pointer-events: none;
      vertical-align: middle;
      margin-right: 20px;
    }
  }
  .table-loading-cell:before {
    @include icon-loading;
    content: '';
  }

  .table-error-cell:before {
    @extend %icon-alert;
    font-size: $spinner-size;
    color: $alert-red;
  }
}

.table-error-cell {
  display: none;
}

table.table-error  {
  td.table-loading-cell {
    display: none;
  }

  td.table-error-cell {
    display: table-cell;
  }
}

%empty_table_cell {
  @extend %typography-table-data-unavailable;
  color: $medium-gray;
  background: $white;
  text-align: center;
  padding: 40px 0;
}

%empty_table {
  width: 100%;
  text-align: left;
  border: 1px solid $light-blue;
  border-collapse: collapse;
  line-height: 1;
}
