%table-striped {
  width: 100%;
  margin-bottom: 25px;
  @extend %typography-paragraph-tight;
  tbody {
    tr:nth-child(odd) td,
    tr:nth-child(odd) th {
      background: $lightest-blue;
    }
  }
}

td {
  .number-negative {
    display: inline-block;
    margin-right: -3px;
  }
}

table.table-loading, table.table-error {
  td.table-loading-cell, td.table-error-cell {
    @extend %typography-paragraph;
    background: $white;
    text-align: center;
    padding: 40px 0px;
    vertical-align: baseline;
    &:before {
      display: inline-block;
      pointer-events: none;
      vertical-align: middle;
      margin-right: 20px;
    }
  }
  .table-loading-cell:before {
    @include icon-loading;
    content: '';
  }

  .table-error-cell:before {
    @extend %icon-alert;
    font-size: $spinner-size;
    color: $alert-red;
  }
}

.table-error-cell {
  display: none;
}

table.table-error  {
  td.table-loading-cell {
    display: none;
  }

  td.table-error-cell {
    display: table-cell;
  }
}

%empty_table_cell {
  @extend %typography-table-data-unavailable;
  color: $medium-gray;
  background: $white;
  text-align: center;
  padding: 40px 0;
}

%empty_table {
  width: 100%;
  text-align: left;
  border: 1px solid $light-blue;
  border-collapse: collapse;
  line-height: 1;
}