@mixin typography-page-title {
  font-size: 1.2rem;
  font-weight: $bold-weight;
}

@mixin typography-section-title {
  font-size: 1.2rem;
  font-weight: $semibold-weight;
}

@mixin typography-subtitle {
  font-size: 1rem;
  font-weight: $semibold-weight;
  line-height: $tight-line-height;
}

@mixin typography-paragraph {
  font-size: 1rem;
  font-weight: $normal-weight;
  line-height: $loose-line-height;
}

@mixin typography-default-text {
  @include typography-paragraph;
}

@mixin typography-header-text {
  font-size: 1rem;
  font-weight: $normal-weight;
}

@mixin typography-header-nav {
  font-size: 0.8667rem;
  font-weight: $normal-weight;
}

@mixin typography-dashboard-gauge-label {
  font-size: 0.8667rem;
  font-weight: $normal-weight;
}

@mixin typography-dashboard-account-summary {
  font-size: 0.8rem;
  font-weight: $normal-weight;
}

@mixin typography-paragraph-tight {
  @include typography-paragraph;
  line-height: $tight-line-height;
}

@mixin typography-table-annotation {
  font-size: 0.7333rem;
  font-weight: $light-weight;
}

@mixin typography-table-heading {
  font-size: 0.8667rem;
  font-weight: $semibold-weight;
}

@mixin typography-table-cell {
  font-size: 0.8rem;
  font-weight: $normal-weight;
}

@mixin typography-field-placeholder {
  font-size: 1rem;
  font-weight: $normal-weight;
}

@mixin typography-field-value {
  font-size: 1rem;
  font-weight: $normal-weight;
}

@mixin typography-graph-label {
  font-size: 0.7333rem;
  font-weight: $normal-weight;
}

@mixin typography-graph-data {
  font-size: 1rem;
  font-weight: $semibold-weight;
}

%typography-page-title {
  @include typography-page-title;
}

%typography-section-title {
  @include typography-section-title;
}

%typography-header-nav {
  @include typography-header-nav;
}

%typography-paragraph {
  @include typography-paragraph;
}

%typography-paragraph-tight {
  @include typography-paragraph-tight;
}

%typography-default-text {
  @include typography-default-text;
}

%typography-dashboard-gauge-label {
  @include typography-dashboard-gauge-label;
}

%typography-dashboard-account-summary {
  @include typography-dashboard-account-summary;
}

%typography-table-annotation {
  @include typography-table-annotation;
}

%typography-table-heading {
  @include typography-table-heading;
}

%typography-table-cell {
  @include typography-table-cell;
}

%typography-subtitle {
  @include typography-subtitle;
}

%typography-field-placeholder {
  @include typography-field-placeholder;
}

%typography-field-value {
  @include typography-field-value;
}

%typography-graph-label {
  @include typography-graph-label;
}

%typography-graph-data {
  @include typography-graph-data;
}
