@mixin typography-page-title {
  font-size: 1.4667rem;
  font-weight: $semibold-weight;
}

@mixin typography-section-title {
  font-size: 1.2rem;
  font-weight: $semibold-weight;
}

@mixin typography-subtitle {
  font-size: 1rem;
  font-weight: $semibold-weight;
  line-height: $tight-line-height;
}

@mixin typography-paragraph {
  font-size: 1rem;
  font-weight: $normal-weight;
  line-height: $loose-line-height;
}

@mixin typography-default-text {
  @include typography-paragraph;
}

@mixin typography-header-text {
  font-size: 1rem;
  font-weight: $normal-weight;
}

@mixin typography-header-nav {
  font-size: 0.8667rem;
  font-weight: $normal-weight;
}

@mixin typography-dashboard-gauge-label {
  font-size: 0.8667rem;
  font-weight: $normal-weight;
}

@mixin typography-calendar-day {
  font-size: 0.8667rem;
  font-weight: $normal-weight;
}

@mixin typography-dropdown-selector {
  font-size: 0.8667rem;
  font-weight: $semibold-weight;
}

@mixin typography-dashboard-account-summary {
  font-size: 0.8667rem;
  font-weight: $normal-weight;
}

@mixin typography-paragraph-tight {
  @include typography-paragraph;
  line-height: $tight-line-height;
}

@mixin typography-table-annotation {
  font-size: 0.7333rem;
  font-weight: $light-weight;
}

@mixin typography-table-cell-heading {
  font-size: 1rem;
  font-weight: $light-weight;
}

@mixin typography-table-heading {
  font-size: 0.8667rem;
  font-weight: $semibold-weight;
}

@mixin typography-table-cell {
  font-size: 0.8rem;
  font-weight: $normal-weight;
}

@mixin typography-table-total {
  font-size: 0.8rem;
  font-weight: $semibold-weight;
}

@mixin typography-table-link {
  font-size: 0.8rem;
  font-weight: $normal-weight;
  text-transform: uppercase;
}

@mixin typography-table-button {
  font-size: 0.8667rem;
  font-weight: $semibold-weight;
}

@mixin typography-field-placeholder {
  font-size: 0.8667rem;
  font-weight: $normal-weight;
}

@mixin typography-field-value {
  font-size: 0.8667rem;
  font-weight: $semibold-weight;
}

@mixin typography-field-label {
  font-size: 1rem;
  font-weight: $normal-weight;
}

@mixin typography-graph-label {
  font-size: 0.7333rem;
  font-weight: $normal-weight;
}

@mixin typography-graph-data {
  font-size: 1rem;
  font-weight: $semibold-weight;
}

@mixin typography-confirmation-label {
  font-size: 1.2rem;
  font-weight: $normal-weight;
}

@mixin typography-confirmation-data {
  font-size: 1.2rem;
  font-weight: $semibold-weight;
}

@mixin typography-report-summary {
  font-size: 2.4rem;
  font-weight: $light-weight;
}

@mixin typography-error-message {
  font-size: 1rem;
  font-weight: $normal-weight;
}

@mixin typography-table-data-unavailable {
  font-size: 1.6rem;
  font-weight: $normal-weight;
}

@mixin typography-print-header {
  @include print-font;
  font-size: 17pt;
  font-weight: $semibold-weight;
}

@mixin typography-print-subheader {
  @include print-font;
  font-size: 13pt;
  font-weight: $semibold-weight;
}

@mixin typography-print-summary-title {
  @include print-font;
  font-size: 9pt;
  font-weight: $semibold-weight;
}

@mixin typography-print-summary-data {
  @include print-font;
  font-size: 15pt;
  font-weight: $light-weight;
}

@mixin typography-print-details {
  @include print-font;
  font-size: 10pt;
  font-weight: $normal-weight;
}

@mixin typography-print-table-heading {
  @include print-font;
  font-size: 6pt;
  font-weight: $bold-weight;
}

@mixin typography-print-table-cell {
  @include print-font;
  font-size: 6pt;
  font-weight: $normal-weight;
}

@mixin typography-print-table-total {
  @include print-font;
  font-size: 6pt;
  font-weight: $bold-weight;
}

@mixin typography-print-footnote {
  @include print-font;
  font-size: 5.5pt;
  font-weight: $normal-weight;
}

@mixin typography-print-footer {
  @include print-font;
  font-size: 5pt;
  font-weight: $normal-weight;
}

@mixin typography-footnote {
  font-size: 0.6667rem;
  font-weight: $normal-weight;
}

%typography-page-title {
  @include typography-page-title;
}

%typography-section-title {
  @include typography-section-title;
}

%typography-header-nav {
  @include typography-header-nav;
}

%typography-header-text {
  @include typography-header-text;
}

%typography-paragraph {
  @include typography-paragraph;
}

%typography-paragraph-tight {
  @include typography-paragraph-tight;
}

%typography-default-text {
  @include typography-default-text;
}

%typography-dashboard-gauge-label {
  @include typography-dashboard-gauge-label;
}

%typography-dashboard-account-summary {
  @include typography-dashboard-account-summary;
}

%typography-table-annotation {
  @include typography-table-annotation;
}

%typography-table-heading {
  @include typography-table-heading;
}

%typography-table-cell {
  @include typography-table-cell;
}

%typography-table-total {
  @include typography-table-total;
}

%typography-table-link {
  @include typography-table-link;
}

%typography-table-button {
  @include typography-table-button;
}

%typography-subtitle {
  @include typography-subtitle;
}

%typography-field-placeholder {
  @include typography-field-placeholder;
}

%typography-field-value {
  @include typography-field-value;
}

%typography-field-label {
  @include typography-field-label;
}

%typography-graph-label {
  @include typography-graph-label;
}

%typography-graph-data {
  @include typography-graph-data;
}

%typography-confirmation-label {
  @include typography-confirmation-label;
}

%typography-confirmation-data {
  @include typography-confirmation-data;
}

%typography-report-summary {
  @include typography-report-summary;
}

%typography-calendar-day {
  @include typography-calendar-day;
}

%typography-dropdown-selector {
  @include typography-dropdown-selector;
}

%typography-table-cell-heading {
  @include typography-table-cell-heading;
}

%typography-error-message {
  @include typography-error-message;
}

%typography-table-data-unavailable {
  @include typography-table-data-unavailable;
}

%typography-print-header {
  @include typography-print-header;
}

%typography-print-subheader {
  @include typography-print-subheader;
}

%typography-print-table-heading {
  @include typography-print-table-heading;
}

%typography-print-table-cell {
  @include typography-print-table-cell;
}

%typography-print-table-total {
  @include typography-print-table-total;
}

%typography-print-footnote {
  @include typography-print-footnote;
}

%typography-print-footer {
  @include typography-print-footer;
}

%typography-print-summary-title {
  @include typography-print-summary-title;
}

%typography-print-summary-data {
  @include typography-print-summary-data;
}

%typography-print-details {
  @include typography-print-details;
}

%typography-footnote {
  @include typography-footnote;
}
