@import '../../styles/_mixins.scss';

.root {
  @include plain-list;

  display: inline-block;
  font-size: 16px;
  margin-bottom: 5px;
}

.empty {
  display: block;
  margin-bottom: 0;
}

.tagItem {
  display: inline-block;
  margin-right: .5em;
}
