- placeholder ||= nil
- open_direction ||= 'right'
- presets ||= []
- form ||= nil
- single_date_picker ||= false
- input_field_text ||= "#{t('datepicker.single.input', date: '{replace_date}')}"
- max_date ||= false
- min_date ||= false
- start_date ||= false
- end_date ||= false
- date_picker_filter ||= nil
- today = Time.zone.today
- from_label ||= single_date_picker ? t('datepicker.single.from_label') : t('datepicker.range.from_label')
- linked_input_field ||= nil
- invalid_dates ||= nil
- disable_weekends ||= false
- date_picker_data = { |
  :'date-picker-presets' => presets.to_json, |
  :'date-picker-open-direction' => open_direction, |
  :'date-picker-form' => form, |
  :'date-picker-single-date-picker' => single_date_picker.to_s, |
  :'date-picker-max-date' => max_date || today, |
  :'date-picker-min-date' => min_date, |
  :'date-picker-start-date' => start_date || today, |
  :'date-picker-end-date' => end_date, |
  :'date-picker-today' => today, |
  :'date-picker-filter-options' => ReportsController::DATE_PICKER_FILTERS.to_json, |
  :'date-picker-filter' => date_picker_filter, |
  :'date-picker-invalid-dates' => invalid_dates, |
  :'date-picker-disable-weekends' => disable_weekends.to_s, |
  :'date-picker-linked-input-field' => linked_input_field, |
  :'date-picker-from-label' => from_label }


%span.input-field-container.pull-right.icon-calendar-after.datepicker-trigger{data: {:'date-picker-input-field-text' => input_field_text}}
  %input{placeholder: placeholder, disabled: true}
.datepicker-wrapper{data: date_picker_data}
