- dropdown_name ||= ''
- default_value ||= ''
- default_text ||= ''
- dropdown_options ||= []
.input-field-container.icon-chevron-after.single-choice-dropdown.dropdown
  = select_tag(dropdown_name, options_for_select(dropdown_options, default_value))
  .dropdown-selection= default_text
  %ul
    - dropdown_options.each do |label, value|
      %li{data: {dropdown: {value: value}}}= label