- placeholder ||= nil
- icon ||= nil
- field_class ||= []
- field_data ||= {}
- location ||= 'before'
%span.input-field-container{class: icon ? "icon-#{icon}-#{location}" : nil}
  %input{placeholder: placeholder, class: field_class, data: field_data}
