.settings-users-overlay
  %h3=t('settings.account.delete_user.title')
  %p.settings-users-overlay-details.icon-success-before=t('settings.account.delete_user.success_html', name: @user.display_name)
  %button.primary-button{data: {'flyout-action' => 'close'}}= t('global.close')