.settings-users-overlay.settings-user-form
  %h3=t('settings.account.edit.title')
  = render 'user_form', user: @user
  = link_to(t('settings.account.edit.delete'), actions[:delete_disabled] ? '#' : user_confirm_delete_path(@user), class: 'secondary-button settings-user-delete', disabled: actions[:delete_disabled] ? 'disabled' : false, remote: true)
  .settings-user-form-actions
    %button.secondary-button{data: {'flyout-action' => 'close'}}= t('global.cancel')
    %button.primary-button= t('settings.account.edit.save')