= render layout: 'devise/sessions/welcome' do
  = form_for(current_user, url: user_update_password_path, validate: true, html: { method: :put }) do |f|
    = render 'password_form', include_logout: true, user: current_user, form_builder: f