= render layout: 'devise/sessions/welcome' do
  %form
    %fieldset
      .password-change-success.form-flash-message{data:{type: 'success'}}= t('devise.passwords.updated')
      = link_to(t('global.continue'), @next_location, class: 'primary-button')