.letters-of-credit.letters-of-credit-amend
  .row
    .column-9x3-left
      %h1= t('letters_of_credit.manage.amend.title')
      %p= t('letters_of_credit.manage.amend.lc_number', lc_number: @lc_number)
