.letters-of-credit.letters-of-credit-manage.row
  %h1= @title
  -if !@lc_agreement_flag
    %p= t('letters_of_credit.manage.not_authorized', url: resources_download_path(file: :form_1465)).html_safe
  =link_to(t('letters_of_credit.manage.request'), letters_of_credit_request_path, {class: 'secondary-button'}) if policy(:letters_of_credit).request?
  = render 'reports/reports_table', table_data: @table_data, sortable: false