- @page_title = t('global.page_meta_title', title: @title)
.letters-of-credit.letters-of-credit-manage.row
  %h1= @title
  %button.secondary-button= t('letters_of_credit.manage.request')
  = render 'reports/reports_table', table_data: @table_data, sortable: false