.report-print-footer
  = t('global.fhlb_full')
  %span.report-bank-name
    = current_member_name
  %span.report-as-of
    = I18n.t('letters_of_credit.pdf.requested')
    = fhlb_date_standard_numeric(@letter_of_credit_request.created_at)
  %span.page 1