@import '../../styles/mixins';

.notifications {
  @include plain-list;

  bottom: 0;
  position: fixed;
  margin: 1em;
  max-width: 300px;
  transition: height .5s;
  z-index: 1; // at same level as page-root-layer
}

.notificationContainer {
  display: inline-block;

  &:not(:first-child) {
    margin-top: 1em;
  }
}
