@import '../../styles/_mixins.scss';

.notifications {
  @include plain-list;

  bottom: 0;
  position: fixed;
  margin: 1em;
  max-width: 300px;
  transition: height .5s;
}

.notificationContainer {
  display: inline-block;

  &:not(:first-child) {
    margin-top: 1em;
  }
}
