@import "../../styles/mixins";
@import "../../styles/variables";

.root {
  @include info-window;
  margin-bottom: 40px;
}

.buttonContainer {
  background: $white-color;
  border: $default-border;
  padding: 10px;
  margin-bottom: 10px;
  white-space: nowrap;
}
