.data-visibility {
  section {
    @extend %bordered-section;
  }
}

.data-visibility-flags {
  h3 {
    @extend %typography-table-total;
    text-transform: uppercase;
    color: $medium-gray;
    margin: 0 0 10px;
  }
  section {
    @extend %clearfix;
  }
  select {
    width: 280px;
  }
}

.data-visibility-select-member-section {
  background-color: $light-gray;
  padding-bottom: 30px;
  h2 {
    margin-bottom: 15px;
  }
}

.data-visibility-flags-table-section {
  @extend %form-stylized-disabled-checkboxes;
  width: 440px;
  &:nth-child(even) {
    float: left;
  }
  &:nth-child(odd) {
    float: right;
  }
  table {
    margin-bottom: 20px;
    border: none;
    border-top: 1px solid $light-blue;
    border-bottom: 1px solid $light-blue;
    &.report-table tbody tr.data-source-disabled {
      &:nth-child(odd), &:nth-child(even) {
        background-color: $alert-pink;
        color: $alert-red;
      }
    }
    td {
      border: none;
      &:first-child {
        width: 13%;
        padding: 0;
        text-align: center;
      }
      &:last-child {
        @extend %typography-table-heading;
      }
    }
  }
  &:nth-of-type(5), &:nth-of-type(6) {
    table {
      margin-bottom: 0;
    }
  }
}

.data-visibility-flags-form {
  input[type=submit] {
    width: 100%;
    margin-bottom: 20px;
  }
}

.data-visibility-status {
  h2 {
    display: inline-block;
  }
  a {
    @extend %typography-table-button;
    float: right;
    text-transform: uppercase;
  }

  table {
    margin-top: 30px;
    th, td {
      box-sizing: border-box;
      text-align: left;
      &:first-child {
        width: 148px;
      }
    }
  }

  .status-off {
    position: relative;
    padding-left: 50px;
    margin: 0;
    font-weight: bold;
    &:before {
      @extend %absolute-pseudoelement;
      @extend %vertical-center;
      left: 0;
      width: 20px;
      height: 20px;
      background-image: image-url('fhlb-status-off-small.svg');
    }
  }
}