=simple_format(t("securities.pledge.additional_certifications"))
.additional-legal
  %h3= t("securities.pledge.anti_preditory_lending_title")
  =simple_format(t("securities.pledge.anti_preditory_lending_text"))
  %span= t('securities.pledge.and')
  %h3= t("securities.pledge.nontraditional_and_subprime_mortgage_title")
  =simple_format(t("securities.pledge.nontraditional_and_subprime_mortgage_text"))