- @page_title = t('global.page_meta_title', title: @title)
.securities.row
  .securities-header
    %h1= @title
  .securities-main-body.securities-release
    .column-9x3-left
      = render partial: 'form', locals: { type: :safekeep, account_number: @securities_release_request.account_number, url: securities_submit_safekeep_path }
    .delete-release-flyout
      %h2= t('securities.safekeep.delete_request.title')
      %button.secondary-button{data: {'flyout-action' => 'close'}}= t('securities.release.delete_request.continue')
      = link_to(t('securities.release.delete_request.delete'), securities_manage_path, class: 'primary-button')
    =form_tag(securities_download_safekeep_path, name: 'securities-release-download')