@import '../../styles/_variables.scss';

.suggestItem {
  &:hover {
    background: transparentize(pink, .75);
  }
}

.suggestItemActive {
  &,
  &:hover {
    background: pink;
    color: #000;
  }
}

.input {
  border: $default-border;
  border-radius: 100px;
  box-shadow: inset 5px 5px 0 rgba(128, 0, 0, .1);
  outline: none;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

  &:focus {
    // copied from bootstrap
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
  }
}

.suggests {
  border-color: $border-color;
  margin: 0 20px;
}

@media (max-width: 640px), (min-width: 1000px) {
  .geosuggest {
    width: 100%;
  }
}
