- @page_title = t('welcome.meta_title')
%section.welcome
  .row
    .column-4x8-left
      .logo-container
        .logo= t('welcome.logo')
    .column-4x8-right
      %h1= t('welcome.title')
  .row
    .column-4x8-left
      &nbsp;
    .column-4x8-right
      %p.welcome-intro= t('welcome.intro_html', url: web_support_email, phone_number: web_support_phone_number)
      = yield