@import "../../styles/variables";

@keyframes move {
  0% {
    animation-timing-function: cubic-bezier(0, 0, .5, .875);
    transform: translateX(0);
  }

  50% {
    animation-timing-function: cubic-bezier(.5, .125, 1, 1);
    transform: translateX(187.5px);
  }

  100% {
    animation-timing-function: cubic-bezier(0, 0, .5, .875);
    transform: translateX(400px);
  }
}

@keyframes resize {
  0% {
    animation-timing-function: cubic-bezier(0, 0, .25, 1);
    transform: scale(0);
  }

  50% {
    animation-timing-function: cubic-bezier(.75, 0, 1, 1);
    transform: scale(1);
  }

  100% {
    animation-timing-function: cubic-bezier(0, 0, .25, 1);
    transform: scale(0);
  }
}

.root {
  height: 75px;
  padding: 25px 0;
  margin: 0 auto;
  width: 400px;
  position: relative;

  > * {
    animation: move 2s infinite linear;
    position: absolute;

    > * {
      animation: resize 2s infinite linear;
      background: pink;
      border: $default-border;
      border-radius: 50%;
      height: 25px;
      width: 25px;
    }

    &:nth-child(1) {
      &,
      > * {
        animation-delay: -0s;
      }
    }

    &:nth-child(2) {
      &,
      > * {
        animation-delay: -.4s;
      }
    }

    &:nth-child(3) {
      &,
      > * {
        animation-delay: -.8s;
      }
    }

    &:nth-child(4) {
      &,
      > * {
        animation-delay: -1.2s;
      }
    }

    &:nth-child(5) {
      &,
      > * {
        animation-delay: -1.6s;
      }
    }
  }
}

@keyframes moveSmall {
  0% {
    animation-timing-function: cubic-bezier(0, 0, .5, .875);
    transform: translateX(0);
  }

  50% {
    animation-timing-function: cubic-bezier(.5, .125, 1, 1);
    transform: translateX(137.5px);
  }

  100% {
    animation-timing-function: cubic-bezier(0, 0, .5, .875);
    transform: translateX(300px);
  }
}

@media (width <= 439px) {
  .root {
    width: 300px;

    > * {
      animation: resize 2s infinite linear, moveSmall 2s infinite linear;
    }
  }
}
