- row_renderer = Proc.new do |row, nested|
  %tr{class: nested ? 'nested-row' : nil}
    %td
      = row[:title]
      - if row[:form_number]
        %span.resource-form-number= row[:form_number]
    %td
      - if row[:pdf_link]
        = link_to(t('global.view_pdf'), row[:pdf_link], target: '_blank')
      - elsif row[:word_link]
        = link_to(t('global.view_doc'), row[:word_link], target: '_blank')
  - if row[:rows]
    - row[:rows].each do |row|
      - row_renderer.call(row, true)
%table.resource-form-table
  - rows.each do |row|
    - row_renderer.call(row, false)
