- @html_class = 'white-background'
.row.resource.resource-member-application
  .column-2x10-right
    %h1= t('resources.membership.applications.charter_types.community_development')
    %p= t('resources.membership.applications.pdf_message')
    = render 'application_forms', required_form_ids: @form_ids[:required], requested_form_ids: @form_ids[:requested], optional_form_ids: @form_ids[:optional], access_form_ids: @form_ids[:access]
