@import '../../styles/_mixins.scss';
@import '../../styles/_variables.scss';

.container {
  @include autosuggest-container;
  margin-right: .5em;

  input {
    border: $default-border;
    box-shadow: inset 3px 3px 5px rgba(0, 0, 0, .2);
  }
}

.suggestionsContainer {
  @include autosuggest-suggestions-container;
}

.suggestion {
  @include autosuggest-suggestion;
}

.suggestionFocused {
  @include autosuggest-suggestion-focused;
}
