@import '../../styles/_mixins.scss';
@import '../../styles/_variables.scss';

.container {
  @include autosuggest-container;

  margin-right: .5em;

  input {
    border: $default-border;
    box-shadow: inset 5px 5px 0 rgba(128, 0, 0, .1);
  }
}

.suggestionsContainer {
  @include autosuggest-suggestions-container;
}

.suggestion {
  @include autosuggest-suggestion;
}

.suggestionFocused {
  @include autosuggest-suggestion-focused;
}
