@import "../../styles/mixins";
@import "../../styles/variables";

.root {
  @include filter-form-root;
}

.form {
  @include filter-form-form;
}

.tagContainer {
  border: $default-border;
  font-size: 1.9em;
  margin-right: .25em;

  button {
    border: 0;
  }
}
