@import '../../styles/_variables.scss';

.root {
  display: inline-block;
  margin-right: 1em;

  &:last-child {
    margin-right: 0;
  }

  button {
    border: $default-border;
  }
}

.form {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -10px;

  > * {
    margin-bottom: 10px;
  }
}

.tagContainer {
  border: $default-border;
  font-size: 1.9em;
  margin-right: .25em;

  button {
    border: 0;
  }
}
