.root {
  background: rgba(255, 255, 255, .9);
  float: right;
  line-height: 1;
  padding: .5em;
}

.flexContainer {
  display: flex;
}

.logOut {
  border-left: 1px solid #333;
  margin-left: .5em;
  padding-left: .5em;
}
