@import "base/normalize";
@import "base/fonts";
@import "base/sizes";
@import "base/colors";
@import "base/grid";
@import "base/utils";

body {
  font-size: $default-font-size;
  color: $text-color;
  @include default-font;
  background-color: $light-gray;
}