.page-header {
  box-shadow: 0px 0px 9px rgba(0,0,0, .18);
  position: relative;
  z-index: 2;
}

.main-nav {
  height: $header-main-nav-height;
  line-height: $header-main-nav-height;
  background-color: $brand-blue;
  .logo {
    @extend %hide-text;
    background: $logo-white no-repeat;
    background-size: contain;
    height: 40px;
    width: round($logo-aspect-ratio * 40px);
    vertical-align: middle;
    display: inline-block;
    margin: 9px 0 11px;
  }
  .print-logo {
    background: $logo-black; // Work around for a wkhtmltopdf bug
    margin: 0px;
  }
  ul {
    @extend %typography-header-text ;
    float: right;
    margin: 0;
    padding: 0;
    list-style: none;
    color: $white;
  }
  li {
    display: inline-block;
    vertical-align: top;
    .input-field-container {
      vertical-align: middle;
    }
  }
  a {
    text-decoration: none;
    color: $white;
  }
  .nav-logout a:before, .nav-member-switch a:before, .header-member-name:before {
    content: "|";
    display: inline-block;
    margin: 0 15px;
  }
  .header-member-name {
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .nav-settings, .nav-mail {
    font-size: 1.25rem;
    a:after {
      vertical-align: middle;
    }
  }
  .nav-logout, .nav-settings, .nav-mail {
    margin-right: 30px;
  }
  .nav-search {
    width: 136px;
    border-color: $brand-blue;
    @include input-placeholder {
      color: $brand-blue;
    }
  }
  .input-field-container:before {
    color: $brand-blue;
  }
}
.nav-mail {
  a {
    position: relative;
    p {
      @extend %typography-badge;
      text-align: center;
      position: absolute;
      left: 10px;
      top: -8px;
      width: 15px;
      height: 12px;
      background: $alert-red;
      border-radius: $default-border-radius;
    }
  }
}

.secondary-nav {
  height: $header-secondary-nav-height;
  line-height: $header-secondary-nav-height;
  background-color: $white;
  nav {
    overflow: visible;
    z-index: 1;
    time {
      float: right;
      color: $medium_gray;
    }
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: $white;
    @extend %typography-header-nav;
  }
  li {
    display: inline-block;
    border-left: 1px solid $light-gray;
    display: inline-block;
    padding: 0 20px;
    box-sizing: border-box;
    &:last-child {
      border-right: 1px solid $light-gray;
    }
    &:hover {
      background-color: $light-gray;
      .nav-menu {
        color: $actionable-blue;
      }
      .nav-dropdown {
        display: block;
      }
    }
  }
  a {
    color: $text-color;
    white-space: nowrap;
    &.nav-menu {
      &:after {
        @extend %icon-font;
        content: " #{$icon-chevron}";
        font-size: 0.625rem;
      }
    }
    &:hover {
      text-decoration: none;
      color: $actionable-blue;
    }
    &:active {
      color: $brand-blue;
    }
  }
  .nav-dropdown {
    width: 100%;
    padding-bottom: 15px;
    display: none;
    position: absolute;
    background-color: $white;
    z-index: -1;
    left: 0;
    border: 1px solid $light-gray;
    border-radius: $default-border-radius;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    padding-top: 5px;
    box-shadow: 0px 0px 9px rgba(0,0,0, .18);
    > li {
      padding-top: 5px;
    }
    li {
      border: none;
      display: block;
      padding: 0;
      &:hover {
        background-color: $white;
      }
      &:last-child {
        border: none;
        margin-bottom: 0;
      }
      &:first-child {
        border: none;
        margin-top: 5px;
      }
    }
    h2 {
      @extend %typography-nav-dropdown-header;
      text-transform: uppercase;
      color: $medium-gray;
      margin: 10px 0 0;
    }
    p {
      clear: both;
      text-align: center;
      margin-top: 0px;
      padding-top: 30px;
      a {
        @extend %link-style;
      }
    }
  }
}
.nav-dropdown-row {
  width: $row-width;
  margin: 0 auto;
  clear: both;
  margin-top: 15px;
  overflow: auto;
  &:last-child {
    margin-bottom: 30px;
  }
}
.nav-dropdown-column {
  width: 270px;
  padding-left: 40px;
  float: left;
  &:first-child {
    padding-left: 30px;
  }
  ul {
    border-top: 1px solid $secondary-gray;
    &:only-child {
      margin-top: 26px; // space ordinarily occupied by the h2
    }
  }
}

@media print {
  .page-header {
    box-shadow: none;
  }

  .main-nav {
    background-color: transparent;
    .logo {
      height: 32px;
      width: round($logo-aspect-ratio * 32px);
    }
  }
}

.nav-securities-flyout-row {
  &, .column-1 {
    width: 535px;
  }
}

.nav-securities-flyout {
  display: none;
  @extend %clearfix;
  h2 {
    @extend %typography-section-title;
    margin-top: 0;
  }
  p {
    margin-bottom: 20px;
  }
  .primary-button, .secondary-button {
    cursor: pointer;
    width: calc(50% - 10px);
    float: left;
    cursor: pointer;
  }
  .primary-button{
    float: right;
  }
  .flyout & {
    display: block;
  }
}