$admin-logo-height: 58px;

.admin {
  .main-nav {
    background-color: $dark-gray;
    color: $white;
    height: 100px;
    line-height: 100px;
    .logo {
      height: $admin-logo-height;
      width: round($logo-aspect-ratio * $admin-logo-height);
    }
    h1 {
      float: right;
      clear: both;
      margin: 0 30px 0 0;
      line-height: 1;
      @extend %typography-page-title;
    }
    ul {
      line-height: $admin-logo-height;
    }
  }
}