%add-advance-cell-selected {
  color: $white;
  .add-advance-cell-wrapper {
    @include pseudo-background-cover($actionable-blue);
  }
}

@mixin add-advance-cell-hovered {
  color: $white;
  .add-advance-cell-wrapper {
    @include pseudo-background-cover($brand-blue);
  }
  &.disabled-cell {
    .add-advance-cell-wrapper {
      @include pseudo-background-cover($light-gray);
    }
    color: inherit;
    cursor: auto;
  }
}

%add-advance-row-label {
  border-right: 1px solid $light-blue;
  text-transform: capitalize;
  cursor: auto;
  .add-advance-cell-wrapper {
    @include pseudo-background-cover($light-gray);
  }
}

.add-advance-cell-wrapper {
  position: relative;
  z-index: 1;
}

.advances {
  position: relative; // for the `.add-advance-action-message` background to fade out rest of content
  h1 {
    @extend %typography-page-title;
    margin: 32px 0 17px;
  }
  footer {
    @extend %typography-table-cell;
  }
}

.limited-pricing-message {
  position: relative;
  margin: 15px 0;
  padding-left: 50px;
  border-top: 1px solid $actionable-blue;
  border-bottom: 1px solid $actionable-blue;
  &:before {
    color: $actionable-blue;
    position: absolute;
    left: 0;
    top: 15px;
    font-size: 30px;
    line-height: 30px;
  }
}

.advances-header {
  @extend %pseudoelement-clearfix;
  h1 {
    float: left;
  }
  p {
    clear: both;
    width: 540px;
    display: block;
  }
}

.advances-header-buttons {
  float: right;
  margin-top: 35px;
  .secondary-button {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.advances-main-body {
  @extend %page-main-body;
}

.manage-advances-table {
  width: 940px;
  .report-cell-narrow {
    padding-right: 10px;
  }
  td {
    vertical-align: top;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  li {
    white-space: nowrap;
    text-transform: uppercase;
    color: $medium-gray;
    line-height: 15px;
  }
}

.add-advance-form {
  input[name="advance_request[amount]"] {
    width: 260px;
  }
}

.advances-actions {
  text-align: right;
  .primary-button, .secondary-button {
    width: 220px;
    margin-left: 16px;
    &:first-child {
      margin-left: 0;
    }
  }
}

.add-advance-loading-overlay {
  position: absolute;
  z-index: 2;
  display: none;
  background: rgba(255,255,255, 0.6);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.add-advance-action-message {
  position: relative;
  z-index: 2;
  display: none;
  padding-left: $spinner-size + 20px;
  &:before {
    @extend %absolute-pseudoelement;
    @extend %vertical-center;
    @include icon-loading;
    left: 0;
  }
}

.add-advance-confirmation {
  .advances-actions {
    text-align: left;
  }
}

.add-advance-limited-pricing-notice {
  @extend %typography-dashboard-gauge-label;
  @extend %link-style;
  margin-top: 10px;
  text-transform: uppercase;
}

.add-advance-rates-body {
  .add-advance-icon-section {
    @extend %clearfix;
    overflow: visible;
    position: relative;
    &:before {
      position: absolute;
      top: 1rem;
      left: 0;
      font-size: 30px;
      color: $alert-red;
      .add-advance-confirmation & {
        color: $approval-green;
      }
    }
  }
  .loading & {
    p {
      display: none;
    }
    .add-advance-icon-section {
      &:before {
        @include icon-loading;
        content: '';
      }
    }
    .add-advance-summary {
      opacity: $faded-opacity;
    }
    .label-radio {
      opacity: $faded-opacity;
    }
    table {
      opacity: $faded-opacity;
    }
  }
}

.advances-add {
  .advance-rates-table {
    .add-advance-cell-wrapper:hover {
      z-index: 2;
    }
    td {
      cursor: pointer;
      &:hover {
        z-index: 2;
        .tooltip {
          display: block;
        }
      }
    }
  }
  .icon-dollar-before:before {
    @extend %dashboard-module-advances-icon-dollar;
  }
  .input-field-container {
    input {
      @extend %dashboard-module-advances-input;
    }
  }
  table {
    @extend %typography-paragraph-tight;
    text-align: center;
    tbody {
      background: $light-gray; // fix for IE11 incongruity in the way height is measured for cells with rowspan
    }
    td, th {
      border: 1px solid $light-blue;
      height: 30px;
      line-height: 30px;
      box-sizing: border-box;
      &.cell-selected {
        @extend %add-advance-cell-selected;
      }
      &.cell-hovered {
        @include add-advance-cell-hovered;
      }
    }
    th {
      @extend %typography-table-heading;
      color: $white;
      .add-advance-cell-wrapper {
        @include pseudo-background-cover($medium-gray);
      }
      &:first-child {
        color: $text-color;
        .add-advance-cell-wrapper {
          @include pseudo-background-cover($secondary-gray);
        }
      }
    }
    td {
      @extend %typography-table-cell;
      &:first-child {
        .add-advance-cell-wrapper {
          @include pseudo-background-cover($light-gray);
        }
      }
      .tooltip {
        @extend %inverted-tooltip;
        margin-top: 10px;
        box-sizing: border-box;
        z-index: 2;
        .tooltip-pair {
          overflow: hidden;
          margin-bottom: 5px;
          line-height: normal;
          padding: 0 5px;
          &:last-child {
            margin-bottom: 0;
          }
        }
        span:first-child {
          font-size: 0.8rem;
          margin-right: 5px;
        }
        span:last-child {
          font-size: 0.8667rem;
        }
      }
      &.add-advance-table-loading-cell {
        @extend %typography-default-text;
        background: $white;
        border-right: 1px solid $light-blue;
        vertical-align: top;
        padding-top: 30px;
        cursor: default;
        span {
          position: relative;
          display: inline-block;
          height: $spinner-size;
          line-height: $spinner-size;
          padding-left: $spinner-size + 20px;
          &:before {
            @extend %absolute-pseudoelement;
            @include icon-loading;
            left: 0;
          }
        }
      }
    }
    tr {
      td {
        .add-advance-cell-wrapper {
          @include pseudo-background-cover($lightest-blue);
        }
        &.disabled-cell {
          .add-advance-cell-wrapper {
            @include pseudo-background-cover($light-gray);
          }
        }
      }
      td:first-child {
        @extend %add-advance-row-label;
        &.cell-selected, &.row-label.cell-selected {
          @extend %add-advance-cell-selected;
        }
        &.cell-hovered {
          @include add-advance-cell-hovered;
        }
      }
      &:nth-child(odd) {
        td {
          .add-advance-cell-wrapper {
            @include pseudo-background-cover($white);
          }
          &.disabled-cell {
            .add-advance-cell-wrapper {
              @include pseudo-background-cover($light-gray);
            }
          }
          &.cell-selected, &.cell-selected.selectable-cell {
            @extend %add-advance-cell-selected;
          }
          &.cell-hovered {
            @include add-advance-cell-hovered;
          }
        }
        td:first-child {
          .add-advance-cell-wrapper {
            @include pseudo-background-cover($light-gray);
          }
          &.cell-selected {
            @extend %add-advance-cell-selected;
          }
          &.cell-hovered {
            @include add-advance-cell-hovered;
          }
        }
      }
      &:first-child {
        th:first-child {
          border: none;
          .add-advance-cell-wrapper {
            @include pseudo-background-cover;
          }
        }
      }
    }
    // special styling to accommodate labels for axes
    tr.add-advance-table-label-row {
      td.row-label {
        @extend %add-advance-row-label;
        &.cell-selected {
          @extend %add-advance-cell-selected;
        }
        &.cell-hovered {
          @include add-advance-cell-hovered;
        }
      }
    }
  }
}

.add-advance-body {
  .add-advance-icon-section {
    @extend %clearfix;
    position: relative;
    padding-left: 60px;
    &:before {
      position: absolute;
      top: 1rem;
      left: 0;
      font-size: 30px;
      color: $alert-red;
      .add-advance-confirmation & {
        color: $approval-green;
      }
    }
  }
  dl{
    float: none;
    margin: 0.5rem 0 1rem;
  }
  .large_dl {
    width: 400px;
    dt {
      width: auto;
      margin-right: 10px;
    }
  }
  dt {
    @extend %typography-graph-data;
    color: $medium-gray;
    float: left;
    text-align: left;
    width: 250px;
    overflow: hidden;
    clear: left;
    &.add-advance-updated-rate {
      color: $alert-orange;
    }
  }
  dd {
    @extend %typography-graph-data;
    @extend %clearfix;
    text-align: left;
    p {
      @extend %typography-graph-data;
      color: $alert-orange;
      margin: 0;
    }
  }
  .loading & {
    p {
      display: none;
    }
    .add-advance-summary p:first-child {
      display: block;
      color: $text-color;
    }
    .add-advance-updated-rate {
      @extend %typography-graph-data;
      color: $medium-gray;
    }
    .add-advance-icon-section {
      &:before {
        @include icon-loading;
        content: '';
      }
    }
    .add-advance-summary {
      opacity: $faded-opacity;
    }
    .label-radio {
      opacity: $faded-opacity;
    }
    input {
      opacity: $faded-opacity;
    }
    table {
      opacity: $faded-opacity;
    }
  }
}

.add-advance-confirmation .add-advance-body {
  &:before {
    color: $approval-green;
  }
}

.add-advance-summary {
  @extend %clearfix;
  padding-left: 60px;
  padding-bottom: 30px;
  p {
    @extend %typography-confirmation-label;
    margin: 0.5rem 0 0;
  }
}

.add-advance-table-horz-axes-label {
  width: 20px;
  vertical-align: top;
  padding-top: 8px;
  span {
    line-height: 1;
    vertical-align: top;
    display: inline-block;
    font-size: 0.7333rem; // leaving this as a one-off typography style until we receive confirmation of this design
  }
}

.add-advance-confirmation-button {
  @extend %horizontal-center;
  position: relative;
}

.add-advances-footer, .rate-advances-footer {
  @extend %typography-footer;
}

.rate-advances-footer {
  padding-top: 40px;
}

.add-advance-rates-body {
  .add-advance-icon-section {
    @extend %clearfix;
    overflow: visible;
    position: relative;
    &:before {
      position: absolute;
      top: 1rem;
      left: 0;
      font-size: 30px;
      color: $alert-red;
      .add-advance-confirmation & {
        color: $approval-green;
      }
    }
  }
  .loading & {
    p {
      display: none;
    }
    .add-advance-icon-section {
      &:before {
        @include icon-loading;
        content: '';
      }
    }
    .add-advance-summary {
      opacity: $faded-opacity;
    }
    .label-radio {
      opacity: $faded-opacity;
    }
    table {
      opacity: $faded-opacity;
    }
  }
}

.add-advance-capstock {
  .add-advance-body {
    @extend %bordered-section;
  }
}

.add-advance-preview {
  .add-advance-summary {
    @extend %bordered-section;
  }
}

.advance-rates-table-wrapper {
  @extend %bordered-section;
  padding: 0;
  &[data-active-term-type="vrc"] {
    tbody {
      tr.vrc-rates {
        display: table-row;
      }
    }
    .advance-rates-table-toggle span[data-active-term-type="vrc"] {
      color: $actionable-blue;
    }
  }
  &[data-active-term-type="frc"] {
    tbody {
      tr.frc-rates {
        display: table-row;
      }
    }
    .advance-rates-table-toggle span[data-active-term-type="frc"] {
      color: $actionable-blue;
    }
  }
}

.advance-rates-table-toggle {
  padding: 10px 20px;
  border-bottom: 1px solid $light-blue;
  span {
    @extend %typography-header-nav;
    cursor: pointer;
    &:last-child {
      margin-left: 30px;
    }
    &.active {
      color: $actionable-blue;
    }
  }
}

.advance-rate-table-section {
  padding: 0;
}

.advance-rates-table {
  margin: 25px auto;
  width: calc(100% - 40px);
  table-layout: fixed;
  tbody {
    tr {
      display: none;
    }
  }
  thead {
    tr {
      th:first-child {
        border: none;
      }
      &:first-child {
        th {
          @extend %typography-header-nav;
          border: none;
          color: $medium-gray;
          text-transform: uppercase;
          text-align: left;
        }
      }
    }
  }
}

.add-advance-borrowing-capacity {
  padding: 20px 18px;
  @extend %bordered-section;
  .add-advance-borrowing-capacity-label {
    @extend %typography-module-tiny-data-label;
    margin: 0;
    color: $medium-gray;
  }
  .remaining {
    margin-top: 15px;
  }
  .report-summary-data {
    margin-bottom: 0;
    p {
      @extend %typography-module-summary-data;
      margin-bottom: 10px;
    }
  }
  table {
    width: 100%;
    tr {
      td, td:first-child {
        background: $white;
        text-align: left;
        border: 0;
        padding: 0;
        height: 10px;
        line-height: 20px;
        width: 50%;
      }
      td:first-child {
        color: $medium-gray;
      }
    }
    .value {
      text-align: right;
    }
  }
}

.advances-filter {
  @extend %table-filter;
  margin-bottom: 10px;
}