%add-advance-cell-selected {
  color: $white;
  .add-advance-cell-wrapper {
    @include pseudo-background-cover($actionable-blue);
  }
}

@mixin add-advance-cell-hovered {
  color: $white;
  .add-advance-cell-wrapper {
    @include pseudo-background-cover($brand-blue);
  }
  &.disabled-cell {
    .add-advance-cell-wrapper {
      @include pseudo-background-cover($light-gray);
    }
    color: inherit;
    cursor: auto;
  }
}

%add-advance-row-label {
  border-right: 1px solid $light-blue;
  text-transform: capitalize;
  cursor: auto;
  .add-advance-cell-wrapper {
    @include pseudo-background-cover($light-gray);
  }
}

.add-advance-cell-wrapper {
  position: relative;
  z-index: 1;
}

.advances {
  position: relative; // for the `.add-advance-action-message` background to fade out rest of content
  h1 {
    @extend %typography-page-title;
    margin: 32px 0 17px;
  }
  footer {
    @extend %typography-table-cell;
  }
}

.limited-pricing-message {
  position: relative;
  margin: 15px 0;
  padding-left: 50px;
  border-top: 1px solid $actionable-blue;
  border-bottom: 1px solid $actionable-blue;
  &:before {
    color: $actionable-blue;
    position: absolute;
    left: 0;
    top: 15px;
    font-size: 30px;
    line-height: 30px;
  }
}

.advances-header {
  @extend %pseudoelement-clearfix;
  h1 {
    float: left;
  }
  p {
    clear: both;
    width: 540px;
    display: block;
  }
}

.advances-header-buttons {
  float: right;
  margin-top: 35px;
  .secondary-button {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.advances-main-body {
  @extend %page-main-body;
}

.manage-advances-table {
  width: 940px;
  .report-cell-narrow {
    padding-right: 10px;
  }
  td {
    vertical-align: top;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  li {
    white-space: nowrap;
    text-transform: uppercase;
    color: $medium-gray;
    line-height: 15px;
  }
  tfoot td:first-child {
    text-align: right;
    border-right: none;
  }
}

.add-advance-form {
  input[name="advance_request[amount]"] {
    width: 260px;
  }
}

.add-advance-loading-overlay {
  position: absolute;
  z-index: 2;
  display: none;
  background: rgba(255,255,255, 0.6);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.add-advance-action-message {
  position: relative;
  z-index: 2;
  display: none;
  padding-left: $spinner-size + 20px;
  &:before {
    @extend %absolute-pseudoelement;
    @extend %vertical-center;
    @include icon-loading;
    left: 0;
  }
}

.add-advance-confirmation {
  .request-form-actions {
    text-align: left;
  }
  .add-advance-summary {
    @extend %bordered-section;
  }
}

.add-advance-limited-pricing-notice {
  @extend %typography-dashboard-gauge-label;
  @extend %link-style;
  margin-top: 10px;
  text-transform: uppercase;
}

.advances-add {
  overflow: visible;
  .icon-dollar-before:before {
    @extend %dashboard-module-advances-icon-dollar;
  }
  .input-field-container {
    input:not([name^=securid]) {
      @extend %dashboard-module-advances-input;
    }
  }
  .advance-rates-table, .advance-rates-custom-table {
    @extend %typography-paragraph-tight;
    margin: 15px 25px 25px auto;
    width: calc(100% - 40px);
    table-layout: fixed;
    text-align: center;
    .add-advance-cell-wrapper:hover {
      z-index: 2;
    }
    td {
      cursor: pointer;
      &:hover {
        z-index: 2;
        .tooltip {
          display: block;
        }
      }
    }
    tbody {
      background: $light-gray; // fix for IE11 incongruity in the way height is measured for cells with rowspan
    }
    td, th {
      border: 1px solid $light-blue;
      height: 30px;
      line-height: 30px;
      box-sizing: border-box;
      &.cell-selected {
        @extend %add-advance-cell-selected;
      }
      &.cell-hovered {
        @include add-advance-cell-hovered;
      }
    }
    th {
      @extend %typography-table-heading;
      color: $white;
      .add-advance-cell-wrapper {
        @include pseudo-background-cover($medium-gray);
      }
      &:first-child {
        color: $text-color;
        .add-advance-cell-wrapper {
          @include pseudo-background-cover($secondary-gray);
        }
      }
    }
    td {
      @extend %typography-table-cell;
      &:first-child {
        .add-advance-cell-wrapper {
          @include pseudo-background-cover($light-gray);
        }
      }
      .tooltip {
        @extend %inverted-tooltip;
        margin-top: 10px;
        box-sizing: border-box;
        z-index: 2;
        .tooltip-pair {
          overflow: hidden;
          margin-bottom: 5px;
          line-height: normal;
          padding: 0 5px;
          &:last-child {
            margin-bottom: 0;
          }
        }
        span:first-child {
          font-size: 0.8rem;
          margin-right: 5px;
        }
        span:last-child {
          font-size: 0.8667rem;
        }
      }
      &.add-advance-table-loading-cell {
        @extend %typography-default-text;
        display: none;
        background: $white;
        border-right: 1px solid $light-blue;
        vertical-align: top;
        padding-top: 10px;
        cursor: default;
        span {
          position: relative;
          display: inline-block;
          height: $spinner-size;
          line-height: $spinner-size;
          padding-left: $spinner-size + 20px;
          &:before {
            @extend %absolute-pseudoelement;
            @include icon-loading;
            left: 0;
          }
        }
      }
      &.add-advance-table-error-cell {
        @extend %empty_table_cell;
        padding-top: 10px;
        padding-bottom: 10px;
        vertical-align: top;
        display: none;
      }
    }
    tr {
      td {
        .add-advance-cell-wrapper {
          @include pseudo-background-cover($lightest-blue);
        }
        &.disabled-cell {
          .add-advance-cell-wrapper {
            @include pseudo-background-cover($light-gray);
          }
        }
      }
      td:first-child {
        @extend %add-advance-row-label;
        &.cell-selected, &.row-label.cell-selected {
          @extend %add-advance-cell-selected;
        }
        &.cell-hovered {
          @include add-advance-cell-hovered;
        }
      }
      &:nth-child(odd) {
        td {
          .add-advance-cell-wrapper {
            @include pseudo-background-cover($white);
          }
          &.disabled-cell {
            .add-advance-cell-wrapper {
              @include pseudo-background-cover($light-gray);
            }
          }
          &.cell-selected, &.cell-selected.selectable-cell {
            @extend %add-advance-cell-selected;
          }
          &.cell-hovered {
            @include add-advance-cell-hovered;
          }
        }
        td:first-child {
          .add-advance-cell-wrapper {
            @include pseudo-background-cover($light-gray);
          }
          &.cell-selected {
            @extend %add-advance-cell-selected;
          }
          &.cell-hovered {
            @include add-advance-cell-hovered;
          }
        }
      }
      &:first-child {
        th:first-child {
          border: none;
          .add-advance-cell-wrapper {
            @include pseudo-background-cover;
          }
        }
      }
    }
    // special styling to accommodate labels for axes
    tr.add-advance-table-label-row {
      td.row-label {
        @extend %add-advance-row-label;
        &.cell-selected {
          @extend %add-advance-cell-selected;
        }
        &.cell-hovered {
          @include add-advance-cell-hovered;
        }
      }
    }
    &.add-advance-table-loading {
      .add-advance-table-loading-cell {
        display: table-cell;
      }
      .add-advance-rate-cell {
        display: none;
      }
    }
    &.add-advance-table-error {
      .add-advance-table-error-cell {
        display: table-cell;
      }
      .add-advance-rate-cell {
        display: none;
      }
    }
  }
  .etransact-status-message {
    @extend %bordered-section;
    margin-bottom: 0;
    p {
      margin: 0;
    }
    a {
      display: inline-block;
      margin-top: 1rem;
      text-transform: uppercase;
    }
  }
  .text-only-button {
    float: right;
    text-transform: uppercase;
  }
}

.add-advance-body {
  @extend %list-summary-data;
  border: none;
  padding: 0;
  .add-advance-icon-section {
    @extend %clearfix;
    position: relative;
    padding-left: 60px;
    &:before {
      position: absolute;
      top: 1rem;
      left: 0;
      font-size: 30px;
      color: $alert-red;
      .add-advance-confirmation & {
        color: $approval-green;
      }
    }
  }
  dd {
    p {
      @extend %typography-graph-data;
      color: $alert-orange;
      margin: 0;
    }
  }
  .loading & {
    p {
      display: none;
    }
    .add-advance-summary p:first-child {
      display: block;
      color: $text-color;
    }
    .add-advance-updated-rate {
      @extend %typography-graph-data;
      color: $medium-gray;
    }
    .add-advance-icon-section {
      &:before {
        @include icon-loading;
        content: '';
      }
    }
    .add-advance-summary {
      opacity: $faded-opacity;
    }
    .label-radio {
      opacity: $faded-opacity;
    }
    input {
      opacity: $faded-opacity;
    }
    table {
      opacity: $faded-opacity;
    }
  }
}

.add-advance-confirmation .add-advance-body {
  &:before {
    color: $approval-green;
  }
}

.add-advance-summary {
  @extend %clearfix;
  padding-left: 60px;
  padding-bottom: 30px;
  p {
    @extend %typography-confirmation-label;
    margin: 0.5rem 0 0;
  }
}

.add-advance-table-horz-axes-label {
  width: 20px;
  vertical-align: top;
  padding-top: 8px;
  span {
    line-height: 1;
    vertical-align: top;
    display: inline-block;
    font-size: 0.7333rem; // leaving this as a one-off typography style until we receive confirmation of this design
  }
}

.add-advance-confirmation-button {
  @extend %horizontal-center;
  position: relative;
}

.add-advances-footer, .rate-advances-footer {
  @extend %typography-footer;
}

.rate-advances-footer {
  padding-top: 40px;
}

.add-advance-rates-body {
  .add-advance-icon-section {
    @extend %clearfix;
    overflow: visible;
    position: relative;
    &:before {
      position: absolute;
      top: 1rem;
      left: 0;
      font-size: 30px;
      color: $alert-red;
      .add-advance-confirmation & {
        color: $approval-green;
      }
    }
  }
  .loading & {
    p {
      display: none;
    }
    .add-advance-icon-section {
      &:before {
        @include icon-loading;
        content: '';
      }
    }
    .add-advance-summary {
      opacity: $faded-opacity;
    }
    .label-radio {
      opacity: $faded-opacity;
    }
    table {
      opacity: $faded-opacity;
    }
  }
}

.add-advance-capstock-selection {
  @extend %bordered-section;
}

.add-advance-preview {
  .add-advance-summary {
    @extend %bordered-section;
  }
}

.add-advance-financing-availability-limit {
  .add-advance-summary {
    @extend %bordered-section;
    p {
      font-size: 1rem;
      font-weight: $semibold-weight;
    }
  }
  .add-advance-body {
    dd {
      text-align: right;
    }
  }
}

.advance-rates-table-wrapper {
  @extend %bordered-section;
  padding: 0;
  &[data-active-term-type="vrc"] {
    tbody {
      tr.vrc-rates {
        display: table-row;
      }
    }
    .advance-rates-table-toggle span[data-active-term-type="vrc"] {
      color: $actionable-blue;
    }
    .add-advance-table-loading-cell {
      padding-top: 16px;
    }
  }
  &[data-active-term-type="frc"] {
    tbody {
      tr.frc-rates {
        display: table-row;
      }
    }
    .advance-rates-table-toggle span[data-active-term-type="frc"] {
      color: $actionable-blue;
    }
  }
}

.advance-rates-table-toggle {
  padding: 10px 20px;
  border-bottom: 1px solid $light-blue;
  span {
    @extend %typography-header-nav;
    cursor: pointer;
    &:last-child {
      margin-left: 30px;
    }
    &.active {
      color: $actionable-blue;
    }
  }
}

.advance-rate-table-section {
  padding: 0;
}

.advance-rates-table {
  tbody {
    tr {
      display: none;
    }
  }
  thead {
    tr {
      th:first-child {
        border: none;
      }
      &:first-child {
        th {
          @extend %typography-header-nav;
          border: none;
          color: $medium-gray;
          text-transform: uppercase;
          text-align: left;
        }
      }
    }
  }
}

.advance-rates-custom-table {
  position: relative;
  .add-advance-table-loading-cell {
    padding-bottom: 10px;
  }
  thead {
    tr {
      &:first-child {
        th {
          @extend %typography-header-nav;
          border: none;
          color: $medium-gray;
          text-align: left;
          span {
            @extend %typography-header-nav;
            &:first-child {
              color: $medium-gray;
            }
            &:nth-child(2) {
              margin-left: 60px;
            }
          }
          a {
            float: right;
            cursor: pointer;
            color: $actionable-blue;
            text-transform: uppercase;
          }
        }
      }
    }
  }
}

.advances-filter {
  @extend %table-filter;
  margin-bottom: 10px;
}

.advance-funding-date-wrapper, .advance-alternate-funding-date-wrapper {
  @extend %bordered-section;
  position: relative;
  margin: 25px 15px 0;
  padding: 15px 15px 20px 15px;
  border-bottom: 1px solid $light-blue;
}

.advance-funding-date-wrapper {
   span {
     @extend %typography-header-nav;
     &:first-child {
       color: $medium-gray;
     }
     &:nth-child(2) {
       margin-left: 40px;
     }
   }
 }

.advance-alternate-funding-date-wrapper {
  display: none;
  span {
    @extend %typography-subtitle;
  }
  ul {
    list-style: none;
    padding: 10px 0px 0px 0px;
    margin-bottom: 40px;
  }
  li {
    float: left;
    width: calc(33% - 20px);
    position: relative;
    padding-left: 20px;
    input {
      position: absolute;
      left: 0;
      top: 3px;
    }
    label {
      padding-left: 0;
    }
    label + label {
      @extend %typography-header-text;
      display: block;
    }
  }
}

.advance-custom-date-wrapper {
  position: relative;
  display: none;
  padding: 0px 25px 40px 0px;
}

.advance-create-custom-date-wrapper {
  @extend %bordered-section;
  position: relative;
  display: none;
  margin: 25px 15px;
  padding: 15px 15px 20px 15px;
  border-bottom: 1px solid $light-blue;
  span {
    @extend %typography-table-heading;
  }
  p {
    color: $medium-gray;
  }
  .input-field-container-horizontal {
    @extend %pseudoelement-clearfix;
    float: none;
    margin-right: 0;
    margin-top: 20px;
    label, span {
      float: left;
      color: $medium-gray;
      line-height: 30px;
      vertical-align: top;
      margin-right: 20px;
    }
    .primary-button {
      float: right;
      width: 260px;
    }
    .daterangepicker  {
      width: 232px;
    }
  }
  .input-field-container {
    width: 180px;
    text-align: left;
  }
}

.advance-select-custom-date-wrapper {
  display: none;
}

.add-advance-future-funding-message {
  @extend %default-border;
  padding: 10px 25px 0px 20px;
  margin-bottom: 10px;
  span {
    @extend %typography-graph-data;
  }
}

.advance-alternate-funding-date-close, .advance-alternate-funding-date-edit, .advance-custom-date-cancel {
  position: absolute;
  right: 5px;
}


.add-advance-form .add-advances-footer {
  margin-bottom: 65px;
}

.advance-custom-date-add {
  position: absolute;
  right: 20px;
}

.advance-custom-date-edit {
  position: absolute;
  right: -5px;
}