/*
 *= require daterangepicker-bs3
 */

// base styles
@import 'base';
@import 'header';
@import 'footer';
@import 'info-page';

// page styles
@import 'welcome';
@import 'dashboard';
@import 'graphs';
@import 'flyouts';
@import 'reports';
@import 'settings';
@import 'datepicker';
@import 'corporate_communications';
@import 'errors';
@import 'advances';
@import 'resources';
@import 'products';
@import 'legal';
@import 'contact';
@import 'securities';
