.contact-page {
  @extend %info-page-style;
  table {
    width: 440px;
    margin-top: 15px;
    &:last-child {
      margin-bottom: 15px;
    }
    td {
      vertical-align: top;
      height: 30px;
      text-align: left;
      box-sizing: border-box;
      overflow: hidden;
    }
    .contact-cell-left {
      width: 140px;
    }
  }
}
