.corporate-communications {
  h1 {
    margin-bottom: 20px;
  }
}

.corporate-communications-index {
  @extend %table-striped;
  margin-top: 60px;
  border-top: 1px solid $light-blue;
  border-bottom: 1px solid $light-blue;
  a {
    display: block;
    padding: 10px 20px 5px 45px;
    position: relative;
    &:before {
      position: absolute;
      left: 15px;
      color: $medium-gray;
      padding-top: (10px * $tight-line-height) - 10px;
    }
  }
  h3 {
    @extend %typography-table-cell-heading;
    color: $darkest-gray;
  }
  small {
    @extend %typography-table-annotation;
    color: $medium-gray;
    text-transform: uppercase;
  }
  h3, small {
    margin: 0;
  }
}

.corporate-communication-detail-reset {
  @import "base/normalize";
  margin-top: 25px;
  margin-bottom: 20px;
}

.corporate-communication-detail-wrapper {
  border: 1px solid $light-blue;
  border-radius: $default-border-radius;
}

.corporate-communication-detail-intro {
  padding: 20px 25px;
  border-bottom: 1px solid $light-blue;
  position: relative;
  h2 {
    margin: 0;
    padding-right: 30px;
  }
  &:before {
    position: absolute;
    right: 25px;
    top: 20px * $tight-line-height;
    color: $medium-gray;
    vertical-align: middle;
  }
}

.corporate-communication-detail-navigation {
  float: left;
  a {
    background-color: $secondary-gray;
    cursor: default;
    &.active {
      background-color: $actionable-blue;
      cursor: pointer;
    }
  }
  .icon-arrow-left-before:before {
    margin-right: 12px;
  }
  .icon-arrow-right-after:after {
    margin-left: 12px;
  }
}

.corporate-communication-detail-share {
  float: right;
  .icon-forward-before:before, .icon-print-before:before {
    margin-right: 10px;
  }
}

.corporate-communication-detail-actions {
  @extend %clearfix;
  margin-bottom: 25px;
  button, a {
    @extend %typography-subtitle;
    width: 115px;
    box-sizing: border-box;
    color: $white;
    text-align: center;
    &:last-child {
      margin-left: 8px;
    }
    &:before, &:after {
      font-size: 1.2rem;
      vertical-align: text-top;
    }
  }
}

.corporate-communications-empty {
  @extend %empty_table;
  margin-top: 60px;
  td.dataTables_empty {
    @extend %empty_table_cell;
  }
}

.corporate-communication-attachments {
  border-top: 1px solid $light-blue;
  padding: 20px;

  h3 {
    @extend %typography-table-heading;
    text-transform: uppercase;
    color: $medium-gray;
    margin-top: 0;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  a {
    @extend %typography-table-heading;
    text-transform: uppercase;
    &:before {
      @extend %small-icon-font;
      color: $medium-gray;
      vertical-align: middle;
      padding-right: 10px;
    }
  }
}
