.dashboard {
  margin-top: $gutter-width;
  .row {
    margin-bottom: $column-3-gutter;
  }
}

.dashboard-module {
  border: 1px solid $light-blue;
  border-radius: $default-border-radius;
  background: $white;
  box-shadow: 0px 0px 6px rgba(0,0,0, .09);
  h1 {
    font-size: $large-font-size;
    margin: 0;
  }
  header {
    border-bottom: 1px solid $light-blue;
    padding: ($column-3-gutter * .75) $column-3-gutter;
    @extend %clearfix;
    h1 {
      float: left;
    }
    button {
      float: right;
    }
  }
}

.dashboard-module-content {
  padding: $column-3-gutter;
}