.dashboard {
  margin-top: $gutter-width;
}

.dashboard-module {
  border: 1px solid $light-blue;
  border-radius: $default-border-radius;
  background: $white;
  box-shadow: 0px 0px 6px rgba(0,0,0, .09);
  margin-bottom: $column-3-gutter;
  h1 {
    @extend %typography-level-1;
    margin: 0;
  }
  header {
    border-bottom: 1px solid $light-blue;
    padding: ($column-3-gutter * .75) $column-3-gutter;
    @extend %clearfix;
    h1 {
      float: left;
    }
    button {
      float: right;
    }
  }
  .icon-alt-text {
    overflow: hidden;
    width: 0;
    height: 0;
  }
  .icon {
    @extend %large-icon-font;
    color: $actionable-blue;
    float: right;
  }
}

.dashboard-module-content {
  padding: $column-3-gutter;
  .table-striped {
    width: 100%;
    tbody {
      tr:nth-child(even) td,
      tr:nth-child(even) th {
        height: 46px;
      }
      tr:nth-child(odd) td,
      tr:nth-child(odd) th {
        background: $lightest-blue;
        height: 46px;
      }
      td {
        padding-top: 11px;
        padding-right: 10px;
        text-align: right;
        vertical-align: top;
      }

      td:first-child {
        padding-top: 11px;
        padding-left: 10px;
        text-align: left;
        vertical-align: top;
      }
    }
  }
}

.dashboard-module-content-light {
  @extend %typography-table-date;
}

.dashboard-module-contact {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  li {
    margin: 0 0 20px 0;
    padding: 0;
    &:last-child {
      margin-bottom: 30px;
    }
  }
}

.dashboard-contact {
  text-decoration: none;
  color: inherit;
  h2 {
    @extend %typography-subtitle;
    margin: 0;
  }
  p {
    @extend %typography-data;
    margin: 0;
  }
}

.dashboard-contact-avatar {
  width: 54px;
  height: 54px;
  border-radius: 27px;
  background-color: $light-blue;
  float: left;
  margin-right: 10px;
  background-size: contain;
  background-repeat: no-repeat;
}

.dashboard-module-advances {
  p {
    font-weight: $semibold-weight;
    margin-bottom: 5px;
    &:after {
      @extend %icon-font;
      content: " #{$icon-chevron}";
      font-size: 0.8rem;
    }
  }
  .icon-dollar-before:before {
    font-size: 0.8rem;
    left: 11px;
    top: 9px;
  }
  .input-field-container {
    input {
      padding-left: 25px;
    }
  }
  .dashboard-module-content {
    color: $actionable-blue;
  }
  p, .dashboard-advances-rate {
    padding-left: 12px;
  }
}

.dashboard-advances-rate {
  font-weight: $extralight-weight;
  font-size: 5rem;
  line-height: 1;
  margin-bottom: -17px; // UGH. Design doesn't account for descender spacing
  span {
    vertical-align: top;
    font-size: 3rem;
    display: inline-block;
    margin-top: 3px;
  }
}
