.datepicker-wrapper {
  position: relative;
}

.daterangepicker {
  display: none;
  width: 686px;
  border: 1px solid $actionable-blue;
  padding: 0 0 30px 0;
  &.opensleft, &.opensright {
    .calendar {
      display: block;
      margin: 60px 0 0;
    }
  }
  &.opensleft:after, &.opensleft:before {
    display: none;
  }
  &.dropdown-menu {
    z-index: 1;
  }
  &.opensright {
    .ranges {
      float: left;
    }
  }
  .prev.available {
    transform: rotate(90deg);
  }
  .next.available {
    transform: rotate(270deg);
  }
  .prev, .next {
    &.available i:before {
      @extend %icon-font;
      content: "#{$icon-chevron}";
      color: $actionable-blue;
      font-size: .8667rem;
    }
  }
  td.in-range {
    background: $actionable-blue;
    color: $white;
  }
  td.start-date, td.end-date {
    border-radius: 0;
  }
  td.active, td.active:hover {
    background: $actionable-blue;
    border: none;
  }
  .datepicker_input_field {
    position: absolute;
    height: 60px;
    margin-left: 224px;
    border-left: 1px solid $secondary-gray;
    border-bottom: 1px solid $secondary-gray;
  }
  .daterangepicker_start_input_wrapper, .daterangepicker_end_input_wrapper {
    position: relative;
    width: 230px;
    height: 100%;
    float: left;
  }
  .daterangepicker_start_input, .daterangepicker_end_input {
    @extend %center-both;
    float: none;
    white-space: pre;
    input {
      @extend %typography-calendar-day;
      width: 90px;
      height: 28px;
      box-sizing: border-box;
      border-radius: $default-border-radius;
      border: 1px solid $actionable-blue;
      padding-left: 8px;
    }
    label {
      @extend %typography-table-heading;
      display: inline;
      width: auto;
      color: $medium-gray;
      text-shadow: none;
      text-transform: none;
      margin-right: 10px;
    }
  }

  &.opensleft, &.opensright, &.openscenter {
    .ranges {
      margin: 0;
    }
  }

  .ranges {
    width: 224px;
    li {
      @extend %typography-dropdown-selector;
      color: $text-color;
      border: none;
      border-radius: 0;
      background: $white;
      position: relative;
      margin-bottom: 5px;
      &.active, &:hover {
        border: none;
        background-color: $white;
        color: $actionable-blue;
      }
      &:first-child {
        margin-top: 10px;
      }
      &.disabled {
        color: $secondary-gray;
        &.active, &:hover {
          color: $secondary-gray;
          cursor: default;
        }
      }
    }
  }

  .range_inputs {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 30px;
  }

  .cancelBtn, .applyBtn {
    position: absolute;
    height: 30px;
    border: none;
  }
  
  .cancelBtn {
    left: 0;
    width: 30px;
    border-bottom-left-radius: 4px;
    &:before {
      @extend %absolute-pseudoelement;
      @extend %center-both;
      @extend %icon-font;
      content: "#{$icon-close}";
    }
  }
  .applyBtn {
    @extend %typography-table-heading;
    text-transform: uppercase;
    margin-left: 30px;
    right: 0;
    background: #5ea2e3;
    width: 100%;
    border-bottom-right-radius: 4px;
    color: $white;
    &[disabled] {
      background-color: $secondary-gray;
    }
  }

  .calendar-date {
    border: none;
    border-radius: 0;
    padding: 6px;
  }

  .calendar {
    width: 230px;
    height: 190px;
    &.left {
      border-left: 1px solid $secondary-gray;
      border-right: 1px solid $secondary-gray;
    }
    td, th {
      font-family: $default-font-family;
    }
    .month {
      @extend %typography-table-heading;
      padding: 10px;
    }
    thead tr:last-child {
      display: none;
    }
    tbody td {
      @extend %typography-calendar-day;
      min-width: 28px;
    }
  }

  &.single {
    width: 456px;
    .calendar {
      margin: 60px auto 0;
      border-right: none;
      border-left: 1px solid $secondary-gray;
      float: left;
      td.in-range {
        background: $white;
        color: $text-color;
      }
    }
    .ranges {
      float: left;
    }
    .daterangepicker_end_input_wrapper {
      display: none;
    }
  }

}

.datepicker-wrapper-no-presets {
  .daterangepicker {
    width: auto;
    .datepicker_input_field {
      margin-left: 0;
    }
  }
}
