@import "base/normalize";
@import "base/colors";
@import "base/fonts";
@import "base/typography";
@import "base/nav";

body {
  font-size: $default-font-size;
  font-family: $default-font-family;
}

a {
  @extend %link-style;
}

header {
  margin-bottom: 2.5 * $default-font-size;
  img {
    display: block;
    margin-bottom: 1.5 * $default-font-size;
  }
}

.member-name, .user-name {
  font-weight: $bold-weight;
}

dt {
  font-weight: $bold-weight;
}