.flyout-background {
  display: none;
  position: fixed;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.6);
}

.flyout-row {
  @extend %row;
  @extend %horizontal-center;
  top: $header-height;
  z-index: 100;
  margin-top: 20px;
  overflow: visible;
  padding-right: 0;
  padding-left: 0;
}

.flyout {
  display: none;
  &.open {
    display: block;
  }
  header {
    @extend %dashboard-module-header;
    margin-bottom: 20px;
  }
  h1 {
    @extend %typography-section-title;
    margin: 0;
  }
}

.flyout-top-section, .flyout-bottom-section {
  @extend %dashboard-module-base-styling;
  float: none;
  margin-bottom: 0;
}
.flyout-top-section {
  position: relative;
  z-index: 1;
  border-bottom: none;
  box-shadow: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.flyout-bottom-section {
  @extend %pseudoelement-clearfix;
  position: relative;
  margin-top: -1px;
  margin-left: 0;
  border-top-left-radius: 0;
  padding: 15px 20px;
}

.flyout-top-section-body {
  padding: 0 20px;
}

.flyout-close-button {
  position: absolute;
  right: 20px;
  top: 18px;
  font-size: 1.2rem;
  color: $actionable-blue;
  cursor: pointer;
}

%quick-advance-cell-selected {
  color: $white;
  @include pseudo-background-cover($actionable-blue);
}

@mixin quick-advance-cell-hovered {
  color: $white;
  @include pseudo-background-cover($brand-blue);
  &.disabled-cell {
    @include pseudo-background-cover($secondary-gray);
    cursor: auto;
  }  
}

%quick-advance-row-label {
  border-right: 1px solid $light-blue;
  text-transform: capitalize;
  cursor: auto;
  @include pseudo-background-cover($light-gray);
}

.dashboard-quick-advance-flyout {
  .quick-advance-desk-closed-message {
    font-weight: $bold-weight;
    margin-top: 35px;
    a {
      display: none;
    }
  }
  .quick-advance-last-updated-message {
    display: none;
    margin-top: 15px;
    font-weight: $semibold-weight;
    &.show-message {
      display: block;
    }
    p {
      margin: 0;
      &:last-child {
        margin-bottom: 30px;
      }
    }
    a {
      color: $actionable-blue;
      text-decoration: none;
    }
  }
  .icon-dollar-before:before {
    @extend %dashboard-module-advances-icon-dollar;
  }
  .input-field-container {
    input {
      @extend %dashboard-module-advances-input;
    }
  }
  table {
    @extend %typography-paragraph-tight;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    thead {
      tr:first-child {
        th {
          font-size: 0.7333rem; // leaving this as a one-off typography style until we receive confirmation of this design
          height: 20px;
        }
      }
    }
    tbody {
      background: $light-gray; // fix for IE11 incongruity in the way height is measured for cells with rowspan
    }
    td, th {
      position: relative;
      z-index: 1;
      border: 1px solid $light-blue;
      height: 30px;
      line-height: 30px;
      box-sizing: border-box;
      &.cell-selected {
        @extend %quick-advance-cell-selected;
      }
      &.cell-hovered {
        @include quick-advance-cell-hovered;
      }
    }
    th {
      @extend %typography-table-heading;
      color: $white;
      @include pseudo-background-cover($medium-gray);
      &:first-child {
        color: $text-color;
        @include pseudo-background-cover($secondary-gray);
      }
    }
    td {
      @extend %typography-table-cell;
      position: relative;
      &:first-child {
        @include pseudo-background-cover($light-gray);
      }
      &:not(:first-child) {
        width: 110px;
      }
      &:nth-child(2) {
        border-right: 1px solid $dark-gray;
      }
      .tooltip {
        width: 160px;
        padding: 10px;
        box-sizing: border-box;
        z-index: 2;
        .tooltip-pair {
          overflow: hidden;
          margin-bottom: 5px;
          &:last-child {
            margin-bottom: 0;
          }
        }
        span:first-child {
          float: left;
          font-size: 0.8rem;
        }
        span:last-child {
          float: right;
          font-size: 0.8667rem;
        }
      }
      &:hover {
        .tooltip {
          display: block;
        }
      }
    }
    tr {
      td {
        cursor: pointer;
        @include pseudo-background-cover($lightest-blue);
      }
      td:first-child {
        @extend %quick-advance-row-label;
        &.cell-selected {
          @extend %quick-advance-cell-selected;
        }
        &.cell-hovered {
          @include quick-advance-cell-hovered;
        }
      }
      &:nth-child(odd) {
        td {
          @include pseudo-background-cover($white);
          &.cell-selected {
            @extend %quick-advance-cell-selected;
          }
          &.cell-hovered {
            @include quick-advance-cell-hovered;
          }
        }
        td:first-child {
          @include pseudo-background-cover($light-gray);
          &.cell-selected {
            @extend %quick-advance-cell-selected;
          }
          &.cell-hovered {
            @include quick-advance-cell-hovered;
          }
        }
      }
      &:nth-child(2) {
        td {
          border-bottom: 1px solid $dark-gray;
        }
      }
      &:first-child {
        th:first-child {
          border: none;
          @include pseudo-background-cover;
        }
      }
    }
    // special styling to accommodate labels for axes
    tr.quick-advance-table-label-row {
      td:nth-child(2) {
        @extend %quick-advance-row-label;
        &.cell-selected {
          @extend %quick-advance-cell-selected;
        }
        &.cell-hovered {
          @include quick-advance-cell-hovered;
        }
      }
      td:nth-child(3) {
        border-right: 1px solid $dark-gray;
      }
      &:first-child {
        .quick-advance-table-horz-axes-label {
          border-bottom: 1px solid $dark-gray;
        }
      }
    }
  }
}

.initiate-quick-advance {
  float: right;
  opacity: 0.4;
  width: 280px;
  cursor: auto;
  &.active {
    opacity: 1;
    cursor: pointer;
  }
}

.confirm-quick-advance, .quick-advance-back-button  {
  width: 280px;
}

.confirm-quick-advance {
  float: right;
}

.quick-advance-back-button {
  @extend %button;
  background: $secondary-gray;
  float: left;
  &:before {
    margin-right: 10px;
  }
}

.quick-advance-preview-subheading {
  @extend %typography-subtitle;
  margin-bottom: 0;
}

.quick-advance-preview {
  @extend %clearfix;
  position: relative;
  padding-left: 60px;
  &:before {
    position: absolute;
    top: 1rem;
    left: 0;
    font-size: 30px;
    color: $alert-red;
  }
  dl{
    float: left;
    margin: 0.5rem 0 1.5rem;
    &:last-child {
      padding-left: 30px;
    }
  }
  dt {
    @extend %typography-confirmation-label;
    float: left;
    width: 80px;
    overflow: hidden;
    clear: left;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  dd {
    @extend %typography-confirmation-data;
    @extend %clearfix;
  }
}

.quick-advance-summary {
  p {
    @extend %typography-confirmation-label;
    margin: 0.5rem 0 0;
  }
  span {
    @extend %typography-confirmation-data;
  }
}

.quick-advance-table-horz-axes-label {
  width: 20px;
  vertical-align: top;
  padding-top: 8px;
  span {
    display: inline-block;
    transform: rotate(270deg);
    font-size: 0.7333rem; // leaving this as a one-off typography style until we receive confirmation of this design
  }
}

.quick-advance-confirmation {
  &:before {
    content: none;
  }
}

.quick-advance-confirmation-button {
  @extend %horizontal-center;
  position: relative;
}
