.flyout-background {
  display: none;
  position: fixed;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.6);
}

.flyout-row {
  @extend %row;
  top: $header-height;
  z-index: 100;
  margin-top: 20px;
  overflow: visible;
  padding-right: 0;
  padding-left: 0;
  position: absolute;
  @media screen and (min-width: $row-width + 1) {
    @include horizontal-center;
  }
}

.flyout {
  display: none;
  &.open {
    display: block;
  }
  header {
    @extend %dashboard-module-header;
    margin-bottom: 20px;
  }
  h1 {
    @extend %typography-section-title;
    margin: 0;
  }
}

.flyout-top-section, .flyout-bottom-section {
  @extend %dashboard-module-base-styling;
  float: none;
  margin-bottom: 0;
}
.flyout-top-section {
  position: relative;
  z-index: 1;
  border-bottom: none;
  box-shadow: none;
  &:not(.flyout-single-section) {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  &.flyout-single-section {
    padding: 15px 20px;
  }
}
.flyout-bottom-section {
  @extend %pseudoelement-clearfix;
  position: relative;
  margin-top: -1px;
  margin-left: 0;
  padding: 15px 20px;
  &:not(.flyout-single-section) {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

.flyout-top-section-body {
  padding: 0 20px;
}

.flyout-close-button {
  position: absolute;
  right: 20px;
  top: 18px;
  font-size: 1.2rem;
  color: $actionable-blue;
  cursor: pointer;
}

.loading-report {
  display: none;
}

.flyout-loading-message {
  margin-top: 55px;
  margin-left: 290px;
  .loading-report {
    display: block;
  }
  .flyout-top-section {
    position: relative;
    box-sizing: border-box;
    width: 380px;
    padding: 25px 20px 20px 70px;
    border-radius: $default-border-radius;
    &:before {
      @include icon-loading;
      @extend %absolute-pseudoelement;
      top: 20px;
      left: 20px;
    }
  }
  .flyout-close-button {
    display: none;
  }
  p {
    margin-top: 0;
  }
  a {
    @extend %dashboard-module-link;
    float: none;
    cursor: pointer;
  }
  .error-message {
    display: none;
  }
  &.flyout-loading-error {
    .error-message {
      display: block;
    }
    .loading-message {
      display: none;
    }
    .flyout-top-section:before {
      background: none;
      @extend %icon-font;
      content: "#{$icon-alert}";
      color: $alert-red;
      font-size: $spinner-size;
    }
  }
}

.flyout-confirmation-dialogue {
  position: relative;
  width: 500px;
  margin: 0 auto;
  top: 310px;
  h2 {
    @extend %typography-section-title;
    margin: 0 0 50px;
  }
  .primary-button, .secondary-button {
    width: 220px;
  }
  .primary-button {
    margin-left: 14px;
  }
  .flyout-top-section {
    padding: 15px 20px 20px;
  }
}