.letters-of-credit {
  @extend %page-header;
  h2 {
    @extend %typography-section-title;
    margin-bottom: 20px;
  }
  .input-field-container {
    input:not([type=submit]) {
      background-color: $white;
      &:disabled {
        background-color: $white;
      }
    }
  }
}

.letters-of-credit-manage {
  .secondary-button {
    @extend %typography-table-button;
    float: right;
    margin-bottom: 10px;
  }
  table {
    td:nth-child(2) {
      width: 250px;
    }
    td:last-child:not(.dataTables_empty) {
      text-transform: uppercase;
      color: $medium-gray;
    }
  }
}

.letters-of-credit-request {
  section:not(.report-summary-data) {
    @extend %bordered-section;
    @extend %pseudoelement-clearfix;
    h2 {
      margin-top: 0;
    }
    .amount-field {
      height: 35px;
    }
  }
}

.letters-of-credit-fees-section {
  .input-field-container-horizontal {
    @extend %horizontal-label-styling;
    text-align: right;
    float: none;
    margin-right: 0;
    &:first-of-type {
      margin-bottom: 10px;
    }
    .input-field-container {
      width: 180px;
      margin-right: 0;
    }
  }
  .input-field-container.icon-dollar-before {
    input {
      padding-left: 15px;
    }
    &:before {
      z-index: 0;
      color: $medium-gray;
    }
  }
}

.letters-of-credit-request-actions {
  .primary-button, .secondary-button {
    width: 215px;
  }
  .primary-button {
    float: right;
  }
}

.letters-of-credit-success-info {
  position: relative;
  padding-left: $extra-large-icon-font-size * 2;
  margin-top: 35px;
  p {
    span {
      @extend %typography-graph-data;
      display: block;
    }
  }
  &:before {
    position: absolute;
    left: 0;
    font-size: $extra-large-icon-font-size;
    color: $approval-green;
  }
}

.letters-of-credit-success-actions, .letters-of-credit-error-actions {
  .primary-button, .secondary-button {
    width: 219px;
  }
}
.letters-of-credit-success-actions {
  margin-top: 70px;
  .primary-button, .secondary-button {
    margin-right: 10px;
  }
}

.letters-of-credit-error-actions {
  margin-top: 30px;
  .primary-button {
    float: right;
  }
}

@media print {
  .letters-of-credit {
    color: $print-color;
    h1 {
      @include typography-print-header;
      float: none;
      margin-bottom: 0px;
    }
    h2 {
      @include typography-print-subheader;
    }
    dt, dd {
      @include typography-print-details;
      color: $print-color;
    }
    .row {
      width: auto;
      padding: 0;
      margin: 0;
    }
    .report-print-details {
      margin-bottom: 30px;
      h2, .report-print-sta {
        @include typography-print-details;
        display: inline-block;
        margin: 0;
      }
    }
    .form-summary-data {
      padding: 0;
      margin: 0;
      border: none;
      dt {
        width: 160px;
      }
    }
  }
  .letters-of-credit-legal-copy {
    @include typography-print-details;
    margin-top: 45px;
  }
}