.letters-of-credit {
  @extend %page-header;
  h2 {
    @extend %typography-section-title;
    margin-bottom: 20px;
  }
  .input-field-container {
    input:not([type=submit]) {
      background-color: $white;
      &:disabled {
        background-color: $white;
      }
    }
  }
}

.letters-of-credit-manage {
  .secondary-button {
    @extend %typography-table-button;
    float: right;
    margin-bottom: 10px;
  }
  table {
    td:last-child:not(.dataTables_empty) {
      text-transform: uppercase;
      color: $medium-gray;
    }
  }
}

.letters-of-credit-request {
  section:not(.report-summary-data) {
    @extend %bordered-section;
    @extend %pseudoelement-clearfix;
    h2 {
      margin-top: 0;
    }
    .amount-field {
      height: 35px;
    }
  }
}

.letters-of-credit-fees-section {
  .input-field-container-horizontal {
    @extend %horizontal-label-styling;
    text-align: right;
    float: none;
    margin-right: 0;
    &:first-of-type {
      margin-bottom: 10px;
    }
    .input-field-container {
      width: 180px;
      margin-right: 0;
    }
  }
  .input-field-container.icon-dollar-before {
    input {
      padding-left: 15px;
    }
    &:before {
      color: $medium-gray;
    }
  }
}

.letters-of-credit-request-actions {
  .primary-button, .secondary-button {
    width: 215px;
  }
  .primary-button {
    float: right;
  }
}