.corporate-communications {
  h1 {
    margin-bottom: 20px;
  }
  table {
    @extend %table-striped;
    margin-top: 60px;
    border-top: 1px solid $light-blue;
    border-bottom: 1px solid $light-blue;
    a {
      display: block;
      padding: 10px 20px 5px;
    }
    h3 {
      @extend %typography-table-cell-heading;
      color: $darkest-gray;
      margin: 0;
    }
    small {
      @extend %typography-table-annotation;
      color: $medium-gray;
      text-transform: uppercase;
      margin: 0;
    }
  }
}