$link-fonts: false;
$extralight-weight: 100; // Bug fix for wkhtmltopdf
$light-weight: 200; // Bug fix for wkhtmltopdf

@import 'application';

@media print { // This is here so that normal page prints don't loose the formatting
  html, body {
    position: static;
    overflow: visible;
    min-height: 0;
    background-color: initial;
  }
}