$extralight-weight: 100; // Bug fix for wkhtmltopdf
$light-weight: 200; // Bug fix for wkhtmltopdf

@import 'application';

@mixin font-inline($name, $weight, $style, $family: 'SourceSansPro') {
  @font-face {
   font-family: $family;
      src: asset-data-url("#{$name}.ttf") format("truetype"), asset-data-url("#{$name}.ttf") format("truetype");
   font-weight: $weight;
   font-style: $style;
  }
}

@include font-inline('sourcesanspro-regular-webfont', $normal-weight, normal);
@include font-inline('sourcesanspro-semibold-webfont', $semibold-weight, normal);
@include font-inline('sourcesanspro-bold-webfont', $bold-weight, normal);
@include font-inline('sourcesanspro-light-webfont', $light-weight, normal);
@include font-inline('sourcesanspro-extralight-webfont', $extralight-weight, normal);
@include font-inline('fhlbsf-icons', normal, normal, 'fhlbsf-icons');

@media print { // This is here so that normal page prints don't loose the formatting
  html, body {
    position: static;
    overflow: visible;
    min-height: 0;
    background-color: initial;
  }
}