.product-page {
  .column-2x10-right {
    padding-right: 10px;
  }
  h2 {
    @extend %typography-section-title;
    margin: 25px 0 10px;
  }
  h3 {
    @extend %typography-subtitle;
    margin: 0 0 8px;
    &:not(:first-of-type) {
      margin-top: 25px;
    }
  }
  h3 + p {
    margin-top: 0;
  }
  a {
    text-decoration: none;
    color: $actionable-blue;
  }
  ul {
    padding-left: 30px;
    margin-top: 0;
  }
  .key_uses_list, .key_advantages_list {
    padding-left: 0;
  }
  .term, .definition {
    display: inline;
  }
  .term {
    @extend %typography-subtitle;
  }
  table {
    @extend %table-report;
    @extend %table-nested-rows;
  }
}

.credit-product-list, .key-uses-list, .key-advantages-list {
  list-style: none;
}

.last-modified {
  @extend %typography-header-nav;
  color: $medium-gray;
  text-transform: uppercase;
  margin-top: 40px;
}
