.product-page {
  @extend %info-page-style;
  .key_uses_list, .key_advantages_list {
    padding-left: 0;
  }
  .term, .definition {
    display: inline;
  }
  .term {
    @extend %typography-subtitle;
  }
  table {
    @extend %table-report;
    @extend %table-nested-rows;
    margin-bottom: 15px;
  }
  small {
    position: relative;
    padding-left: 10px;
    display: block;
    &:before {
      content: '1';
      position: absolute;
      left: 0;
      top: 0;
    }
  }
}

.credit-product-list, .key-uses-list, .key-advantages-list {
  list-style: none;
}

.last-modified {
  @extend %typography-header-nav;
  color: $medium-gray;
  text-transform: uppercase;
  margin-top: 40px;
}

.product-mpf-exhibits
{
  ul {
    margin-bottom: 30px;
    li {
      margin-bottom: 10px;
    }
  }
}

.product-page-mpf
{
  h1 {
    span {
      display: block;
    }
  }
  h4 {
    @extend %typography-subtitle;
    text-transform: uppercase;
    color: $medium-gray;
    margin-top: 0;
    margin-bottom: 12px;
  }
}

.product-mpf-table {
  @extend %table-striped;
  @extend %table-nested-rows;
  border-bottom: 1px solid $light-blue;
  border-top: 1px solid $light-blue;
  margin-bottom: 40px;
  width: 100%;
  td{
    @extend %typography-table-cell;
    padding: 7px 20px;

    &:last-child {
      width: 70px;
      text-align: right;
      text-transform: uppercase;
    }
  }
  h5 {
    @extend %typography-table-heading;
    text-transform: uppercase;
    color: $medium-gray;
    margin: 0;
  }
  a{
    @include typography-dropdown-selector;
    text-transform: uppercase;
  }
}

.product-authorizations {
  *:not(li) > a {
    @include typography-dropdown-selector;
    text-transform: uppercase;
  }
}
