$faded-opacity: 0.4 !default;

%quick-advance-cell-selected {
  color: $white;
  .quick-advance-cell-wrapper {
    @include pseudo-background-cover($actionable-blue);
  }
}

@mixin quick-advance-cell-hovered {
  color: $white;
  .quick-advance-cell-wrapper {
    @include pseudo-background-cover($brand-blue);
  }
  &.disabled-cell {
    .quick-advance-cell-wrapper {
      @include pseudo-background-cover($light-gray);
    }
    color: inherit;
    cursor: auto;
  }
}

%quick-advance-row-label {
  border-right: 1px solid $light-blue;
  text-transform: capitalize;
  cursor: auto;
  .quick-advance-cell-wrapper {
    @include pseudo-background-cover($light-gray);
  }
}

.quick-advance-cell-wrapper {
  position: relative;
  z-index: 1;
}

.quick-advance-rates:not(.loading) {
  .quick-advance-cell-wrapper:hover {
    z-index: 2;
  }
  td {
    cursor: pointer;
    &:hover {
      z-index: 2;
      .tooltip {
        display: block;
      }
    }
  }
}

.quick-advance-instruction, .quick-advance-limited-pricing-message {
  display: none;
}

.quick-advance-limited-pricing-message {
  position: relative;
  padding-left: 50px;
  border-top: 1px solid $actionable-blue;
  border-bottom: 1px solid $actionable-blue;
  &:before {
    color: $actionable-blue;
    position: absolute;
    left: 0;
    top: 15px;
    font-size: 30px;
    line-height: 30px;
  }
}

.dashboard-quick-advance-flyout {
  .quick-advance-desk-closed-message {
    font-weight: $bold-weight;
    margin-top: 35px;
    a {
      display: none;
    }
  }
  .quick-advance-last-updated-message {
    display: none;
    margin-top: 15px;
    font-weight: $semibold-weight;
    &.show-message {
      display: block;
    }
    p {
      margin: 0;
      &:last-child {
        margin-bottom: 30px;
      }
    }
    a {
      @extend %link-style;
    }
  }
  .icon-dollar-before:before {
    @extend %dashboard-module-advances-icon-dollar;
  }
  .input-field-container {
    input {
      @extend %dashboard-module-advances-input;
    }
  }
  .quick-advance-instruction, .quick-advance-limited-pricing-message {
    display: block;
    margin: 0 0 15px;
  }
  table {
    @extend %typography-paragraph-tight;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    thead {
      tr:first-child {
        th {
          font-size: 0.7333rem; // leaving this as a one-off typography style until we receive confirmation of this design
          height: 20px;
        }
      }
    }
    tbody {
      background: $light-gray; // fix for IE11 incongruity in the way height is measured for cells with rowspan
    }
    td, th {
      border: 1px solid $light-blue;
      height: 30px;
      line-height: 30px;
      box-sizing: border-box;
      &.cell-selected {
        @extend %quick-advance-cell-selected;
      }
      &.cell-hovered {
        @include quick-advance-cell-hovered;
      }
    }
    th {
      @extend %typography-table-heading;
      color: $white;
      .quick-advance-cell-wrapper {
        @include pseudo-background-cover($medium-gray);
      }
      &:first-child {
        color: $text-color;
        .quick-advance-cell-wrapper {
          @include pseudo-background-cover($secondary-gray);
        }
      }
    }
    td {
      @extend %typography-table-cell;
      &:first-child {
        .quick-advance-cell-wrapper {
          @include pseudo-background-cover($light-gray);
        }
      }
      &:not(:first-child) {
        width: 110px;
      }
      &:nth-child(2) {
        border-right: 1px solid $dark-gray;
      }
      .tooltip {
        @extend %inverted-tooltip;
        margin-top: 10px;
        box-sizing: border-box;
        z-index: 2;
        .tooltip-pair {
          overflow: hidden;
          margin-bottom: 5px;
          line-height: normal;
          padding: 0 5px;
          &:last-child {
            margin-bottom: 0;
          }
        }
        span:first-child {
          font-size: 0.8rem;
          margin-right: 5px;
        }
        span:last-child {
          font-size: 0.8667rem;
        }
      }
    }
    tr {
      td {
        .quick-advance-cell-wrapper {
          @include pseudo-background-cover($lightest-blue);
        }
      }
      td:first-child {
        @extend %quick-advance-row-label;
        &.cell-selected, &.row-label.cell-selected {
          @extend %quick-advance-cell-selected;
        }
        &.cell-hovered {
          @include quick-advance-cell-hovered;
        }
      }
      &:nth-child(odd) {
        td {
          .quick-advance-cell-wrapper {
            @include pseudo-background-cover($white);
          }
          &.disabled-cell {
            .quick-advance-cell-wrapper {
              @include pseudo-background-cover($light-gray);
            }
          }
          &.cell-selected, &.cell-selected.selectable-cell {
            @extend %quick-advance-cell-selected;
          }
          &.cell-hovered {
            @include quick-advance-cell-hovered;
          }
        }
        td:first-child {
          .quick-advance-cell-wrapper {
            @include pseudo-background-cover($light-gray);
          }
          &.cell-selected {
            @extend %quick-advance-cell-selected;
          }
          &.cell-hovered {
            @include quick-advance-cell-hovered;
          }
        }
      }
      &:nth-child(2) {
        td {
          border-bottom: 1px solid $dark-gray;
        }
      }
      &:first-child {
        th:first-child {
          border: none;
          .quick-advance-cell-wrapper {
            @include pseudo-background-cover;
          }
        }
      }
    }
    // special styling to accommodate labels for axes
    tr.quick-advance-table-label-row {
      td.row-label {
        @extend %quick-advance-row-label;
        &.cell-selected {
          @extend %quick-advance-cell-selected;
        }
        &.cell-hovered {
          @include quick-advance-cell-hovered;
        }
      }
      td:nth-child(3) {
        border-right: 1px solid $dark-gray;
      }
      &:first-child {
        .quick-advance-table-horz-axes-label {
          border-bottom: 1px solid $dark-gray;
        }
      }
    }
  }
}

.quick-advance-rate-cell.disabled-cell {
  .quick-advance-cell-wrapper {
    @include pseudo-background-cover($light-gray);
  }
}

.initiate-quick-advance, .confirm-quick-advance {
  background-color: $secondary-gray;
  cursor: auto;
  &.active {
    background-color: $actionable-blue;
    opacity: 1;
    cursor: pointer;
  }
}

.dashboard-quick-advance-flyout {
  .primary-button, .secondary-button  {
    width: 280px;
  }
  .primary-button {
    float: right;
  }
  .secondary-button {
    float: left;
  }
}

.quick-advance-back-button, .quick-advance-capstock-back-button {
  &:before {
    margin-right: 10px;
  }
}

.quick-advance-preview-subheading, .quick-advance-confirmation-subheading, .quick-advance-capstock-subheading {
  @extend %typography-subtitle;
  margin-bottom: 0;
}

.quick-advance-preview.loading {
  .primary-button, .secondary-button {
    color: $white;
    background-color: $secondary-gray;
  }
}

.quick-advance-body {
  .quick-advance-icon-section {
    @extend %clearfix;
    position: relative;
    padding-left: 60px;
    &:before {
      position: absolute;
      top: 1rem;
      left: 0;
      font-size: 30px;
      color: $alert-red;
      .quick-advance-confirmation & {
        color: $approval-green;
      }
    }
  }
  fieldset {
    border: 1px solid $light-blue;
    border-radius: $default-border-radius;
    padding: 20px;
    margin-bottom: 20px;
    p {
      margin: 0 0 10px 0;
    }
    a {
      @extend %link-style;
      text-transform: uppercase;
      display: block;
      clear: both;
      &:visited {
        color: $actionable-blue;
      }
    }
    .input-field-container {
      display: block;
      margin-bottom: 10px;
      input {
        padding-left: 10px;
        padding-right: 10px;
        &[name=securid_pin] {
          width: 55px;
        }
        &[name=securid_token] {
          width: 85px;
        }
      }
    }
    .form-error {
      margin-bottom: 10px;
      display: none;
      clear: both;
    }
    .loading & {
      display: none;
    }
  }
  dl{
    float: none;
    margin: 0.5rem 0 1rem;
  }
  .large_dl {
    width: 400px;
    dt {
      width: auto;
      margin-right: 10px;
    }
  }
  dt {
    @extend %typography-graph-data;
    color: $medium-gray;
    float: left;
    text-align: left;
    width: 250px;
    overflow: hidden;
    clear: left;
    &.quick-advance-updated-rate {
      color: $alert-orange;
    }
  }
  dd {
    @extend %typography-graph-data;
    @extend %clearfix;
    text-align: left;
    p {
      @extend %typography-graph-data;
      color: $alert-orange;
      margin: 0;
    }
  }
  .quick-advance-loading-message {
    display: none;
  }
  .loading & {
    p {
      display: none;
    }
    .quick-advance-summary p:first-child {
      display: block;
      color: $text-color;
    }
    .quick-advance-updated-rate {
      @extend %typography-graph-data;
      color: $medium-gray;
    }
    .quick-advance-icon-section {
      &:before {
        @include icon-loading;
        content: '';
      }
    }
    .quick-advance-loading-message {
      display: block;
    }
    .quick-advance-summary {
      opacity: $faded-opacity;
    }
    .label-radio {
      opacity: $faded-opacity;
    }
    input {
      opacity: $faded-opacity;
    }
    table {
      opacity: $faded-opacity;
    }
  }
}

.dashboard-quick-advance-flyout .quick-advance-error-button {
  float: none;
}

.quick-advance-confirmation .quick-advance-body {
  &:before {
    color: $approval-green;
  }
}

.quick-advance-summary {
  @extend %clearfix;
  padding-left: 60px;
  padding-bottom: 30px;
  p {
    @extend %typography-confirmation-label;
    margin: 0.5rem 0 0;
  }
}

.quick-advance-table-horz-axes-label {
  width: 20px;
  vertical-align: top;
  padding-top: 8px;
  span {
    line-height: 1;
    vertical-align: top;
    display: inline-block;
    font-size: 0.7333rem; // leaving this as a one-off typography style until we receive confirmation of this design
  }
}

.quick-advance-confirmation-button {
  @extend %horizontal-center;
  position: relative;
}

.quick-advances-footer, .rate-advances-footer {
  @extend %typography-footer;
  padding-top: 40px;
}

.quick-advance-rates-body {
  .quick-advance-icon-section {
    @extend %clearfix;
    overflow: visible;
    position: relative;
    &:before {
      position: absolute;
      top: 1rem;
      left: 0;
      font-size: 30px;
      color: $alert-red;
      .quick-advance-confirmation & {
        color: $approval-green;
      }
    }
  }
  .quick-advance-loading-message {
    display: none;
  }
  .loading & {
    p {
      display: none;
    }
    .quick-advance-icon-section {
      &:before {
        @include icon-loading;
        content: '';
      }
    }
    .quick-advance-loading-message {
      padding-left: 60px;
      display: block;
    }
    .quick-advance-summary {
      opacity: $faded-opacity;
    }
    .label-radio {
      opacity: $faded-opacity;
    }
    table {
      opacity: $faded-opacity;
    }
  }
}
