.reports, .report, .resource-guide-page, .resource-forms-page, .product-page {
  h1 {
    @extend %typography-page-title;
    margin: 32px 0 17px;
  }
  a {
    text-decoration: none;
    color: $actionable-blue;
  }
}

.reports-table {
  @extend %table-striped;
  border-bottom: 1px solid $light-blue;
  margin-top: 60px;
  &:last-child {
    margin-bottom: 60px;
  }
  thead {
    border-bottom: 1px solid $light-blue;
  }
  td, th {
    vertical-align: top;
    text-align: left;
    box-sizing: border-box;
    overflow: hidden;
  }
  th {
    @extend %typography-header-text;
    color: $medium-gray;
    &:first-child {
      @extend %typography-section-title;
      padding-bottom: 10px;
      color: $text-color;
    }
  }
  a, .disabled {
    display: block;
    color: $text-color;
    padding: 15px 20px;
  }

  td {
    @extend %typography-subtitle;
    height: 100px;
    position: relative;
    h3 {
      @extend %typography-subtitle;
      margin: 0 0 5px;
    }
    p {
      font-size: 0.8667rem;
      font-weight: $normal-weight;
      margin: 5px 0 15px;
      &:last-child {
        position: absolute;
        top: 15px;
        right: 20px;
        @include typography-dropdown-selector;
        color: $actionable-blue;
        text-transform: uppercase;
      }
    }
    .disabled p {
      color: $medium-gray;
    }
    .report-info {
      @extend %typography-table-total;
      color: $medium-gray;
      span:first-child {
        display: inline-block;
        width: 120px;
        text-transform: uppercase;
      }
    }
    p, .report-info {
      max-width: 840px;
    }
  }
}

.report-header-buttons {
  float: right;
  margin-top: 32px;
}

.report-details {
  clear: both;
  margin-bottom: 20px;
  h2 {
    @extend %typography-subtitle;
    margin-bottom: 0;
  }
  p {
    @extend %typography-dashboard-account-summary;
    margin: 0;
    color: $medium-gray;
  }
}

.report {
  input {
    color: $dark-gray;
    @include typography-field-value;
  }
  .datepicker-input-field {
    display: none;
  }
}

.report-header {
  @extend %pseudoelement-clearfix;
  h1 {
    float: left;
  }
  p {
    clear: both;
    width: 540px;
    display: block;
  }
}

.report-datepicker, .report-filter {
  width: (3 * $grid-column-width) + (2 * $gutter-width);
  form {
    display: none;
  }
  &.report-filter-wide {
    width: 320px;
    .dropdown-selection {
      width: 320px;
    }
  }
}

.report-datepicker {
  .input-field-container {
    input {
      background-color: $white;
    }
    &.active input {
      background-color: $light-gray;
    }
  }
}

.report-main-body {
  @extend %report-main-body;
  small {
    span:first-child {
      @extend %typography-table-total;
      margin-right: 5px;
      margin-top: 10px;
    }
    dt {
      font-weight: $bold-weight;
      display: inline-block;
      white-space: nowrap;
      padding-right: 2px;
    }
    dd {
      display: inline;
      margin: 0;
      &:after {
        content: "\a\a";
        white-space: pre;
      }
    }
    dd:last-child:after {
      content: none;
    }
  }
}

.report-current-price-indication {
  .report-main-body {
    margin-bottom: 50px;
  }
}

.advances-detail-report {
  .report-main-body {
    small {
      p:last-child {
        margin-top: 1em;
      }
    }
  }
}

.report-summary-data {
  display: inline-block;
  width: (3 * $grid-column-width) + (2 * $gutter-width);
  margin-right: $grid-column-width + (2 * $gutter-width);
  margin-bottom: 50px;
  &:nth-child(3) {
    margin-right: 0;
  }
  p {
    @extend %typography-report-summary;
    color: $actionable-blue;
    margin: 0;
  }
  &.report-summary-right {
    text-align: right;
    float: right;
    margin-right: 0;
  }
}

.report-table-title {
   @extend %typography-section-title;
   margin: 0 0 15px;
 }

.report-table-title-with-margins {
  @extend %typography-section-title;
  margin: 25px 0 10px;
  .sub-title {
    @extend %typography-table-cell;
  }
}

.report-table {
  @extend %table-report;

  &.table-dividend-summary tbody,
  &.securities-services-table {
    tr:nth-child(odd) {
      background-color: transparent;
    }
    tr:nth-child(even) {
      background-color: $lightest-blue;
    }
  }

  .report-cell-right {
    text-align: right;
  }

  .report-cell-total {
    border-right-width: 0px;
  }

  .report-cell-narrow {
    padding-left: 10px;
  }

  .report-cell-expanding {
    width: auto;
  }

  .sorting, .sorting_asc, .sorting_desc {
    &:hover {
      text-decoration: underline;
    }
  }

  .sorting_asc, .sorting_desc {
    background-color: $secondary-gray;
  }

  .report-detail-cell {
    position: relative;
    display: none;
    padding: 20px 25px;
    h3 {
      margin-bottom: 10px;
    }
    .left-column, .right-column {
      float:left;
      margin-right: 20px;
      width: 434px;
    }
    .right-column {
      margin-right: 0;
    }
    table {
      width: 100%;
      border-top: 1px solid $secondary-gray;
      &:last-child {
        border-bottom: 1px solid $secondary-gray;
      }
      td {
        border: none;
        padding: 10px 0 0;

      }
      tr {
        background-color: inherit;
      }
      tr:last-child td {
        padding-bottom: 10px;
      }
      &:last-child {
        td:first-child {
          vertical-align: top;
        }
        td:last-child {
          line-height: $tight-line-height;
        }
      }
    }
    .hide-detail-view {
      position: absolute;
      top: 10px;
      right: 10px;
      margin: 0;
      text-transform: uppercase;
      color: $actionable-blue;
      cursor: pointer;
    }
  }
  tbody td {
    table {
      td:first-child {
        width: 210px;
        @extend %typography-table-heading;
        color: $medium-gray;
      }
      td:last-child {
        @extend %typography-table-heading;
      }
    }
  }
}

.detail-view {
  .report-detail-cell {
    display: table-cell;
  }
}

.detail-view > td:not(.report-detail-cell) {
  display: none;
}

.detail-view-trigger {
  text-transform: uppercase;
  color: $actionable-blue;
  cursor: pointer;
  vertical-align: top;
}

.report-parent-table {
  margin-bottom: 5px;
}

.report-sub-table {
  float: right;
  width: (7 * $grid-column-width) + (7 * $gutter-width);
  margin-bottom: 0;
  td:first-child {
    width: (4 * $grid-column-width) + (5 * $gutter-width);
  }
}

.table-allow-wrapping {
  td, th {
    white-space: normal;
  }
  th {
    position: relative;
    vertical-align: top;
    &:after {
      position: absolute;
      top: 10px;
      right: 10px;
    }
  }
}

.report-tables-section {
  @extend %clearfix;
  margin-bottom: 50px;
}

.report-table-summary-data {
  display: block;
  float: right;
  margin-right: 0;
  text-align: right;
}

.report-inputs {
  clear: both;
  margin-bottom: 86px;
  .report-datepicker, .report-filter {
    float: left;
  }
}

.report-filter {
  margin-left: 10px;
}

.sta-statement {
  .report-table {
    th {
      box-sizing: border-box;
    }
    th:nth-child(2) {
      min-width: 160px;
    }

    th:nth-child(4), th:nth-child(5), th:nth-child(6) {
      min-width: 105px;
    }
  }
}

.cash-projections-report-table {
  td{
    vertical-align: top}
  th {
    &:nth-child(1) {
      min-width: 78px;
    }
    &:nth-child(2) {
      min-width: 78px;
    }
    &:nth-child(3) {
      min-width: 168px;
    }
    &:nth-child(4) {
      min-width: 88px;
    }
    &:nth-child(5) {
      min-width: 64px;
    }
    &:nth-child(6) {
      min-width: 78px;
    }
    &:nth-child(7) {
      min-width: 98px;
    }
    &:nth-child(8) {
      min-width: 98px;
    }
    &:nth-child(9) {
      min-width: 110px;
    }
  }
  tfoot {
    td {
      &:first-child {
        border-right: none;
        padding-right: 45px;
      }
      &:nth-child(4) {
        border-right: none;
      }
    }
  }
}

.advances-details-report-table {
  td, th {
    @include table-cell-treatment;
  }
  th {
    &:nth-child(5) {
      min-width: 78px;
    }
    &:nth-child(6) {
      min-width: 105px;
    }
    &:nth-child(7) {
      min-width: 70px;
    }
    &:nth-child(8) {
      min-width: 101px;
    }
    &:nth-child(9) {
      min-width: 85px;
    }
    &:nth-child(10) {
      min-width: 136px;
    }
    &:last-child {
      display: none;
    }
  }
  tfoot {
    td {
      &:nth-child(1), &:nth-child(2), &:nth-child(4), &:nth-child(6) {
        border-right: none;
      }
    }
  }
}

.price-indications-report {
  min-height: 470px; // Must be tall enough to allow datepicker without flowing into footer
  .report-filter:first-of-type {
    margin-left: 0;
  }
  .report-datepicker {
    margin-left: 10px;
  }
  .report-table {
    th {
      box-sizing: border-box;
      &:first-child {
        width: 82px;
      }
    }
  }
  small {
    img {
      position: relative;
      top: 3px;
      margin-left: 10px;
    }
  }
  dl {
    @extend %typography-table-cell;
    margin: -5px 0 15px; // neg top margin so we can leave .report-table-title style as-is for other reports
  }
  dt {
    float: left;
    margin-right: 8px;
  }
  dd {
    margin-left: 0;
    dl {
      clear: both;
      margin: 0 0 0 40px;
    }
  }
}

.report-dividend-statement {
  .report-filter {
    margin-left: 0;
  }
  .table-dividend-summary {
    width: 500px;
    td:last-of-type {
      width: 120px;
    }
  }
  .table-dividend-details {
    th {
      &:last-child {
        width: 100px;
      }
    }
    tfoot td:first-child {
      border-right: none;
    }
  }
}

.standard-frc-table, .standard-vrc-table, .sbc-frc-table, .sbc-vrc-table {
  th {
    width: 64px;
  }
}

.standard-vrc-table, .sbc-vrc-table {
  width: auto;
  th:first-child {
    width: 85px;
  }
}

.current-price-vrc-table {
  width: 480px;
  margin-bottom: 15px;
  th {
    &:nth-child(2) {
      min-width: 150px;
    }
    &:nth-child(3) {
      min-width: 140px;
    }
  }
}

.current-price-frc-table {
  width: 480px;
  margin-bottom: 15px;
  th {
    &:nth-child(2) {
      min-width: 90px;
    }
    &:nth-child(3) {
      min-width: 110px;
    }
    &:nth-child(4) {
      min-width: 100px;
    }
  }
}

.current-price-arc-table {
  width: 380px;
  margin-bottom: 15px;
}

.current-price-arc-sbc-table {
  width: 310px;
  margin-bottom: 15px;
}

.sta-rate-table {
  width: 350px;
  margin-bottom: 15px;
}

.report-securities-services-statement {
  .report-summary-data {
    width: auto;
  }
  .report-table {
    td:first-child {
      width: 300px;
    }
    td:last-child {
      width: 100px;
    }
  }
  .report-summary-right {
    width: 40%;
  }
}

.report-table-vertical-headers {
  td {
    &:nth-child(1) {
      @extend %typography-table-heading;
      background-color: $light-gray;
    }
  }
}

.interest-rate-resets-table {
  width: 600px;
}

.securities-transactions-table {
  width: 940px;
  th {
    &:nth-child(4) {
      min-width: 170px;
    }
  }
  tfoot {
    td {
      &:nth-child(1) {
        border-right: none;
      }
    }
  }
}

.standard-1m_libor-table, .standard-3m_libor-table, .standard-6m_libor-table, .standard-daily_prime-table, .sbc-1m_libor-table, .sbc-3m_libor-table, .sbc-6m_libor-table, .current-price-vrc-table {
  width: auto;
  border-top: none;
  border-left: none;
  th, td {
    border: 1px solid $light-blue;
  }
  th:first-child {
    width: 85px;
  }
  .table-heading-row {
    th:first-child {
      border: none;
      background-color: $white;
    }
    th:last-child {
      text-align: center;
    }
  }
}

td .currency-alignment {
  width: auto;
}

.currency-alignment {
  width: 9em;
  display: block;
  .alignleft {
    float: left;
  }
  .alignright {
    float: right;
  }
}

td.dataTables_empty {
  @extend %empty_table_cell;
}

.letters-of-credit-table {
  td, th {
    @include table-cell-treatment;
  }
  th {
    &:nth-child(1) {
      width: 85px;
    }
    &:nth-child(2) {
      width: 130px;
    }
    &:nth-child(3) {
      width: 140px;
    }
    &:nth-child(4), &:nth-child(5) {
      width: 115px;
    }
  }
  tfoot {
    td:first-child {
      border-right: none;
    }
  }
}

.parallel-shifts-table {
  width: 706px;
  td, th {
    @include table-cell-treatment;
  }
  th {
    &:nth-child(1), &:nth-child(3) {
      width: 120px;
    }
    &:nth-child(2) {
      width: 82px;
    }
  }
}

.authorizations-report {
  p {
    width: 540px;
    &:first-child {
      margin-top: 0;
    }
  }
  a {
    color: $actionable-blue;
  }
  small {
    margin-bottom: 10px;
  }
}

.authorizations-table {
  clear: both;
  width: auto;
  td:first-child {
    @extend %typography-table-heading;
    width: 160px;
    box-sizing: border-box;
    vertical-align: top;
  }
  td:last-child {
    text-align: left;
    width: 540px;
    box-sizing: border-box;
  }
  th:first-child {
    width: 160px;
  }
  th:last-child {
    width: 540px;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  li {
    line-height: normal;
  }
  td.table-loading-cell {
    width: 700px;
  }
}

.authorizations-filter {
  margin: 15px 0 30px;
}

.securities-report {
  .report-summary-data {
    width: 290px;
    margin-right: 20px;
    span {
      white-space: nowrap;
    }
  }
  .report-main-body small p {
    margin-bottom: 1em;
  }
  .report-table {
    td, th {
      @include table-cell-treatment;
    }
    th {
      &:nth-child(1), &:nth-child(4) {
        width: 66px;
      }
      &:nth-child(2), &:nth-child(7) {
        width: 80px;
      }
      &:nth-child(3) {
        width: 130px;
      }
      &:nth-child(5) {
        width: 74px;
      }
      &:nth-child(6), &:nth-child(8) {
        width: 100px;
      }
      &:nth-child(9) {
        width: 70px;
      }
      &:nth-child(10) {
        width: 114px;
      }
    }
    tfoot {
      td {
        &:nth-child(1), &:nth-child(4) {
          border-right: none;
        }
      }
    }
  }
}

.expanding-row-table {
  .report-table {
    td, th {
      @include table-cell-treatment;
    }
    th:last-child {
      display: none;
    }
  }
}

.forward-commitments-table {
  width: 730px;
  td, th {
    @include table-cell-treatment;
  }
  th {
    &:nth-child(1), &:nth-child(2), &:nth-child(3) {
      min-width: 100px;
    }
    &:nth-child(4), &:nth-child(5), &:nth-child(7) {
      min-width: 120px;
    }
    &:nth-child(6) {
      min-width: 105px;
    }
  }
  tfoot {
    td:nth-child(1) {
      border-right: none;
    }
  }
}

.cap-stock-position-table, .cap-stock-leverage-table {
  width: 512px;
  td, th {
    @include table-cell-treatment;
  }
  th {
    &:nth-child(1) {
      width: 118px;
    }
  }
}

.cap-stock-position-table {
  th {
    &:nth-child(2) {
      width: 112px;
    }
    &:nth-child(3) {
      width: 164px;
    }
    &:nth-child(4) {
      width: 118px;
    }
  }
}

.cap-stock-leverage-table {
  th {
    &:nth-child(2) {
      width: 136px;
    }
    &:nth-child(3) {
      width: 140px;
    }
    &:nth-child(4) {
      width: 120px;
    }
  }
}

.account-summary-report {
  .report-table {
    margin-bottom: 10px;
    &:not(.account-summary-collateral-totals) tbody {
      td:first-child {
        @extend %typography-table-heading;
        background-color: $light-gray;
      }
    }
    tfoot td {
      @extend %typography-table-heading;
      &:first-child {
        border-right: none;
      }
      &:last-child {
        border-left: none;
      }
    }
    td {
      width: auto;
    }
    td:last-child {
      width: 180px;
    }
  }
  section {
    width: 560px;
    margin-bottom: 35px;
  }
  h2 {
    @extend %typography-section-title;
  }
  h3 {
    @extend %typography-subtitle;
    margin-top: 15px;
  }
  h2, h3 {
    margin-bottom: 10px;
  }
  h2.header-with-action {
    text-align: right;
    span {
      float: left;
    }
    a {
      @extend %typography-table-heading;
      text-decoration: none;
      color: $actionable-blue;
      text-transform: uppercase;
    }
  }
  small {
    position: relative;
    padding-left: 10px;
    display: block;
    &:before {
      content: '*';
      position: absolute;
      left: 0;
      top: 0;
    }
  }
  dl {
    @extend %clearfix;
  }
  dt, dd {
    @extend %typography-subtitle;
    float: left;
    line-height: 1.5;
  }
  dt {
    width: 150px;
    color: $medium-gray;
    clear: left;
  }
  dd {
    clear: right;
    margin-left: 0;
  }
}

.account-summary-collateral-totals {
  tbody td {
    @extend %table-footer-cell;
    border-left: none;
    border-right: none;
  }
}

.account-summary-collateral-notice {
  border: solid 1px $actionable-blue;
  border-left: none;
  border-right: none;
  padding: 15px 0px 15px 60px;
  position: relative;
  line-height: 30px;
  box-sizing: border-box;
  &:before {
    color: $actionable-blue;
    position: absolute;
    left: 0;
    top: 15px;
    font-size: 30px;
    line-height: 30px;
  }
}

@media print {
  a, .report-main-body small a, .advances-main-body small a, .authorizations-report a, .reports a, .report a {
    color: $print-link-color;
  }
  .account-summary-report .report-table:not(.account-summary-collateral-totals) tbody td:first-child,
  .account-summary-report tfoot,
  .account-summary-collateral-totals tbody td {
    color: $print-color;
    background: transparent;
  }
  .account-summary-collateral-notice {
    padding-left: 0;
    border-color: $print-color;
    &:before {
      display: none;
    }
  }
  .account-summary-report {
    h2.header-with-action {
      text-align: left;
      a {
        display: none;
      }
      span {
        display: block;
        float: none;
      }
    }
    .report-table:not(.account-summary-collateral-totals) tbody td:first-child {
      color: $print-color;
      @include typography-print-table-cell;
    }
    h2 {
      @include typography-print-subheader;
    }
    dt, dd  {
      @include typography-print-details;
      color: $print-color;
    }
    tfoot td, .account-summary-collateral-totals tbody td {
      color: $print-color;
      @include typography-print-table-total;
    }
  }
  .report {
    color: $print-color;
    h1 {
      @include typography-print-header;
      float: none;
      margin-bottom: 0px;
    }
  }
  .report-header-buttons, .report-inputs {
    display: none;
  }
  .report-main-body {
    margin-bottom: 0px;
    h2 {
      @include typography-print-subheader;
    }
    h3 {
      @include typography-print-summary-title;
    }
    p {
      @include typography-print-table-cell;
    }
    small {
      @include typography-print-footnote;
      width: 66%;
      display: block;
      p, span, span:first-child {
        @include typography-print-footnote;
      }
    }
    .report-table-title {
      margin-bottom: 25px;
    }
  }
  .report-summary-data {
    margin-right: 25px;
    p {
      color: $print-color;
      @include typography-print-summary-data;
    }
  }
  .authorizations-report .report-table tbody td {
    @include typography-print-table-cell;
  }
  .report-table  {
    border: none;
    width: 100%;
    margin-bottom: 15px;
    thead + tbody tr:nth-child(even), &.table-dividend-summary tbody tr:nth-child(even), &.securities-services-table tr:nth-child(even),
    thead, .sorting_asc, .sorting_desc, tbody tr:nth-child(odd), tfoot, td, th {
      background-color: transparent;
      border: none;
      min-width: 0 !important;
    }
    thead + tbody tr:nth-child(even), &.table-dividend-summary tbody tr:nth-child(even), &.securities-services-table tr:nth-child(even) { 
      background-color: transparent;
    }
    tbody td {
      @include typography-print-table-cell;
    }
    thead th {
      @include typography-print-table-heading;
      position: static;
    }
    tfoot td {
      @include typography-print-table-total;
      color: $print-color;
    }
    .report-cell-narrow {
      padding: 6px 8px;
    }
    .report-cell-right {
      padding: 6px 8px;
    }
    tr, td, th, thead, tfoot {
      page-break-inside: avoid;
    }
    tr, td, th {
      vertical-align: top;
    }
    tfoot {
      display: table-row-group;
    }

    tbody tr {
      td {
        padding: 6px 0px;
        border-bottom: 1px solid $light-gray;
        box-sizing: border-box;
      }
    }
    thead tr th {
      border-bottom: 1px solid $light-gray;
    }
  }
  .report-sub-table {
    width: 50%;
    clear: both;
    td, th {
      width: auto;
      &:first-child {
        width: auto;
      }
      padding: 6px 0;
    }
    tbody tr:first-child td {
      border-top: 1px solid $light-gray;
    }
    tbody tr td:first-child {
      padding-left: 12px;
    }
    tfoot tr td {
      border-bottom: 1px solid $light-gray;
    }
  }
  .row {
    width: auto;
  }
  .advances-details-report-table {
    td, th {
      &:last-child {
        display: table-cell;
      }
      br:first-of-type {
        content: ' ';
        &:after {
          content: "\a\a";
          white-space: pre;
        }
      }
    }
  }
  .standard-credit-borrowing-capacity-tables .report-parent-table {
    th:last-child {
      width: 80px;
    }
  }
  .report-print-footer {
    @include typography-print-footer;
    color: $print-color;
    border-top: 1px solid $print-color;
    span {
      padding-left: 10px;
    }
    .page {
      float: right;
    }
  }
  .report-print-date, .report-print-sta, .report-print-filter-text {
    @include typography-print-details;
  }
  .report-print-bank {
    @include typography-print-subheader;
    margin-top: 10px;
  }
  .report-print-details {
    margin-bottom: 50px;
  }
}
