@mixin table-cell-treatment {
  width: auto;
  box-sizing: border-box;
  padding: 10px;
}

.reports {
  h1 {
    @extend %typography-page-title;
    margin: 32px 0 17px;
  }
  a {
    text-decoration: none;
    color: $actionable-blue;
  }
}

.reports-table {
  @extend %table-striped;
  border-bottom: 1px solid $light-blue;
  margin-top: 70px;
  &:last-child {
    margin-bottom: 70px;
  }
  thead {
    border-bottom: 1px solid $light-blue;
  }
  td, th {
    vertical-align: top;
    text-align: left;
    box-sizing: border-box;
    overflow: hidden;
  }
  th {
    @extend %typography-header-text;
    color: $medium-gray;
    &:first-child {
      @extend %typography-section-title;
      padding-bottom: 10px;
      color: $text-color;
    }
  }
  td {
    @extend %typography-subtitle;
    padding-top: 15px;
    height: 100px;
    h3 {
      @extend %typography-subtitle;
      margin: 0 0 5px;
    }
    p {
      margin: 0;
      font-size: 0.8667rem;
      font-weight: $normal-weight;
    }
    &:last-child {
      text-transform: uppercase;
    }
  }
  td:first-child, th:first-child {
    width: (8 * $grid-column-width) + (7 * $gutter-width);
    padding-right: $grid-column-width + $gutter-width;
    padding-left: $gutter-width;
  }
  .updated-cell {
    width: $grid-column-width + (2 * $gutter-width);
  }
  .history-cell {
    width: ( 2 * $grid-column-width) + (2 * $gutter-width);
  }
}

.report-header-buttons {
  float: right;
  margin-top: 32px;
}

.report {
  h1 {
    @extend %typography-page-title;
    margin: 32px 0 17px;
  }
  input {
    color: $dark-gray;
    @include typography-field-value;
  }
  .datepicker-input-field {
    display: none;
  }
}

.report-header {
  @extend %pseudoelement-clearfix;
  h1 {
    float: left;
  }
  p {
    clear: both;
    width: 540px;
    display: block;
  }
}

.report-datepicker, .report-filter {
  width: (3 * $grid-column-width) + (2 * $gutter-width);
  form {
    display: none;
  }
  &.report-filter-wide {
    width: 320px;
    .dropdown-selection {
      width: 320px;
    }
  }
}

.report-datepicker {
  .input-field-container {
    input {
      background-color: $white;
    }
    &.active input {
      background-color: $light-gray;
    }
  }
}

.report-main-body {
  @extend %report-main-body;
  small {
    span:first-child {
      @extend %typography-table-total;
      margin-right: 5px;
      margin-top: 10px;
    }
  }
}

.report-info-indent {
  margin-left: 40px;
}

.report-summary-data {
  display: inline-block;
  width: (3 * $grid-column-width) + (2 * $gutter-width);
  margin-right: $grid-column-width + (2 * $gutter-width);
  margin-bottom: 50px;
  &:nth-child(3) {
    margin-right: 0;
  }
  p {
    @extend %typography-report-summary;
    color: $actionable-blue;
    margin: 0;
  }
  &.report-summary-right {
    text-align: right;
    float: right;
    margin-right: 0;
  }
}

.report-table-title {
   @extend %typography-section-title;
   margin: 0 0 15px;
 }

.report-table-title-with-margins {
  @extend %typography-section-title;
  margin: 50px 0 15px;
}

.report-table {
  @extend %empty_table;
  margin-bottom: 50px;

  td, th {
    border: solid $light-blue;
    border-width: 0 1px 1px 0;
    padding: 10px 15px 10px 15px;
    font-weight: inherit;
    width: 1px; // Causes the table cell to shrink to fit
    white-space: nowrap;
  }

  th {
    text-align: left;
  }

  thead {
    @extend %typography-table-heading;
    background-color: $light-gray;
  }

  tbody {
    @extend %typography-table-cell;
    tr:nth-child(odd) {
      background-color: $lightest-blue;
    }
  }

  tfoot {
    @extend %typography-table-total;
    background-color: $medium-gray;
    border-left: 1px solid $medium-gray;
    border-right: 1px solid $medium-gray;
    color: $white;
  }

  .report-cell-right {
    text-align: right;
  }

  .report-cell-total {
    border-right-width: 0px;
  }

  .report-cell-narrow {
    padding-left: 10px;
  }

  .report-cell-expanding {
    width: auto;
  }

  .sorting, .sorting_asc, .sorting_desc {
    &:hover {
      text-decoration: underline;
    }
  }

  .sorting_asc, .sorting_desc {
    background-color: $secondary-gray;
  }

  .report-detail-cell {
    position: relative;
    display: none;
    padding: 20px 25px;
    h3 {
      margin-bottom: 10px;
    }
    .left-column, .right-column {
      float:left;
      margin-right: 20px;
      width: 434px;
    }
    .right-column {
      margin-right: 0;
    }
    table {
      width: 100%;
      border-top: 1px solid $secondary-gray;
      &:last-child {
        border-bottom: 1px solid $secondary-gray;
      }
      td {
        border: none;
        padding: 10px 0 0;

      }
      tr {
        background-color: inherit;
      }
      tr:last-child td {
        padding-bottom: 10px;
      }
      &:last-child {
        td:first-child {
          vertical-align: top;
        }
        td:last-child {
          line-height: $tight-line-height;
        }
      }
    }
    .hide-detail-view {
      position: absolute;
      top: 10px;
      right: 10px;
      margin: 0;
      text-transform: uppercase;
      color: $actionable-blue;
      cursor: pointer;
    }
  }
  tbody td {
    table {
      td:first-child {
        width: 210px;
        @extend %typography-table-heading;
        color: $medium-gray;
      }
      td:last-child {
        @extend %typography-table-heading;
      }
    }
  }
}

.detail-view {
  .report-detail-cell {
    display: table-cell;
  }
}

.detail-view > td:not(.report-detail-cell) {
  display: none;
}

.detail-view-trigger {
  text-transform: uppercase;
  color: $actionable-blue;
  cursor: pointer;
  vertical-align: top;
}

.report-parent-table {
  margin-bottom: 5px;
}

.report-sub-table {
  float: right;
  width: (7 * $grid-column-width) + (7 * $gutter-width);
  margin-bottom: 0;
  td:first-child {
    width: (4 * $grid-column-width) + (5 * $gutter-width);
  }
}

.table-allow-wrapping {
  td, th {
    white-space: normal;
  }
  th {
    position: relative;
    vertical-align: top;
    &:after {
      position: absolute;
      top: 10px;
      right: 10px;
    }
  }
}

.report-tables-section {
  @extend %clearfix;
  margin-bottom: 50px;
}

.report-table-summary-data {
  display: block;
  float: right;
  margin-right: 0;
  text-align: right;
}

.report-inputs {
  clear: both;
  margin-bottom: 86px;
  .report-datepicker, .report-filter {
    float: left;
  }
}

.report-filter {
  margin-left: 10px;
}

.sta-statement {
  .report-table {
    th {
      box-sizing: border-box;
    }
    th:nth-child(2) {
      min-width: 160px;
    }

    th:nth-child(4), th:nth-child(5), th:nth-child(6) {
      min-width: 105px;
    }
  }
}

.cash-projections-report-table {
  td{ 
    vertical-align: top}
  th {
    &:nth-child(1) {
      min-width: 78px;
    }
    &:nth-child(2) {
      min-width: 78px;
    }
    &:nth-child(3) {
      min-width: 168px;
    }
    &:nth-child(4) {
      min-width: 88px;
    }
    &:nth-child(5) {
      min-width: 64px;
    }
    &:nth-child(6) {
      min-width: 78px;
    }
    &:nth-child(7) {
      min-width: 98px;
    }
    &:nth-child(8) {
      min-width: 98px;
    }
    &:nth-child(9) {
      min-width: 110px;
    }
  }
  tfoot {
    td {
      &:first-child {
        border-right: none;
        padding-right: 45px;
      }
      &:nth-child(4) {
        border-right: none;
      }
    }
  }
}

.advances-details-report-table {
  td, th {
    @include table-cell-treatment;
  }
  th {
    &:nth-child(5) {
      min-width: 78px;
    }
    &:nth-child(6) {
      min-width: 105px;
    }
    &:nth-child(7) {
      min-width: 70px;
    }
    &:nth-child(8) {
      min-width: 101px;
    }
    &:nth-child(9) {
      min-width: 85px;
    }
    &:nth-child(10) {
      min-width: 136px;
    }
    &:last-child {
      display: none;
    }
  }
  tfoot {
    td {
      &:nth-child(1), &:nth-child(2), &:nth-child(4), &:nth-child(6) {
        border-right: none;
      }
    }
  }
}

.price-indications-report {
  .report-filter:first-of-type {
    margin-left: 0;
  }
  .report-datepicker {
    margin-left: 10px;
  }
  .report-table {
    th {
      box-sizing: border-box;
      &:first-child {
        width: 82px;
      }
    }
  }
}

.report-dividend-statement {
  .table-dividend-summary {
    width: 500px;
    td:last-of-type {
      width: 120px;
    }
  }
  .table-dividend-details {
    th {
      &:last-child {
        width: 100px;
      }
    }
    tfoot td:first-child {
      border-right: none;
    }
  }
}

.standard-frc-table, .standard-vrc-table, .sbc-frc-table, .sbc-vrc-table {
  th {
    width: 64px;
  }
}

.standard-vrc-table, .sbc-vrc-table {
  width: auto;
  th:first-child {
    width: 85px;
  }
}

.current-price-vrc-table {
  width: 480px;
  th {
    &:nth-child(2) {
      min-width: 150px;
    }
    &:nth-child(3) {
      min-width: 140px;
    }
  }
}

.current-price-frc-table {
  width: 480px;
  th {
    &:nth-child(2) {
      min-width: 90px;
    }
    &:nth-child(3) {
      min-width: 110px;
    }
    &:nth-child(4) {
      min-width: 100px;
    }
  }
}

.current-price-arc-table {
  width: 380px;
}

.current-price-arc-sbc-table {
  width: 310px;
}

.sta-rate-table {
  width: 350px;
}

.report-securities-services-statement {
  .report-summary-data {
    width: auto;
  }
  .report-table {
    td:first-child {
      width: 300px;
    }
    td:last-child {
      width: 100px;
    }
  }
  .report-summary-right {
    width: 40%;
  }
}

.report-table-vertical-headers {
  td {
    &:nth-child(1) {
      @extend %typography-table-heading;
      background-color: $light-gray;
    }
  }
}

.interest-rate-resets-table {
  width: 600px;
}

.securities-transactions-table {
  width: 940px;
  th {
    &:nth-child(4) {
      min-width: 170px;
    }
  }
  tfoot {
    td {
      &:nth-child(1) {
        border-right: none;
      }
    }
  }
}

.standard-1m_libor-table, .standard-3m_libor-table, .standard-6m_libor-table, .standard-daily_prime-table, .sbc-1m_libor-table, .sbc-3m_libor-table, .sbc-6m_libor-table, .current-price-vrc-table {
  width: auto;
  border-top: none;
  border-left: none;
  th, td {
    border: 1px solid $light-blue;
  }
  th:first-child {
    width: 85px;
  }
  .table-heading-row {
    th:first-child {
      border: none;
      background-color: $white;
    }
    th:last-child {
      text-align: center;
    }
  }
}

td .currency-alignment {
  width: auto;
}

.currency-alignment {
  width: 9em;
  display: block;
  .alignleft {
    float: left;
  }
  .alignright {
    float: right;
  }
}

td.dataTables_empty {
  @extend %empty_table_cell;
}

.letters-of-credit-table {
  td, th {
    @include table-cell-treatment;
  }
  th {
    &:nth-child(1) {
      width: 85px;
    }
    &:nth-child(2) {
      width: 105px;
    }
    &:nth-child(3) {
      width: 140px;
    }
    &:nth-child(4) {
      width: 86px;
    }
    &:nth-child(5) {
      width: 115px;
    }
    &:nth-child(6) {
      width: 100px;
    }
  }
  tfoot {
    td:first-child {
      border-right: none;
    }
  }
}

.authorizations-report {
  p {
    width: 540px;
    &:first-child {
      margin-top: 0;
    }
  }
  a {
    color: $actionable-blue;
  }
  small {
    margin-bottom: 10px;
  }
}

.authorizations-table {
  clear: both;
  width: auto;
  td:first-child {
    @extend %typography-table-heading;
    width: 160px;
    box-sizing: border-box;
    vertical-align: top;
  }
  td:last-child {
    text-align: left;
    width: 540px;
    box-sizing: border-box;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  li {
    line-height: normal;
  }
}

.authorizations-filter {
  margin: 15px 0 30px;
}

.current-securities-report {
  .report-summary-data {
    width: 290px;
    margin-right: 20px;
    span {
      white-space: nowrap;
    }
  }
}

.expanding-row-table {
  td, th {
    @include table-cell-treatment;
  }
  th:last-child {
    display: none;
  }
}

.forward-commitments-table {
  width: 730px;
  td, th {
    @include table-cell-treatment;
  }
  th {
    &:nth-child(1), &:nth-child(2), &:nth-child(3) {
      min-width: 100px;
    }
    &:nth-child(4), &:nth-child(5), &:nth-child(7) {
      min-width: 120px;
    }
    &:nth-child(6) {
      min-width: 105px;
    }
  }
  tfoot {
    td:nth-child(1) {
      border-right: none;
    }
  }
}

@media print {
  .report {
    color: $print-color;
    h1 {
      @include typography-print-header;
      float: none;
      margin-bottom: 0px;
    }
  }
  .report-header-buttons, .report-inputs {
    display: none;
  }
  .report-main-body {
    margin-bottom: 0px;
    h2 {
      @include typography-print-subheader;
    }
    h3 {
      @include typography-print-summary-title;
    }
    p {
      color: $print-color;
      @include typography-print-summary-data;
    }

    small {
      @include typography-print-footnote;
      width: 66%;
      display: block;
      dt {
        font-weight: $bold-weight;
        display: inline-block;
        white-space: nowrap;
        padding-right: 2px;
      }
      dd {
        display: inline;
        margin: 0;
        &:after {
          content: "\a\a";
          white-space: pre;
        }
      }
      dd:last-child:after {
        content: none;
      }
      p {
        @include typography-print-footnote;
      }
    }
    .report-table-title {
      margin-bottom: 25px;
    }
  }
  .report-table  {
    border: none;
    width: auto;
    margin-bottom: 15px;
    thead, .sorting_asc, .sorting_desc, tbody tr:nth-child(odd), tfoot, td, th {
      background-color: transparent;
      border: none;
      min-width: 0 !important;
    }
    tbody td {
      @include typography-print-table-cell;
    }
    thead th {
      @include typography-print-table-heading;
      position: static;
    }
    tfoot td {
      @include typography-print-table-total;
      color: $print-color;
    }
    .report-cell-narrow {
      padding: 6px 8px;
    }
    tr, td, th, thead, tfoot {
      page-break-inside: avoid;
    }
    tr, td, th {
      vertical-align: top;
    }
    tfoot {
      display: table-row-group;
    }

    tbody tr {
      td {
        padding: 6px 0px;
        border-bottom: 1px solid $light-gray;
        box-sizing: border-box;
      }
    }
    thead tr th {
      border-bottom: 1px solid $light-gray;
    }
  }
  .row {
    width: auto;
  }
  .advances-details-report-table {
    td, th {
      &:last-child {
        display: table-cell;
      }
      br:first-of-type {
        content: ' ';
        &:after {
          content: "\a\a";
          white-space: pre;
        }
      }
    }
  }
  .report-print-footer {
    @include typography-print-footer;
    color: $print-color;
    border-top: 1px solid $print-color;
    span {
      padding-left: 10px;
    }
    .page {
      float: right;
    }
  }
  .report-print-date {
    @include typography-print-details;
    margin-bottom: 10px;
  }
  .report-print-bank {
    @include typography-print-subheader;
  }
}
