$resource-page-padding: 140px !default;

.resource-guide-page {
  p {
    padding-right: $resource-page-padding + 210px;
  }
  & > p:first-of-type {
    margin-bottom: 60px;
  }
  small {
    @extend %typography-paragraph;
  }
  a {
    color: $actionable-blue;
    text-decoration: none;
  }
  :not(li) > a {
    text-transform: uppercase;
    display: block;
  }
  small {
    text-transform: uppercase;
    color: $medium-gray;
    display: block;
    margin-bottom: 10px;
  }
  ul {
    margin-bottom: 30px;
    li {
      margin-bottom: 10px;
    }
  }
}

.resource-capital-plan-page {
  p {
    padding-right: $resource-page-padding + 15px;
  }
  a {
    color: $actionable-blue;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
  }
  h2 {
    margin-top: 30px;
  }
}

.resource-guide-page, .resource-forms-page, .resource-capital-plan-page {
  h1 {
    @extend %typography-page-title;
  }
  h2 {
    @extend %typography-section-title;
  }
  h3 {
    @extend %typography-subtitle;
  }
}

.resource-capital-plan-redemption
{
  margin-top: 30px;
  a {
    text-transform: none;
    display: inline;
  }
}

.resource-guide {
  margin-bottom: 25px;
}

.resource-guides {
  margin-bottom: 60px;
}

.resource-guide-updates {
  padding-right: $resource-page-padding;
}

.resource-guide-update {
  margin-bottom: 60px;
  p {
    padding-right: inherit;
  }
  h2 {
    margin-bottom: 20px;
  }
  &:last-child {
    margin-bottom: inherit;
  }
}

.resource-forms-page {
  padding-right: $resource-page-padding;
  a {
    @include typography-dropdown-selector;
    text-transform: uppercase;
  }
  h2, h3 {
    padding-left: 20px;
  }
  h2 {
    margin-bottom: 10px
  }
  h3 {
    margin-bottom: 5px;
  }
  h2 ~ h3 {
    margin-top: 25px;
  }
  section:first-of-type {
    margin-top: 60px;
  }
}

.resource-form-table {
  @extend %table-striped;
  @extend %table-nested-rows;
  border-bottom: 1px solid $light-blue;
  border-top: 1px solid $light-blue;
  margin-bottom: 40px;
  width: 100%;
  .resource-form-number {
    margin-left: 25px;
  }
  td{
    @extend %typography-table-cell;
    padding: 7px 20px;

    &:last-child {
      width: 70px;
      text-align: right;
    }
  }
}
