.securities {
  @extend %page-header;
  h2 {
    @extend %typography-section-title;
    margin: 0 0 5px;
  }
  header {
    margin: 0 0 15px;
  }
}

.securities-requests {
  p {
        margin: 5px 0 10px;
  }
}

.securities-main-body {
  @extend %page-main-body;
}

.securities-success
{
  margin-bottom: 35px;
  &:before {
    @extend %extra-large-icon-font;
    margin-right: 26px;
    vertical-align: middle;
    color: $approval-green;
    position: absolute;
    left: 0;
    top: 0;
  }
  ul {
    padding-left: 30px;
    list-style-type: decimal;
    list-style-position: inside;
    li {
      margin-bottom: 5px;
    }
  }
  .primary-button, .secondary-button {
    margin-right: 10px;
    width: 219px;
  }
  &:first-child {
    position: relative;
    margin-top: 30px;
  }
  p:first-child {
    margin-bottom: 30px;
  }
}

.securities-success-table {
  width: 300px;
  box-sizing: border-box;
  border: 1px solid #d9e3ed;
  border-radius: 3px;
  padding: 15px 15px 20px;
  thead th {
    padding-top: 0;
  }
}

.manage-securities-table {
  th, td {
    &:nth-child(1) {
      vertical-align: middle;
    }
    &:nth-child(3) {
      width: 200px;
    }
  }
}

.securities-table-footnote {
  @extend %typography-horizontal-axis-label;
  text-transform: none;
}

.manage-securities-form, .securities-submit-release-form {
  input[type=submit], .primary-button {
    float: right;
    margin-left: 10px;
    min-width: 110px;
  }
}

.securities-status-filter {
  @extend %table-filter;
}

.manage-securities-table-actions {
  @extend %clearfix;
  margin-bottom: 15px;
}

.safekeep-pledge-title {
  display: inline;
}

%actionable-text {
  @extend %typography-table-button;
  display: inline-block;
  color: $actionable-blue;
  cursor: pointer;
  text-transform: uppercase;
}

.safekeep-pledge-download, .safekeep-pledge-upload-again, .additional-legal h3 {
  @extend %actionable-text;
}

.safekeep-pledge-upload-again {
  margin-left: 490px;
  margin-bottom: 0;
  margin-top: 0;
}

.safekeep-pledge-download-title {
  @extend %actionable-text;
  margin-left: 325px;
}

.additional-legal {
  margin-bottom: 2em;
  p {
    display: none;
  }
  &.expanded-legal {
    span {
      display: none;
    }
    p {
      display: block;
    }
  }
}

.legal-footer {
  @extend %typography-footnote
}

.securities-release, .securities-safekeep, .securities-pledge {
  h2 {
    margin-bottom: 20px;
  }
  section:not(.securities-request-legal) {
    @extend %bordered-section;
  }
  input[disabled]:not([type=submit]) {
    background-color: $white;
  }
}

.securities-delivery-instructions, .securities-broker-instructions {
  .input-field-container-horizontal {
    display: block;
    float: none;
    margin: 0 0 6px;
    label, span {
      color: $medium-gray;
      line-height: 30px;
      vertical-align: top;
      margin-right: 20px;
    }
  }
  .input-field-container {
    width: 180px;
  }
}

.securities-broker-instructions {
  @extend %pseudoelement-clearfix;
  .input-field-container-horizontal {
    @extend %pseudoelement-clearfix;
    width: 50%;
    float: left;
    text-align: right;
    &:nth-of-type(odd) {
      .input-field-container {
        margin-right: 10px;
      }
    }
    &:nth-of-type(even) {
      .input-field-container {
        margin-right: 0;
      }
    }
    &:last-of-type, &:last-of-type(2) {
      margin-bottom: 0;
    }
    .input-field-container {
      text-align: left;
    }
  }
  .pledge_type {
    height: 34px;
  }
}

.securities-delivery-instructions {
  @extend %pseudoelement-clearfix;
  .input-field-container-horizontal {
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.securities-delivery-instructions-fields {
  width: 420px;
  float: right;
  text-align: right;
  &[data-selected-delivery-instruction="dtc"] {
    .securities-delivery-instructions-field-dtc {
      display: block;
    }
  }
  &[data-selected-delivery-instruction="physical_securities"] {
    .securities-delivery-instructions-field-physical-securities {
      display: block;
    }
  }
  &[data-selected-delivery-instruction="fed"] {
    .securities-delivery-instructions-field-fed {
      display: block;
    }
  }
  &[data-selected-delivery-instruction="mutual_fund"] {
    .securities-delivery-instructions-field-mutual-fund {
      display: block;
    }
  }
}

.securities-delivery-instructions-field {
  display: none;
  .input-field-container-horizontal {
    span {
      margin-right: 0;
    }
  }
}

.securities-fed-wire-address-fields {
  color: $medium-gray;
  margin-bottom: 6px;
  p {
    text-align: left;
  }
  span:nth-of-type(2) {
    line-height: 30px;
    vertical-align: top;
    margin: 0 18px;
  }
}

.securities-release-table {
  margin-bottom: 0;
  th, td {
    @include table-cell-treatment;
    &:nth-child(1) {
      width: 100px;
    }
    &:nth-child(3), &:nth-child(4) {
      width: 155px;
    }
  }
}

.securities-actions, .securities-download-actions {
  .primary-button, .secondary-button {
    cursor: pointer;
    padding: 7px 40px;
  }
}

.delete-request-flyout {
  display: none;
}

.flyout .delete-request-flyout {
  display: block;
}

.securities-download {
  @extend %typography-table-button;
  text-transform: uppercase;
  color: $actionable-blue;
  cursor: pointer;
  margin: 20px 0 0;
}

.securities-download-instructions {
  @extend %typography-dashboard-account-summary;
  display: none;
  margin-top: 20px;
  padding: 20px;
  & > p:first-child {
    @extend %typography-default-text;
    margin: 0 0 5px;
  }
  [data-form-submit-trigger] {
    color: $actionable-blue;
    cursor: pointer;
    text-transform: uppercase;
  }
  .file-upload-progress {
    p:last-of-type {
      margin-top: 120px;
    }
  }
}

.safekeep-pledge-download-area {
  @extend %typography-dashboard-account-summary;
  margin-top: 20px;
  padding: 20px;
  & > p:first-child {
    @extend %typography-default-text;
    margin: 0 0 5px;
  }
  [data-form-submit-trigger] {
    color: $actionable-blue;
    cursor: pointer;
    text-transform: uppercase;
  }
}

.securities-upload-instructions {
  display: none;
}

.securities-download-safekeep-pledge {
  @extend %typography-table-button;
  text-transform: uppercase;
  color: $actionable-blue;
  cursor: pointer;
  margin: 20px 0 0;
}

.securities-download-instructions-step, .securities-download-instructions strong, .securities-upload-instructions strong {
  @extend %typography-field-value;
  text-transform: uppercase;
  span {
    text-transform: none;
  }
}

.securities-download-instructions-step, .securities-download-instructions-description {
  display: inline-block;
  float: left;
  margin: 15px 0 0;
}

.securities-download-actions {
  clear: both;
  text-transform: uppercase;
  text-align: center;
  padding: 30px 0;
  span {
    margin-right: 30px;
    &:first-child {
      color: $actionable-blue;
    }
  }
}

.securities-download-instructions-description {
  margin-left: 15px;
  width: 555px;
  p {
    margin: 0;
  }
  span {
    @extend %typography-field-value;
  }
}

.securities-download-instructions-description-term {
  float: left;
  width: 270px;
  margin-top: 15px;
  &:nth-of-type(2), &:nth-of-type(4) {
    margin-left: 15px;
  }
}

.securities-release-upload-error {
  display: none;
  margin-top: -5px;
  color: $alert-red;
}

.securities-submit-release-form-errors {
  color: $alert-red;
}

.securities-request-legal {
  margin-top: -10px;
  margin-bottom: inherit;
}

.securities-delete-request-error {
  @extend %clearfix;
  display: none;
  margin-top: -49px;
  .primary-button {
    float: right;
  }
}

.securities-release-table-wrapper {
  margin-top: 20px;
}