.settings-save-message {
  display: none;
  float: right;
  margin: 0 $gutter-width 0;
  line-height: 35px; // height of the button with which it's supposed to align
}

.settings-selected-item-message, .settings-required-item-message {
  display: none;
  color: $medium-gray;
  margin: 0;
}

.settings-email table {
  border: 1px solid $light-blue;
  border-radius: $default-border-radius;
  margin-bottom: 30px;
  td {
    padding-bottom: 10px;
    vertical-align: top;
  }
  td:first-child {
    @extend %typography-subtitle;
    width: (3 * $grid-column-width) + (1.5 * $gutter-width);
    text-align: right;
  }
  td:nth-child(2) {
    padding-left: $gutter-width;
    padding-right: .5 * $gutter-width;
  }
  td:last-child {
    @extend %typography-paragraph-tight;
    padding-right: $gutter-width;
  }
  tr:first-child td{
    padding-top: 30px;
  }
  tr:last-child td{
    padding-bottom: 30px;
  }
}

.settings-item-required {
  .settings-required-item-message {
    display: block;
  }
}

.settings-item-checked {
  .settings-selected-item-message {
    display: block;
  }
}

.settings-two-factor {
  p {
    margin-bottom: 25px;
  }
}

.settings-reset-pin {
  li:first-child {
    margin-bottom: 20px; 
  }
}

.settings-resynchronize-token {
  .input-field-container:last-child {
    display: block;
  }
  ol {
    margin-top: 0;
  }
}

.settings-group {
  border: 1px solid $light-blue;
  border-radius: $default-border-radius;
  padding: 20px;
  margin-bottom: 20px;
  h2 {
    margin-top: 0;
    margin-bottom: 15px;
  }
  p {
    margin-bottom: 25px;
  }
  ol {
    padding-left: 0;
    list-style-position: inside;
  }
  input[type=submit], input[type=reset] {
    width: 140px;
    float: right;
  }
  input[type=reset] {
    margin-right: 20px;
  }
  @extend %clearfix;
  .settings-active-view {
    display: none;
  }
  &.open {
    .settings-active-view {
      display: block;
    }
    .settings-inactive-view {
      display: none;
    }
  }
  label {
    padding-top: 10px;
    display: inline-block;
  }
  &.loading {
    > * {
      opacity: $faded-opacity;
    }
    position: relative;
    &:before {
      @include icon-loading;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: auto;
      height: auto;
      pointer-events: none;
    }
  }
  .form-flash-message {
    display: block;
  }
}

.settings-users {
  .settings-users-table {
    border: 1px solid $light-blue;
    border-radius: $default-border-radius;
    padding: 15px;
  }
  .settings-users-header {
    position: relative;
    overflow: hidden;
    .table-button {
      position: absolute;
      bottom: 10px;
      right: 0;
    }
  }
  table {
    @extend %table-striped;
    margin: 0;
    td, th {
      padding: 10px;
      &:nth-child(5) {
        text-align: right;
      }
    }
    th {
      @extend %typography-table-heading;
      text-align: left;
    }
    td {
      @extend %typography-table-cell;
    }
    .settings-user-email, .settings-user-actions, .settings-user-role, .settings-user-username, .settings-user-name {
      white-space: nowrap;
    }
    .settings-user-name {
      width: 100%;
    }
    .settings-user-actions {
      text-transform: uppercase;
      padding-left: 0;
      padding-right: 10px;
      color: $medium-gray;
    }
  }
}

.settings-users-overlay {
  overflow: hidden;
  h3 {
    margin-top: 0;
  }
  .settings-users-overlay-details {
    position: relative;
    padding-left: 60px;
    &:before {
      position: absolute;
      top: -6px;
      left: 0;
      font-size: 30px;
      color: $approval-green;
    }
  }
  p {
    margin-bottom: 25px;
  }
  .primary-button {
    width: 240px;
    float: right;
  }
  padding-top: 5px;
  padding-bottom: 5px;
}

.settings-users-error {
  display: none;
  .settings-users-overlay-details:before {
    color: $alert-red;
  }
}

.settings-user-confirm-delete {
  .settings-users-overlay-details:before {
    color: $alert-red;
    top: 0;
    font-size: 36px;
  }
  button {
    width: 240px;
  }
  dt {
    @extend %typography-subtitle;
    float: left;
    width: 120px;
    overflow: hidden;
    clear: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: $medium-gray;
  }
  dd {
    @extend %typography-subtitle;
    @extend %clearfix;
  }
  dl, form {
    padding-left: 60px;
  }
  dd, dt {
    margin-bottom: 7px;
  }
  dl {
    margin: 0 0 30px 0;
  }
  p {
    margin-bottom: 20px;
  }
  form {
    margin-bottom: 20px;
    ul {
      list-style: none;
      padding-left: 20px;
      margin: 0;
    }
    p {
      @extend %typography-subtitle;
      margin: 0 0 3px 0;
      color: $medium-gray;
      line-height: normal;
    }
    label {
      @extend %typography-subtitle;
      line-height: 25px;
      color: $text-color;
    }
    .input-field-container {
      float: left;
      width: auto;
      line-height: 25px;
      height: 25px;
      input[type=radio] {
        width: 20px;
        margin-right: 10px;
        line-height: 25px;
        height: 25px;
        border: none;
        outline: none;
        &:focus {
          background-color: inherit;
        }
      }
    }
  }
}

.settings-users-loading {
  @include icon-loading;
  display: none;
  width: 100%;
  min-height: 110px;
}

.settings-users-flyout {
  &, & .column-1 {
    width: 550px;
  }
}

.settings-user-form {
  .settings-user-form-actions {
    float: right;
  }
  button, .primary-button {
    width: 130px;
    margin-right: 20px;
  }
  .primary-button {
    margin-right: 0;
  }
  form {
    margin-bottom: 30px;
  }
  input[disabled] {
    background-color: $secondary-gray;
  }
  input[name="user[username]"] {
    width: 40%;
  }
  label {
    width: 35%;
    display: inline-block;
    vertical-align: top;
    line-height: $form-input-field-height;
  }
  .input-field-container-horizontal {
    display: block;
    float: none;
    margin-right: 0;
    .input-field-container {
      width: 65%;
      padding-left: 1px;
      box-sizing: border-box;
    }
  }
}

.settings-password {
  h1 + p {
    margin-bottom: 25px;
  }
  p {
    margin-bottom: 20px;
  }
  ol {
    margin: 0;
  }
  label {
    @extend %typography-subtitle;
  }
  .input-field-container input {
    width: 288px;
    display: block;
  }
  .form-actions {
    float: right;
  }
  .secondary-button {
    margin-right: 20px;
    min-width: 100px;
  }
  .input-field-container:last-of-type {
    margin-bottom: 20px;
  }
  fieldset {
    margin-top: 10px;
  }
}