$welcome-right-column-real-width: ((($grid-column-width * 4) + ($gutter-width * 4.5)) / $column-4x8-right-width) * 100%;

.welcome {
  margin-top: 30px;
  h1, .logo-container {
    font-size: 5rem;
    font-weight: $light-weight;
    color: $actionable-blue;
    line-height: 1;
    letter-spacing: -4px;
    margin: 0;
  }
  .column-4x8-left {
    text-align: right;
    padding-right: $gutter-width;
    box-sizing: border-box;
    p:first-child {
      margin: 0;
    }
    p:last-child {
      margin-top: 0;
    }
  }
  .column-4x8-right {
    p {
      width: $welcome-right-column-real-width; // p constrained in way that falls slightly out of grid layout
      margin-top: 0;
    }
    form p {
      width: 100%;
    }
  }
  form, .welcome-logged-out {
    width: $welcome-right-column-real-width;
    @extend %dashboard-module-base-styling;
    padding: 0 20px 20px 20px;
    box-sizing: border-box;
    position: relative;
    .form-flash-message {
      display: block;
    }
  }
  legend, .welcome-logged-out h2 {
    @extend %dashboard-module-header;
    @extend %typography-section-title;
    display: block;
    width: calc(100% + 40px);
    box-sizing: border-box;
    position: relative;
    left: -20px;
    right: -20px;
    margin-bottom: 20px;
  }

  .input-field-container {
    margin-bottom: 20px;
    &:last-of-type:not(.dropdown) {
      margin-bottom: 10px;
    }
    label.label-error {
      margin-bottom: 0;
    }
  }

  label {
    @extend %typography-subtitle;
    margin-bottom: 3px;
    display: block;
  }

  input {
    width: 100%;
  }

  input[type=submit], .logout-link, .secondary-button {
    width: calc(50% - 10px);
  }

  input[type=submit] {
    float: right;
  }

  a:not(.secondary-button):not(.primary-button) {
    @extend %link-style;
  }

  .welcome-login {
    a {
      @extend %typography-table-link;
      @extend %link-style;
    }
  }

  .welcome-login, .welcome-password-change {
    input[type=submit] {
      width: 100%;
    }
  }

  .welcome-password-change {
    .input-field-container:last-of-type {
      margin-bottom: 20px;
    }
  }

  form a:not(.secondary-button):not(.primary-button) {
    color: $actionable-blue;
    display: block;
    margin-bottom: 20px;
    line-height: 1;
    text-decoration: none;
    &:last-child {
      margin-bottom: 0;
    }
  }

  form a.primary-button {
    display: block;
    color: $white;
  }
  
  select {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
  
  option:disabled {
    display: none;
  }

  .row {
    overflow: visible;
  }
  .terms-row {
    h1 {
      @extend %typography-confirmation-label;
      border-bottom: 1px solid $light-blue;
      color: $text-color;
      letter-spacing: normal;
      padding: 20px;
    }
    h2 {
      @extend %typography-subtitle;
      line-height: 1;
      margin: 20px 0 10px;
    }
    p, li {
      @extend %typography-header-nav;
    }
    h2 + p, h2 + ol {
      margin-top: 0;
    }
    section:not(:first-of-type) {
      padding: 0 20px 20px 20px;
    }
    section:nth-of-type(2) {
      @extend %dashboard-module-base-styling;
      height: 320px;
      margin: 20px;
      overflow-y: scroll;
    }
    section:last-of-type {
      @extend %clearfix;
    }
    form {
      width: $column-8-width;
      margin: 0 auto 35px;
      padding: 0;
      a {
        display: inline;
        margin-bottom: auto;
        line-height: normal;
        text-transform: none;
        text-decoration: none;
      }
    }
    .secondary-button {
      text-transform: uppercase;
      display: inline-block;
      line-height: 1;
    }
  }
  .password-change-success {
    padding-top: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    &:before {
      content: $icon-success;
    }
  }
  .welcome-logged-out {
    h2 {
      margin: 0;
    }
    p {
      width: auto;
      margin: 15px 0;
    }
    a {
      @extend %typography-table-button;
      width: 100%;
    }
  }
}

.welcome, .error-page {
  .logo {
    @extend %hide-text;
    height: 50px;
    width: round($logo-aspect-ratio * 50px);
    display: inline-block;
    background: $logo-black no-repeat;
    background-size: contain;
  }
}

