$logo: 'logo-color.png'; // we'll want to replace this with an SVG and also take retina into account

.welcome {
  margin-top: 30px;
  h1, .logo {
    font-family: $light-font-family;
    font-size: $largest-font-size;
    font-weight: $light-weight;
    color: $actionable-blue;
    line-height: 1;
    letter-spacing: -4px;
    margin: 0;
  }
  .column-4x8-left {
    text-align: right;
    padding-right: $gutter-width;
    box-sizing: border-box;
    p:first-child {
      margin: 0;
    }
    p:last-child {
      margin-top: 0;
    }
  }
  .column-4x8-right {
    p {
      width: ((($grid-column-width * 4) + ($gutter-width * 4.5)) / $column-4x8-right-width) * 100%; // p constrained in way that falls slightly out of grid layout
      margin-top: 0;
    }
  }
  .logo {
    @extend %hide-text;
    position: relative;
    background: image-url($logo) right center no-repeat;
  }
}
