@import '../node_modules/bootstrap/dist/css/bootstrap.css';
@import '../node_modules/react-geosuggest/module/geosuggest.css';

html {
  font-size: 16px;
}

body {
  font-family: Nunito;
}

.geosuggest__input {
  border: 2px solid black;
  border-radius: 100px;
  box-shadow: none;
}
