- colspan ||= false
%tr
  %td.table-loading-cell{colspan: (colspan if colspan)}= t('global.prepare_table')
  %td.table-error-cell.icon-alert-before{colspan: (colspan if colspan)}= t('errors.error_occurred')