.loading-report
  %p{data:{'error-text' => t('errors.error_occurred')}}= t('global.prepare_download')
  %a.cancel-report-download{data:{'error-text' => t('global.close')}}= t('global.cancel_download')