%dl
  - notes.each do |term, description|
    %dt= term + ':'
    - if description.is_a?(Array) 
      - description.each do |line|
        %dd
          %dl
            %dt= line.first + ':' 
            %dd= line.last
    - else
      %dd= description