.loading-report
  .loading-message
    %p= t('global.prepare_download')
    %a.cancel-report-download{data:{'flyout-action' => 'close'}}= t('global.cancel_download')
  .error-message
    %p= t('errors.error_occurred')
    %a{data:{'flyout-action' => 'close'}}= t('global.close')