- @member_name ||= ''
- @as_of ||= @end_date || @start_date || @date || Time.zone.now.to_date
- @report_name ||= t('global.report')
.report-print-footer
  = t('global.fhlb_full')
  %span.report-bank-name
    = @member_name
  %span.report-as-of
    = t('reports.pdf_footer', date: fhlb_date_standard_numeric(@as_of), report_name: @report_name)
  %span.page 1