@import '../../styles/mixins';

.root {
  @include page-root;
}

.googleButtonContainer {
  margin: 2em 0;
}

$button-height: 44px;

.googleButton {
  height: calc($button-height + 2px);
  position: relative;
  padding-left: calc($button-height + 16px);
}

.googleLogo {
  border-radius: calc($border-radius-lg - 1px);
  left: 0;
  height: $button-height;
  position: absolute;
  top: 0;
}
