@import '../../styles/variables';

.root {
  list-style: none;
  margin: 0;
  padding: 20px;
  padding-top: 0;
}

.nothing,
.welcome {
  background: $white-color;
  border: $default-border;
  padding-bottom: 20px;
  padding-top: 20px;
  width: auto;

  h2 {
    font-weight: bold;
  }

  p {
    font-size: 1.25em;
  }

  :first-child {
    margin-top: 0;
  }

  :last-child {
    margin-bottom: 0;
  }
}

.nothing {
  text-align: center;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.fadeIn {
  animation: fadeIn .35s forwards;
  animation-timing-function: cubic-bezier(.39, .575, .565, 1);
}

@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

.fadeOut {
  animation: fadeOut .3s forwards;
  animation-timing-function: cubic-bezier(.47, 0, .745, .715);
}
