@import '../../styles/_variables.scss';

.root {
  list-style: none;
  margin: 0;
  padding: 20px;
  padding-top: 0;
}

.nothing,
.welcome {
  background: $white-color;
  border: $default-border;
  padding-bottom: 20px;
  padding-top: 20px;

  h2 {
    font-weight: bold;
  }

  p {
    font-size: 1.25em;
  }

  :first-child {
    margin-top: 0;
  }

  :last-child {
    margin-bottom: 0;
  }
}

.nothing {
  text-align: center;
}
