!!!
%html.email
  %head
    %meta{charset: "utf-8"}
    %style
      != asset_source('email.css')
  %body
    %header
      - if defined?(@resource)
        .user-name
          = @resource.display_name || @resource.username
      - if defined?(@member_name)
        .member-name
          = @member_name 
    = yield