- css_manifest ||= 'print'
!!!
%html
  %head
    %style
      - css_manifest_filename = (css_manifest.end_with?('.css') ? css_manifest : css_manifest + '.css' )
      != asset_source(css_manifest_filename)
    :javascript
      function subst() {
        var vars={};
        var x=window.location.search.substring(1).split('&');
        for (var i in x) {var z=x[i].split('=',2);vars[z[0]] = unescape(z[1]);}
        // These values are supplied by wkhtmltopdf as query string params when rendering external header/footer html
        var x=['frompage','topage','page','webpage','section','subsection','subsubsection'];
        for (var i in x) {
          var y = document.getElementsByClassName(x[i]);
          for (var j=0; j<y.length; ++j) y[j].textContent = vars[x[i]];
        }
      }
  %body{onload: 'subst()'}
    = yield